<?xml version="1.0"?>
<!--$ClientShortName$-->
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="AvataxConfig" type="System.Configuration.NameValueSectionHandler" />
		<section name="netsteps.wireup" type="NetSteps.Encore.Core.Wireup.WireupConfigurationSection, NetSteps.Encore.Core" />
		<section name="netsteps.identify" type="NetSteps.Encore.Core.Process.ProcessIdentifyConfigurationSection, NetSteps.Encore.Core" />
		<sectionGroup name="PaymentGateways" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
			<section name="AuthorizeNet" type="NetSteps.Common.Configuration.PaymentGatewaySection, NetSteps.Common"/>
		</sectionGroup>
	</configSections>
	<netsteps.identify environment="dev" />
	<netsteps.wireup>
		<assemblies>
			<add assembly="NetSteps.Data.Entities" ordinal="0" />
		</assemblies>
	</netsteps.wireup>

	<!--Avatax Configuration settings-->
	<AvataxConfig>
		<add key="Url" value="https://development.avalara.net"/>
		<add key="ViaUrl" value=""/>
		<add key="RequestTimeout" value=""/>
		<add key="Account" value="1100118442"/>
		<add key="License" value="AEEF2C2DB64B281F"/>
		<add key="CompanyCode" value="VenturaInc"/>
		<add key="OriginAddressLine1" value="101 California St."/>
		<add key="OriginAddressLine2" value="Suite 800"/>
		<add key="OriginAddressLine3" value=""/>
		<add key="OriginAddressCity" value="San Francisco"/>
		<add key="OriginAddressRegion" value="CALIFORNIA"/>
		<add key="OriginAddressPostalCode" value="94111"/>
		<add key="OriginAddressCountry" value="US"/>
		<add key="ClientProfile" value="Encore,1.0"/>
		<add key="ShippingTaxCode" value="FR020100" />
		<add key="HandlingTaxCode" value="OH010000" />
	</AvataxConfig>

	<PaymentGateways>
		<AuthorizeNet configProtectionProvider="NetStepsProtectedConfigurationProvider">
			<EncryptedData>iblgre4tVgdlxdgad7QwCK1HqOEiXEnyMMZpOB2v2kVvxlIwgWw9aJ1SqXUgMbMapwUtbYJLEdW2oqRGzcwVlAZ9Sew/bzCVUVA6vrq0p5a76g356dgIPBzQDmk/SHjtWPCLT33hq243nozRcgavdYTJiA0G/66n/GKX7L/YrhIIsM7B8AeoB0YInNJ+kGMPlH4NuKJb6xnZSV2U+AFfUF86FrroezmsF+v7+B27sWk1RvMvB6dMw+aMfWBCJWzcd1en1+Mhu/hNG3UGV/BR77mGxSgd2kuvyRSQNJ11fhsie03hZsWkkvQKslsfG5Ge</EncryptedData>
		</AuthorizeNet>
	</PaymentGateways>
	<configProtectedData>
		<providers>
			<add name="NetStepsProtectedConfigurationProvider" type="NetSteps.Security.NetStepsProtectedConfigurationProvider, NetSteps.Security" />
		</providers>
	</configProtectedData>
	<appSettings>
		<add key="ISOConfiguration" value="ISOConfiguration.xml"/>
		<add key="CurrentClient" value="$ClientShortName$"/>
		<add key="ApplicationSourceID" value="10"/>
		<add key="LogErrors" value="True"/>
		<add key="Domains" value="$DwsDomainAndTopLevelDomain$"/>
		<add key="OverviewDays" value="30"/>
		<add key="CorporateAccountID" value="1"/>
		<add key="NSCoreSiteID" value="420"/>
		<add key="StoreFrontID" value="1"/>
		<add key="IsPaymentLiveMode" value="false"/>
		<add key="IsPaymentTestTransaction" value="false"/>
		<!-- If this is set to test transaction = true, no transactions will show up in the sandbox. -->
		<add key="EnvironmentLevelDomain" value=""/>
		<add key="UsesEncoreCommissions" value="false"/>
	</appSettings>
	<connectionStrings>
    <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=10.12.6.187;Initial Catalog=BelcorpBRACore;Persist Security Info=True;Integrated Security=false;Application Name=QUE;MultipleActiveResultSets=True;uid=Usrencorebrasilqas;pwd=Belcorp2014" />
    <add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=10.12.6.187;Initial Catalog=BelcorpBRAMail;Persist Security Info=True;Integrated Security=false;Application Name=QUE;MultipleActiveResultSets=True;uid=Usrencorebrasilqas;pwd=Belcorp2014" />
    <add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=10.12.6.187;Initial Catalog=BelcorpBRACommissions;Persist Security Info=True;Integrated Security=false;Application Name=QUE;MultipleActiveResultSets=True;uid=Usrencorebrasilqas;pwd=Belcorp2014" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Debug">
		<listeners>
			<add
					   name="Rolling Flat File Trace Listener"
					   type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					   listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					   fileName="Logs\AutoshipProcessor.log"
					   footer=""
					   formatter="Text Formatter"
					   header=""
					   rollFileExistsBehavior="Increment"
					   rollInterval="Day"
					   timeStampPattern="yyyy-MM-dd"
					   maxArchivedFiles="30"
					   traceOutputOptions="DateTime"/>
		</listeners>
		<formatters>
			<add
					   name="Text Formatter"
					   type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					   template="{timestamp}, {win32ThreadId}, {category}, {message}"/>
		</formatters>
		<logFilters>
			<add
					   name="Category Filter"
					   type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<categoryFilters>
					<!-- Uncomment to exclude debug messages from the log -->
					<!--<add name="Debug" />-->
				</categoryFilters>
			</add>
		</logFilters>
		<categorySources>
			<add switchValue="All" name="Error">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="Warning">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="Info">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="Debug">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FlitBit.Core" publicKeyToken="38f03d0878531ff3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.10.1.0" newVersion="2.10.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>