<?xml version="1.0"?>
<!--BelcorpUSA-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<netsteps.identify environment="testing" xdt:Transform="SetAttributes" />
	<appSettings>
		<add key="EnvironmentLevelDomain" value=".belcorpusa.com.belcorpusa.testing.netsteps.local" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>
