
//Compass Imports
@import "compass/css3";
@import "compass/css3/opacity";
@import "compass/css3/images";
@import "compass/utilities";

//Viewport breakpoints
$break-large:	1024px;
$break-med:		640px;
$break-small:	320px;
$min-desktop: 960px;


/*Base Font Settings*/
$FontFamily:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$BaseFontSize: 12px; //Pixels that will set a base point for em's to size accordingly
/*Site Color Settings*/
$DarkBg: #333; //Primary Color
$SecBg: #bebebe !default; //Secondary Color
$LightBg: #efefef !default; //Light Version of Secondary Color
$MainBg: #000 !default;  //Tertiary Color
$copy: #444;
$ColorTheme:0; //0-None, 1-Monochromatic, 2-Analogous, 3-Complementary, 4-Split Complementary, 5-Triadic

$WhiteBg: #fff;
$PageBg: $WhiteBg;
/*Site Text Color Settings*/
$BodyText: #000;
$DarkBgText: #fff;
$SecBgText: #333;
$LightBgText: #5e5e5e;
$MainBgText: #fff;
/*Site Link Color Settings*/
$BodyLink: #777;
$BodyLinkHover: #000;
$NavLink: $DarkBgText;
$DarkBgLink: $LightBg;
$SecBgLink: $NavLink;
$LightBgLink: $DarkBg;
$MainBgLink: $DarkBg;
$AltLink: $SecBgText;

$NuetralMessage: #fffde7;
$WarningMessage: #c4124c;
$SuccessMessage: #6EB43F;

$MainButton: #64A63A;

/*Theme, BE SURE TO SET TO '0' if you want to control each color variable in the Color Settings*/



$BodyBgColor: $MainBg;

$SiteBgImg: none; 

/*BorderSettings*/
$BorderColor:#d1d3d4;
$BorderSize: 1px;
$BorderRadius: 5px !default; //Set to 0 for no rounded corners on elements
/*Site Layout Settings*/
$SiteWidth: 960px; //you may use % or px, but be sure the $layoutPad is the same
$layoutPad: 0; //spacing between edge of site and content
$SideColumnLocation: left; //left, right

$ProductsPerRow: 3;
$ProductThumbBoxSpacing: 10px;
$ProductName_H: 2em;
$ProductThumbImg_MaxH: 160px;
$ProductThumbBoxPadding: 5px;
/*Visual Effects Settings*/
$Gradients: none; //smooth, glossy, none

$EnrollmentProductImg: 200px;

$ProductThumbBoxBrdrSize: 1px; //0px for no border
$ProductThumbBoxShadowSize: 0px; //0px for no BoxShadow and make sure $ProductThumbBoxSpacing had enough room
$HideIconLabels: yes; //yes, no
/*Alerts*/
$Notification: $NuetralMessage; //Alert Background color
$Error: $WarningMessage; //Color for errors or notifications of high importance
$Success: $SuccessMessage; //Color for available or success notifications

/***********************************************/
$IconSize: 2em;

$ButtonRadius: $BorderRadius; //Button border radius size
/*$IconColor: $BodyLink;*/
$HeaderFontFamily: $FontFamily; //H1
$HeaderText: $MainBg; //H1
$Border: $BorderColor $BorderSize solid;
$NavDropdownBg: $DarkBg;
$NavDropdownHover: $SecBg;






/**********************************************************
* Mixins
**********************************************************/
@mixin site-body {
	background:#fff;
}



@mixin inline-nav {
	margin:0;
	padding:0;
	list-style-type:none;
	li {
		display:inline;
		a {
			display:inline-block;
		}
	}
}

@mixin horizontal-nav-li-rules {
	margin:0 1em 0 1em;
}

@mixin list-nav {
	@include flat-list;
	li {
		a {
			display:block;
		}
	}
}

@mixin flat-list {
	margin:0;
	padding:0;
	list-style-type:none;
}



@mixin site-typography {
	font-size:62.5%;
	line-height:150%;
	font-family:$FontFamily;
	color:$copy;
}

@mixin BorderRadius($brdrs: all, $rSize: $BorderRadius) {
	$r: $rSize $rSize $rSize $rSize !default;
	@if ($brdrs == top) {
		$r: $rSize $rSize 0 0;
	}
	@else if ($brdrs == bottom) {
		$r: 0 0 $rSize $rSize;
	}
	-moz-border-radius:$r;
	-webkit-border-radius:$r;
	border-radius:$r;
}
@mixin BoxShadow($size: 5px, $rgba: rgba(0,0,0,.4)) {
	-moz-box-shadow: 0 0 $size $rgba;
	-webkit-box-shadow: 0 0 $size $rgba;
	box-shadow: 0 0 $size $rgba;
}

@mixin DottedLine {
	border-bottom:1px dotted lighten($BorderColor, 10%);
}

@mixin HideText {
	@if ($HideIconLabels == yes) {
	text-indent: -999em;
	overflow:hidden;
	}
}

@mixin bgImg($bgCol, $bgImg, $bgImgProp) {
	@if ($bgImg == none) {
		background:$bgCol;
	}
	@else if ($bgImg == gradient) {
		@include gradient(fade(darken($BodyBgColor, 30%), 50%), $bgCol);
	}
	@else if ($bgImg != none /*|| $bgImg != gradient*/) {
		background:$bgCol $bgImg $bgImgProp;
	}
}


/*.colorCheck(@c) when (lightness(@c) >= 50%) {
    background: darken(@c, 20%);
}
.colorCheck(@c) when (lightness(@c) < 50%) {
    background: lighten(@c, 15%);
}*/

@mixin gradientColorCheck($c) {
	@if (lightness($c) >/*=*/ 50%) {
		//@nc: darken(@c, 20%);
		//$nc: $c;
		@include gradient($c, darken($c, 20%));
	}
}
@mixin gradientColorCheck($c) {
	@if(lightness($c) < 50%) {
		//@nc: lighten(@c, 15%);
		//@nc: @c;
		//@include gradient($c, /*darken($c, 20%)*/$c);
	}
	background:$c;
}
@mixin gradient($c, $c2) {
	@if ($Gradients == smooth) {
		background: $c;
		background: -moz-linear-gradient(top, $c 0%, $c2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$c), color-stop(100%,$c2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, $c 0%,$c2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, $c 0%,$c2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, $c 0%,$c2 100%); /* IE10+ */
		background: linear-gradient(to bottom, $c 0%,$c2 100%); /* W3C */
		//filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",$c,$c2)); // IE9 and down
	}
	@else if ($Gradients == glossy) {
		background: $c;
		background: -moz-linear-gradient(top,  $c 0%, darken($c, 15%) 50%, $c2 51%, $c2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$c), color-stop(50%,darken($c, 15%)), color-stop(51%,$c2), color-stop(100%,$c2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, $c 0%,darken($c, 15%) 50%,$c2 51%,$c2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, $c 0%,darken($c, 15%) 50%,$c2 51%,$c2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, $c 0%,darken($c, 15%) 50%,$c2 51%,$c2 100%); /* IE10+ */
		background: linear-gradient(to bottom, $c 0%,darken($c, 15%) 50%,$c2 51%,$c2 100%); /* W3C */
		//filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@c,@c2)); // IE9 and down
	}
	@else if ($Gradients == none) {
		background:$c;
	}
}
@mixin ButtonGradient($c, $c2) {
		background: $c;
		background: -moz-linear-gradient(top, $c 0%, $c2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$c), color-stop(100%,$c2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, $c 0%,$c2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, $c 0%,$c2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, $c 0%,$c2 100%); /* IE10+ */
		background: linear-gradient(to bottom, $c 0%,$c2 100%); /* W3C */
		//filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",$c,$c2)); // IE9 and down
}
@mixin style($style, $shadowSize: 5px, $brdrSize: 1px) {
	@if ($style == shadow) {
		@include BoxShadow($shadowSize);
	}
	@else if ($style == border) {
		border:$brdrSize solid $BorderColor;
	}
	@else if ($style == both) {
		@include BoxShadow($shadowSize);
		border:$brdrSize solid $BorderColor;
	}
}
@function theme($theme, $colors) {
	@if ($theme == 0) {
		$colors: $colors;
	}
	@else if ($theme == 1) {
		$colors: ($DarkBg - #333) (hsl(hue($DarkBg), 95%, 95%)) ($DarkBg + #333);
	}
	@else if ($theme == 2) {
		$colors: (adjust-hue($DarkBg, -30deg)) (hsl(hue(adjust-hue($DarkBg, -30deg)), 95%, 95%)) (adjust-hue($DarkBg, 30deg));
	}
	@else if ($theme == 3) {
		$colors: (complement($DarkBg)) (hsl(hue(complement($DarkBg)), 95%, 95%)) (complement($DarkBg) + #444);
	}
	@else if ($theme == 4) {
		$colors: (adjust-hue($DarkBg, 150deg)) (hsl(hue(adjust-hue($DarkBg, 150deg)), 95%, 95%)) (adjust-hue($DarkBg, 210deg));
	}
	@else if ($theme == 5) {
		$colors: (adjust-hue($DarkBg, -120deg)) (hsl(hue(adjust-hue($DarkBg, -120deg)), 95%, 95%)) (adjust-hue($DarkBg, 120deg));
	}
	@return $colors;
}


@mixin base-button-rules {
	@include border-radius(10px);
	padding:.5em 1em;
	font-weight:bold;
}
@mixin main-button-style {
	@include base-button-rules;
	@include ButtonGradient(tint($MainButton,25%),$MainButton);
	color:tint($MainButton,90%);
	@include text-shadow(rgba(0,0,0,.25)-1px -1px 0);
	@include transition-property(color);
}
@mixin main-button-hover {
	background:$MainButton;
	color:#fff;
}

@mixin minor-button-style {
	@include base-button-rules;
	@include ButtonGradient(tint($DarkBg,75%),tint($DarkBg,25%));
	color:#fff;
}

@mixin minor-button-hover {
	background: tint($DarkBg,25%);
}

@mixin button-inactive {
	@include base-button-rules;
	@include ButtonGradient(tint($SecBg,25%),$SecBg);
	color:#fff;
	@include opacity(.50);
	cursor:default;
}

