
/************************
Home Page Template 1A
************************/

$gutter: 20px;
$wideCol: 630px;
$narrowCol: 310px;


#HomeInner {
	overflow:hidden;
}


.NewsRollWrapper {
	margin-bottom:$gutter;
	height:100px;
	#NewsTicker {
		position:relative;
		width:85%;
		margin:0 $gutter 0 $gutter;
		height:100%;
	}
	#NewsList {
		width:100%;
		.ArticleImage {
			float:left;
			width:230px;
			height:100px;
			display:block;
			margin-right:$gutter;
			overflow:hidden;
		}
		div.FL {
			width:540px;
			p {
				.block {
					margin-top:.25em;
				}
			}
		}
	}
	.UI-cycle-icon {
		width:5%;
		height:100%;
		background: tint($DarkBg,50%);
		color: tint($DarkBg,75%);
		font-size:200%;
		line-height:400%;
		text-align:center;
		cursor:pointer;
		@include transition-duration(1s);
		&.hovered, &:active {
			background: $DarkBg;
			color: tint($DarkBg,90%);
		}
	}
}

.homeCol_a {
	margin-bottom:$gutter;
	overflow:hidden;
	.block1 {
		width: $narrowCol;
		height:275px;
		float:left;
	}
	.block2  {
		height:275px;
		width:$wideCol;
		margin-left:$gutter;
		float:left;
	}
	&.corpTemplate {
		.block2 {
			margin-left:0;
			width: 100%;
		}
	}
}

.homeCol_b {
	overflow:hidden;
	.columnCmsBlocks {

		width:$narrowCol;
		float:left;
		margin-right:$gutter;
		
		.block4 {
			height:125px;
			margin-bottom:$gutter;
		}
		
		.block5 {
			height:125px;
		}
	}
	
	.block3 {
		float:right;
		width:$wideCol;
		height:270px;
	}

}
