.LModal, .PModal { 
	display: none; 
	position: fixed; 
	top: 0; 
	left: 50%; 
	margin-left: -300px;
	width: auto; 
	color: $copy; 
	padding: .8em; 
	font-weight: normal;
	text-transform: none; 
	background:lighten($DarkBg, 30%);
	@include box-shadow(rgba(0,0,0,.25)0 0 5em);
}

/* Hard Modal */
.PModal { 
	background: transparent; 
	color: #fff; 
	font-size: 1.85em; 
}

.mContent { 
	background:$PageBg;
	padding: 1em; 
	border: .1em solid #2F2F2F; 
	border-bottom-color: #c0c0c0; 
	border-right-color: #c0c0c0; 
}

.jqmOverlay { background-color: #efefef; }

.HModalOverlay { background-color: #000000; }

.Processing h2 { margin-bottom: 1em; }

.LModal h2, .HModal h2 { background:$DarkBg;color:$DarkBgText;margin-bottom: 1em; padding: .5em; text-transform: uppercase; font-size: 1.25em; }

.LModal .Label { margin-right: 1.5em; min-width: 6em; }

.modalBackground { background-color: Gray; filter: alpha(opacity=70); opacity: 0.7; }

.modalPopup { background-color: #ffffdd; border-width: .3em; border-style: solid; border-color: Gray; padding: 1em; width: 1.85em; text-align: center; }

.WaitWin{line-height: 22px; width: 100%; text-align: center;}

/* Invoice Modal Styles */
.SendWin { margin-top: 0px !important; }

.SendWin .Label { margin-right: 15px; min-width: 75px; }

.SendWin .mContent { text-align: right; width: 315px; padding: 0px 10px 10px 10px; *padding:10px; }
.SendWin .mContent h2 { text-align: center; }
.SendWin .FormStyle2 .Label { float: left; margin-right: 10px; width: 150px; white-space: normal; }
.SendWin .FormStyle2 p { clear: both; }

.SendWin .mContent input { width: 80%; text-align: right; }
.SendWin .lineHeight { line-height: 25px; }
.SendWin .Buttons { clear: both; margin-top: 10px; }

/*Delete modal*/
.modalDelete .message { float: right; margin-right: 10px; width: 252px; margin-top: -20px; *margin-top:0px; }

.modalDelete .Buttons { text-align: center; margin-left: 80px; }

.modalDelete img { margin-top: 2px; margin-left: 10px; }

