/*******************************************************************************
* Public Media Library
*******************************************************************************/
#mediaLibraryPublic {
	border:solid $BorderColor;
	border-width:0 1px 1px;
	.emLibraryFolders {
		text-align:center;
		ul {
			text-align:left;
		}
	}
}

#imagesBrowser {
	.emLibraryItem {
		border:1px dotted lighten($BorderColor, 10%);
	}
	.actionItems {
		background: tint($LightBg,75%);
		border:1px solid tint($LightBg,95%);
	}
} 