

@font-face {
	font-family: 'encorePWSIcons';
	src: url('../Fonts/encore-pws-icons.eot');
	src: url('../Fonts/encore-pws-icons.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/encore-pws-icons.svg#icomoon') format('svg'),
		url('../Fonts/encore-pws-icons.woff') format('woff'),
		url('../Fonts/encore-pws-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Use the following CSS code if you want to have a class per icon */
.UI-icon:before {
	font-family: 'encorePWSIcons';
	font-style: normal;
	speak: none;
	font-size:$IconSize;
	vertical-align:-.25em;
	//padding:5px;
	//border-radius:16px;
	//@include ButtonGradient(#666, #111);
	//color:#eee;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'encorePWSIcons';
	content: attr(data-icon);
	font-size:1.75em;
	speak: none;
	font-size:$IconSize;
	vertical-align:-.25em;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.SiteInfo span.icon-userArrowRight, .SiteInfo span.icon-userArrowRight-hover {width:.55em;}
.SiteInfo .UI-icon:before {font-size:1.45em;}

.UI-icon-container span {line-height:$IconSize;}
/*
.icon-arrowDown:before, .icon-arrowDown-hover:before {content: "\25bc";}
.icon-arrowNext:before, .icon-arrowNext-hover:before {content: "\25b6";}
.icon-arrowPrev:before, .icon-arrowPrev-hover:before {content: "\25c4";}
.icon-arrowUp:before, .icon-arrowUp-hover:before {content: "\25b2";}
.icon-bundle-add:before, .icon-bundle-add-hover:before {content: "\25a1";}
.icon-bundle-arrow:before,.icon-bundle-arrow-hover:before {content: "\2319";}
.icon-bundle-full:before, .icon-bundle-full-hover:before {content: "\25a0";}
.icon-cart:before, .icon-cart-hover:before {content: "\2334";}
.icon-check:before, .icon-check-hover:before {content: "\2714";}
.icon-delete:before, .icon-delete-hover:before, #CartItems .icon-x:before, #CartItems .icon-x-hover:before {content: "\2715";}
.icon-edit:before, .icon-edit-hover:before {content: "\270f";}
.icon-editAlt:before, .icon-editAlt-hover:before {content: "\2638";}
.icon-email:before, .icon-email-hover:before, .icon-emailBio:before, .icon-emailBio-hover:before {content: "\2709";}
.icon-facebook:before, .icon-facebook-hover:before {content: "\66";}
.icon-file-pdf:before, .icon-file-pdf-hover:before {content: "\2637";}
.icon-help:before, .icon-help-hover:before {content: "\3f";}
.icon-hide:before, .icon-hide-hover:before {content: "\25c9";}
.icon-info:before, .icon-info-hover:before {content: "\69";}
.icon-phoneBio:before, .icon-phoneBio-hover:before {content: "\260e";}
.icon-pinterest:before, .icon-pinterest-hover:before {content: "\50";}
.icon-plus:before, .icon-plus-hover:before {content: "\271a";}
.icon-refresh:before, .icon-refresh-hover:before {content: "\21ba";}
.icon-search:before, .icon-search-hover:before {content: "\260c";}
.icon-show:before, .icon-show-hover:before {content: "\25ce";}
.icon-star:before, .icon-star-hover:before {content: "\2605";}
.icon-twitter:before, .icon-twitter-hover:before {content: "\74";}
.icon-userArrowDown:before, .icon-userArrowRight-hover:before, .UI-icon-container:hover .icon-userArrowRight:before {content: "\25be";}
.icon-userArrowRight:before {content: "\25b8";}
.icon-warning:before, .icon-warning:before {content: "\21";}
.icon-wordpress:before, .icon-wordpress-hover:before {content: "\57";}
.icon-x:before, .icon-x-hover:before {content: "\2718";}
.icon-youtube:before, .icon-youtube-hover:before {content: "\25b7";}
*/


.icon-arrowDown:before {
	content: "\25bc";
}
.icon-arrowDown-small:before {
	content: "\25be";
}
.icon-arrowLeft-small:before {
	content: "\25c2";
}
.icon-arrowNext:before {
	content: "\25b6";
}
.icon-arrowPrev:before {
	content: "\25c4";
}
.icon-arrowRight-small:before {
	content: "\25b8";
}
.icon-arrowUp:before {
	content: "\25b2";
}
.icon-arrowUp-small:before {
	content: "\25b4";
}
.icon-bundle-add:before {
	content: "\25a1";
}
.icon-bundle-arrow:before {
	content: "\2319";
}
.icon-bundle-full:before {
	content: "\25a0";
}
.icon-cart:before {
	content: "\2334";
}
.icon-check:before {
	content: "\2714";
}
.icon-delete:before, .icon-trash:before {
	content: "\2715";
}
.icon-edit:before {
	content: "\270f";
}
.icon-editAlt:before {
	content: "\2638";
}
.icon-email:before, .icon-emailBio:before {
	content: "\2709";
}
.icon-emailOpen:before {
	content: "\2338";
}
.icon-help:before {
	content: "\3f";
}
.icon-hide:before {
	content: "\25c9";
}
.icon-info:before {
	content: "\69";
}
.icon-phoneBio:before {
	content: "\260e";
}
.icon-plus:before {
	content: "\271a";
}
.icon-printer:before {
	content: "\e017";
}
.icon-refresh:before {
	content: "\21ba";
}
.icon-save:before {
	content: "\25a3";
}
.icon-search:before {
	content: "\260c";
}
.icon-show:before {
	content: "\25ce";
}
.icon-star:before {
	content: "\2605";
}
.icon-warning:before {
	content: "\21";
}
.icon-x:before {
	content: "\2718";
}
.icon-xsm:before {
	content: "\e02a";
}
.icon-facebook:before {
	content: "\66";
}
.icon-pinterest:before {
	content: "\50";
}
.icon-tumblr:before {
	content: "\74";
}
.icon-wordpress:before {
	content: "\57";
}
.icon-youtube:before {
	content: "\25b7";
}
.icon-file-pdf:before {
	content: "\2637";
}
.icon-arrow-up:before {
	content: "\2191";
}
.icon-arrow-right:before {
	content: "\3e";
}
.icon-arrow-down:before {
	content: "\2193";
}
.icon-arrow-left:before {
	content: "\3c";
}

.NS-dateTime:before {
  font-family: encorePWSIcons;
	content: "\2718";
}
#flashBrowser .NS-dateTime:before {
  content: "\e032";
}
#videosBrowser .NS-dateTime:before {
  content: "\e030";
  }
#documentsBrowser .NS-dateTime:before {
	content: "\2338";
}
.icon-pictures:before {
  content: "\e031";
}
.icon-camera:before {
	content: "\23";
}
.icon-bag:before {
	content: "\24";
}
.icon-basket:before {
	content: "\25";
}


/************************************************************************************
* Special Case rules
************************************************************************************/
.SortColumn {
	&:before, .ie7Icon {
		font-size:2.3em;
		line-height:.5;
		@include opacity(.5);
	}
}
.currentSort {
	span:before, .ie7Icon {
		content: "\e028";
		@include opacity(1);
	}
	.SortDescend {
		&:before, .ie7Icon {
			content: "\e002";
		}
	}
}

/************************************************************************************
* Fixes
************************************************************************************/
body.IE9, body.IE10 {
	.SortColumn:before {
		font-size:.5em;
	}
}


