@import	"_base";

/******************
 Do Not Override This File, OR Make Any Client-Specific Customizations 
******************/
.NS-FL {float:left;}
.NS-FR {float:right;}
.NS-clr {display:block;clear:both;}
.NS-inlineNav, .NS-flatList, .NS-flatUL, .NS-WidgetBody ul {margin:0;padding:0;list-style-type:none;}
.NS-inlineNav li {float:left;margin-right:5px;}
.NS-inlineNav li a {display:block;}
.NS-listNav li a {display:block;padding:5px;}
.NS-dropDown {display:none;position:absolute;}
.NS-center {text-align:center;}
.NS-bold {font-weight:bold;}
.NS-pad10 {padding:10px;}
.NS-pad5 {padding:5px;}
.NS-pad2 {padding:2px;}
.NS-mr10 {margin-right:10px;}
.NS-ml10 {margin-left:10px;}
.NS-mb10 {margin-bottom:10px;}
.NS-mt10 {margin-top:10px;}
hr {border: none; border-bottom: 1px dotted #c0c0c0; }
.splitCol40 {width:38%;}
.splitCol60 {width:58%;}

.WelcomeBlock.SectionHeader {margin-bottom:15px;}
.WelcomeBlock.SectionHeader a {font-weight:bold;text-decoration:underline;}
/******************
PWS Admin Dashboard
******************/

.NS-editablePwsWidgets {
	width:75%;
	.NS-editableBlock {}
	.section-MyPhoto {
		float:left;
		width:200px;
		height:230px;
		.imagewrapper {
			text-align:center;
			padding:10px;
			height:180px;
		}
	}
	.section-MyStory {
		float:right;width:70%;height:230px;
		.body {
			padding:10px;
			height:180px;
			overflow:auto;
		}
	}
	.section-Module {
		clear:both;
		height:300px;
		.body {
			padding:6px;
			height:258px;
			overflow:auto;
		}
	}
	.section-Ad1, .section-Ad2 {
		float:left;
		width:47%;
		height:241px;
	}
	.section-Ad2 {
		float:right;
		margin-left:2px;
	}
	.section-Ad1 .body, .section-Ad2 .body {padding:6px;height:199px;}
	
	.section-SiteDesignContent {
		
	}
	.section-GoogleAnalyticTrackerID {
		clear:both;
		.body {
			text-align:center;
			padding:1em;
		}
	}
}



.section-WebsiteName {
	.siteNameCurrent {
		text-align:center;
		font-weight:bold;
		padding:1em;
	}
}




.section-DisplayInfo {
	height:795px;
	margin-right:15px;
	float:left;
	margin-bottom:0 !important;
	width:23%;
	.GridUtility {
		margin:0 5px 10px;
		.FormSubmit {
			padding:0;overflow:hidden;
		}
	}
	.FormContainer {
		border:0;background:transparent;padding:0;
	}
	.FRow {
		margin:0 5px;
		&.displayText {
			margin-bottom:15px;
			padding:5px 5px 0;
			border:1px solid #d1d3d4;
			.FLabel {
				font-weight:bold;
			}
			input[type="text"] {
				margin:5px 0;
				width:97%;
			}
			.FInput {
				overflow:hidden;
				margin-bottom:0;
				float:none;
				input[type="checkbox"] {
					margin:5px 5px 0 0;
				}
			}
		}
		&.showHide {
			line-height:24px;
			font-size:90%;
			padding:1px 5px 0;
			.FLabel {
				width:auto;
				margin-right:5px;
				font-weight:bold;
			}
			&.hidden {
				background: tint($MainBg,60%);
			}
		}
	}
}




#EditSectionDisplayInfo {
	&.section-DisplayInfo {
		position:absolute;
		.FLabel {
			float:none;
			display:inline-block;
		}
		.FRow {
			&.showHide {
				.FInput {
					float:left;
				}
			}
		}
		.UI-secBg {
			&.GridUtility { 
				a#btnSave {
					margin-right:5px;
				}
			}
		}
	}
}


/* Generated in _Site.cshtml */
#ThemePreview {background-color:#fff;width:100%;height:180px;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;}

/******************
Content Library
******************/
#myLibrary .libraryTitle a#btnAdd {line-height:26px;height:26px;}
#library .item {cursor:pointer;padding:5px;margin:0 10px 10px 0;float:left;}
#library .item .titlecontent {display:block;height:75px;width:75px;}
.contentPreviewTitle {
	background:url(../Images/EditMode/bottomcarrot.gif) no-repeat bottom left;
	margin-top:5px;padding:10px;
	background:#e7e7e7;
	border:solid #d1d3d4;
	border-width:1px 1px 0;
	border-radius:5px 5px 0 0;
	-mox-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
#previewContainer {padding-bottom:20px;}
#previewContainer .body {overflow:auto;padding:10px;}
#previewContainer .imagewrapper {text-align:center;}
#previewContainer .body .imagewrapper {text-align:inherit;}
.contentUtility a span {float:left;padding:0px;line-height:24px;}
#preview {padding:2px;border:solid #d1d3d4;border-width:0 1px 1px;border-radius:0 0 5px 5px;-mox-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;}

/******************
Content Control Widgets
******************/
.emBreadCrumbs { padding-bottom: 10px;text-align:left;}
.emWidget { border: 1px solid #cdcdcd; margin-bottom: 10px; background-color: #fff;text-align:left;}
.emWidget .body {overflow:auto;}
.emWidget .Inner { padding: 3px; }
.emWidgetTitle 
{
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(214,214,214,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(214,214,214,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(214,214,214,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(214,214,214,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(214,214,214,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-8 */
	 height: 30px; overflow: hidden; color: #000; text-shadow: 0 1px 0 #FFFFFF; 
}
.emWidgetTitle span, .emWidgetTitle a { display: block; line-height: 30px; padding: 0 8px; }
.emWidget li a {color:#0079BA;}

/******************
New Content Window 
******************/
.ContentChoiceName input.TextInput {width:98%;padding:5px;}