<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="netsteps.wireup" type="NetSteps.Encore.Core.Wireup.WireupConfigurationSection, NetSteps.Encore.Core" />
  </configSections>
  <netsteps.wireup>
    <assemblies>
      <add assembly="DependentClass" ordinal="1" />
    </assemblies>
  </netsteps.wireup>
  <connectionStrings>
    <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=MTS-PD-SQL01-VD.netsteps.local;Initial Catalog=JewelKadeCore;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=nsDistributor;Max Pool Size=200" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>