<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Data.Common" version="1.22.167" targetFramework="net45" />
  <package id="Extensibility.Core" version="1.0.16115" targetFramework="net45" />
  <package id="NetSteps.Common" version="1.1.60" targetFramework="net45" />
  <package id="NetSteps.Core.Cache_r1_0" version="1.4.140" targetFramework="net45" />
  <package id="NetSteps.Encore.Core_r2_3" version="2.4.143" targetFramework="net45" />
  <package id="NetSteps.Foundation.Common" version="1.3.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="OrderAdjustments.Common" version="2.7.80" targetFramework="net45" />
  <package id="Promotions.Caching" version="2.13.395" targetFramework="net45" />
  <package id="Promotions.Common" version="2.13.395" targetFramework="net45" />
  <package id="Promotions.Plugins" version="2.13.395" targetFramework="net45" />
  <package id="Promotions.Plugins.Base" version="2.13.395" targetFramework="net45" />
  <package id="Promotions.Plugins.Common" version="2.13.395" targetFramework="net45" />
  <package id="Promotions.Service" version="2.13.395" targetFramework="net45" />
</packages>