<div id="ShopSearch" class="searchBar shoppingSearch">
    <div class="UI-lightBg searchForm">
        <input id="txtSearch" type="text" class="TextInput" />
        <a id="btnSearch" href="javascript:void(0);" class="SearchGo"><span class="searchIcon" data-icon="☌"></span> <label>@Html.Term("Go")</label></a>
        <span class="clr"></span>
    </div>
</div>