<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="@Href("~/Content/CSS/Error.css")" />
</head>
<body>
    <input type="hidden" value="ErrorPage" />
    <div id="Container">
        <div id="Error">
            <div id="ErrorForm">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
