<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- QAS configuration example -->
  <configSections>
    <section name="qasAddressValidator" type="AddressValidator.Qas.Config.QasAddressValidatorConfig, AddressValidator.Qas" />
  </configSections>
  <qasAddressValidator endpointUrl="https://ws2.ondemand.qas.com/ProOnDemand/V3/ProOnDemandService.asmx?WSDL" userName="9002b944-384" password="Iwg#2012" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.9.0" newVersion="4.5.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.53.0" newVersion="2.4.53.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>