<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="Data.Common" version="1.24.11126" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net40" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net40" />
  <package id="EnterpriseLibrary.Logging" version="5.0.505.1" targetFramework="net40" />
  <package id="EnterpriseLibrary.Logging.Service" version="5.0.505.0" targetFramework="net40" />
  <package id="Extensibility.Core" version="1.0.16115" targetFramework="net40" />
  <package id="FlitBit.Core" version="2.11.4" targetFramework="net40" />
  <package id="FlitBit.Dto" version="2.2.1" targetFramework="net40" />
  <package id="FlitBit.Emit" version="2.8.6" targetFramework="net40" />
  <package id="FlitBit.Wireup" version="2.5.6" targetFramework="net40" />
  <package id="NetSteps.Accounts.Common" version="1.1.66" targetFramework="net40" />
  <package id="NetSteps.Addresses.Common" version="1.0.10" targetFramework="net40" />
  <package id="NetSteps.Bundles.Common" version="1.0.2.0" targetFramework="net40" />
  <package id="NetSteps.Bundles.Component" version="1.0.6.0" targetFramework="net40" />
  <package id="NetSteps.Common" version="1.3.661" targetFramework="net40" />
  <package id="NetSteps.Communication.Common" version="3.1.19" targetFramework="net40" />
  <package id="NetSteps.Core.Cache_r1_0" version="1.4.150" targetFramework="net40" />
  <package id="NetSteps.Diagnostics.Utilities" version="1.0.23" targetFramework="net40" />
  <package id="NetSteps.Encore.Core_r2_3" version="2.4.143" targetFramework="net40" />
  <package id="NetSteps.Foundation.Common" version="1.3.7" targetFramework="net40" />
  <package id="NetSteps.Infrastructure.Common" version="1.0.3" targetFramework="net40" />
  <package id="NetSteps.QueueProcessing.Common" version="1.2.5" targetFramework="net40" />
  <package id="NetSteps.QueueProcessing.Service" version="1.2.6" targetFramework="net40" />
  <package id="NetSteps.Shipping.Common" version="1.0.3.0" targetFramework="net40" />
  <package id="NetSteps.Utils.MSOffice" version="1.0.4" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net40" />
  <package id="OrderAdjustments.Common" version="2.8.104" targetFramework="net40" />
  <package id="Promotions.Caching" version="2.15.11138" targetFramework="net40" />
  <package id="Promotions.Common" version="2.15.11138" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" targetFramework="net40" />
  <package id="Unity.Interception" version="2.1.505.2" targetFramework="net40" />
</packages>