

/************************************************************************************
* Bundle Pack Creation
************************************************************************************/
#BundlePackItems {
	td {
		padding: em(0 20 20 0);
	}
	h2 {
		font-size: em(14);
		line-height: em(26, 14);
		margin: em(0 0 4, 14);
		padding: em(0 0 4, 14);
		&.UI-Warning span, &.UI-Complete span {
			display: inline-block;
		}
	}
	.removeProduct span {
		a {
			margin: 0 0 -6px 0;
		}
		padding-bottom: 8px;
		margin-bottom: 5px;
	}
}
.BundleOption {
	height: 34px;
	line-height: 32px;
	.icon-bundle-option {
		width: 134px;
		height: 34px;
		text-indent: 11px;
	}
	.optionText {
		line-height: 34px;
		font-size: 12px;
	}
}
.bundlePackItemList {
	padding: em(10 0 0);
}

.OrderItems .DynamicKit td a {
	float: left;
	line-height: em($IconSize);
	margin-right: em(3);
}