/************************************************************************************
* Communication Tab
************************************************************************************/
.emailToFullContainer {
	padding: em(1);
}
.emailToContainer {
	float: left;
	margin-bottom: em(5);
}
.emailEntry {
	float: left;
	padding: em(3);
	margin-right: em(5);
	span {
		display: inline-block;
		margin-right: em(5);
		padding-top: em(2);
		vertical-align: top;
	}
	img {
		margin-right: em(5);
		vertical-align: middle;
		cursor: pointer;
	}
}
.emailToTextBox {
	float: left;
}
textarea.composeEmail {
	height: em(200);
}
#uxAddresses {
	max-height: em(200);
	overflow: auto;
}

//Campaigns Scroller//
#emailsContainer .EditContainer {
	overflow: hidden;
	width: 400px;
}
.CampaignEmailSlider {
	border-top: none;
	margin-bottom: 5px;
}

//Newsletter Management & Stats//
#SelectedCampaignID {
	margin-bottom: em(5);
}
.newsLetterStats {
	border-top: none;
}
.newsLetterCountDown {
	font-size: em(16);
	margin-bottom: em(10, 16);
}
.contentOption {
	width: 140px;
}
.personalizedContent {
	height: 150px;
}
.newsletterImgWrap {
	display: inline-block;
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 5px 0 5px 0;
	img {
		width: 100px;
		max-width: 120px;
	}
}
.attachment {
    white-space:nowrap;
    display:inline-block;
}
.attachmentContainer {
    padding-bottom:5px;
    margin-bottom:5px;
}
#EmailForm .FLabel {
    padding:5px 0 2px;
    font-weight:bold;
}
#templates {
    .templateThumb {
        max-width:250px;
        min-width:150px;
        width:29%;
        margin:1%;
        padding:1%;
        @media screen and (max-width: $break-med) {
            width:98%;
        }
        .templateName {
            @include text-overflow-rules;
            padding-top:5px;
        }
        .imagewrapper {
            height:133px;
        }
        img {
            max-width:100%;
            max-height:100%;
        }
    }
}
.mobileTooltip {
    display:none;
}
.mobile {
    #uploadAttachment {
        display:none !important;
    }
    .mobileTooltip {
        display:inline;
    }
    .desktopTooltip {
        display:none;
    }
}