

/************************************************************************************
* Contacts Tab
************************************************************************************/


.ContactInfoColumn {
	width:400px;
	li {
		padding: em(5);
		label {
			float: left;
			width: em(100);
			padding-right: em(5);
		}
		div {
			float: left;
			width: em(150);
		}
		br {
			clear: both;
		}
	}
}
table.ContactActivity {
	padding: em(0 10);
}
td {
	&.ContactActivityColumn {
		width: 60%;
	}
	&.ContactInfoColumn {
		width: 40%;
		padding-right: em(20);
	}
}
.newsletterList {
    max-height:200px;
    overflow:auto;
}