


/************************************************************************************
* User Greeting
************************************************************************************/

.welcomeFlag {
	text-align:center;
	margin-bottom: em(15);
	.inlineNav {
		padding: em(10 0 15);
		li {
			width: 46%;
			margin: 1%;
		}
	}
	.UI-icon-container {
		line-height:1em;
	}
	.UI-icon {
		float:none;
	}
	.iconText {
		display: block;
		line-height: 1.25em;
	}
}

/************************************************************************************
* Breaking News Ticker
************************************************************************************/

#BreakingNews {
	height: em(50);
	padding: em(10);
	margin-bottom: em(10);
}




/************************************************************************************
* Widgets
************************************************************************************/
.WidgetContainer {
	margin-bottom: em(5);
	.loadingWrap {
		display: block;
		text-align: center;
		padding: em(10);
	}
}
.Widget {
	padding: em(0 1 1 1);
	overflow: hidden;
}
.WidgetTitle {
	overflow: hidden;
	margin: em(10 0 2 0);
	text-align:center;
	.Txt {
		padding: em(8);
		display: block;
	}
}

.WidgetUtility select {
	width: em(150, $input_font_size);
}
.WidgetControls {
	margin-right: em(20);
	display: none;
}
.WidgetWrap.Performance span {
	&.FL, &.FR {
		width: 50%;
	}
}
#siteWidgets li {
	padding: em(3);
	line-height: em(20);
	label {
		float: left;
	}
	div {
		float: right;
	}
	br {
		display: block;
		clear: both;
	}
}
.WidgetWrap.Resources .WidgetBody {
	text-align: center;
}
.ResourcePreview {
	margin: 0 auto;
	width: 168px;
	text-align: left;
	.ImgWrapper, .scrollable {
		float: left;
		width: 126px;
		height: 126px;
		overflow: hidden;
	}
}
#documentScroller {
  width: 126px;
}
.ResourcePreviewInfo #documentScroller {
	width: 138px;
}
.ResourcePreview {
	.ImgWrapper .items {
		width: 1500em;
		div {
			float: left;
		}
	}
	a.IconLink {
		margin-top: 50px;
	}
	span {
		display: block;
	}
}
.WidgetWrap.Resources .Details {
	clear: both;
	padding: 0 20px 0 20px;
}

.ResourcePreviewInfo {
	.ScrollerItemContainer {
		position: relative;
	}
	margin: 0 auto;
	width: 225px;
	text-align: left;
	.ImgWrapper {
		float: left;
		width: 135px;
		height: 170px;
		overflow: hidden;
		.items {
			width: 1500em;
			div {
				float: left;
				width: 138px;
			}
		}
	}
	.UI-icon {
		margin-top: 50px;
	}
	span, a {
		display: block;
	}
	.scrollable img {
		border: none;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		background: transparent;
		margin: 0;
		width: auto;
		height: auto;
		max-width:100%;
	}
	.resourceInfoText {
		display: block;
		bottom: 0;
		@include opacity(.9);
		color: #fff;
		height: 70px;
		text-align: center;
		a {
			padding: 2px;
			&.downloadNow {
				bottom: 0;
			}
		}
		span.ResourceName {
			display: block;
			width: 130px;
			word-wrap: break-word;
			padding: 2px;
		}
	}
	.scrollable .thumbWrapper {
		width: 100%;
		height: 100px;
		overflow: hidden;
	}
}
.WidgetContainer {
	.Account div.autoship {
		margin: 0;
		float: none;
	}
	.Performance li {
		padding: 5px;
	}
}
.ordersDrillLinks .UI-icon-container {
	line-height: em(24);
}
body.IE7 .next {
	margin: -27px 3px 0 0;
}
.WidgetContainer {
	display: inline-block;
	width: 100%;
}


/************************************************************************************
* Resources
************************************************************************************/
#ResourcesThumbs {
	padding: em(10);
}
.Resource {
	float: left;
	width: em(222);
	height: em(200);
	padding: em(2);
	margin: em(0 0 20 10);
}
.Rwrapper {
	display: block;
	width: em(150);
	height: em(150);
	img {
		width: em(150);
		height: em(150);
	}
}
.Rtitle {
	display: block;
}
.Rdesc {
	height: em(200);
	width: em(135);
	overflow: hidden;
	margin-left: em(8);
}
.Resource .Updated {
	position: absolute;
	padding: em(1);
	z-index: 1;
	width: em(100);
}
.tooltip {
	display: none;
	padding: em(5);
	width: auto;
	z-index: 10000;
}
.Resource .FileType {
	display: block;
	width: 16px;
	height: 16px;
	float: right;
}