

.UI-icon {
	display: inline-block;
	overflow: hidden;
}
.UI-icon-container {
	display: block;

}

/*****************************************************
* IcoMoon Font Icons
*****************************************************/
@font-face {
	font-family: 'encoreWkstnIcons';
	src:url('../Fonts/encore-wkstn-icons.eot');
	src:url('../Fonts/encore-wkstn-icons.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/encore-wkstn-icons.svg#icomoon') format('svg'),
		url('../Fonts/encore-wkstn-icons.woff') format('woff'),
		url('../Fonts/encore-wkstn-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    @include base-icon-rules;
    content: attr(data-icon);
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:not([data-icon]), [class*=" icon-"]:not([data-icon]), a.nextPage, a.previousPage {
	&:before, .ie7Icon {
        @include base-icon-rules;
	}
}
.UI-icon-container span {
	line-height:em($IconSize);
	&.UI-icon {
		line-height:1em;
	}
}
.icon-plus {
	&:before, .ie7Icon {
		content: "\271a";
	}
}
.icon-arrowDown, .jstree-open .jstree-icon:first-child {
	&:before, .ie7Icon {
		content: "\25be";
	}
}
.icon-arrowNext-circle {
	&:before, .ie7Icon {
		content: "\25b6";
	}
}
.icon-arrowPrev-circle {
	&:before, .ie7Icon {
		content: "\25c4";
	}
}
.icon-arrowUp {
	&:before, .ie7Icon {
		content: "\25b2";
	}
}
.icon-arrow-down {
	&:before, .ie7Icon {
		content: "\25be";
	}
}
.icon-Attach {
	&:before, .ie7Icon {
		content: "\21d5";
	}
}
.icon-cancelled {
	&:before, .ie7Icon {
		content: "\2717";
	}
}
.icon-check {
	&:before, .ie7Icon {
		content: "\2714";
	}
}
.icon-deactive {
	&:before, .ie7Icon {
		content: "\2612";
	}
}
.icon-x, .icon-deleteReportLink  {
	&:before, .ie7Icon {
		content: "\2718";
	}
}

.icon-xsm  {
	&:before, .ie7Icon {
		content: "\e02a";
	}
}
.icon-deleteSelected, .icon-trash {
	&:before, .ie7Icon {
		content: "\2613";
	}
}
.icon-exclamation {
	&:before, .ie7Icon {
		content: "\27b2";
	}
}
.icon-arrowPrev, .icon-goBack, a.previousPage {
	&:before, .ie7Icon {
		content: "\e034";
	}
}
.icon-arrowNext, .icon-goForward, .icon-forward, a.nextPage, .jstree-closed .jstree-icon:first-child {
	&:before, .ie7Icon {
		content: "\e02e";
	}
}
.icon-actionLock {
	&:before, .ie7Icon {
		content: "\e000";
	}
}
.icon-plusAlt {
	&:before, .ie7Icon {
		content: "\2719";
	}
}
.icon-print {
	&:before, .ie7Icon {
		content: "\2338";
	}
}
.icon-refresh {
	&:before, .ie7Icon {
		content: "\21ba";
	}
}
.icon-search, .icon-navbarSearch, .icon-searchIcon {
	&:before, .ie7Icon {
		content: "\260c";
	}
}
.icon-upload {
	&:before, .ie7Icon {
		content: "\e001";
	}
}
.icon-file {
	&:before, .ie7Icon {
		content: "\2630";
	}
}
.icon-fileAudio {
	&:before, .ie7Icon {
		content: "\e002";
	}
}
.icon-fileFlash {
	&:before, .ie7Icon {
		content: "\e003";
	}
}
.icon-fileImage {
	&:before, .ie7Icon {
		content: "\e004";
	}
}
.icon-filePdf {
	&:before, .ie7Icon {
		content: "\e005";
	}
}
.icon-filePowerpoint {
	&:before, .ie7Icon {
		content: "\e006";
	}
}
.icon-fileVideo {
	&:before, .ie7Icon {
		content: "\e007";
	}
}
.icon-exportToExcel {
	&:before, .ie7Icon {
		content: "\e008";
	}
}
.icon-edit {
	&:before, .ie7Icon {
		content: "\270f";
	}
}
.icon-actionDashTools {
	&:before, .ie7Icon {
		content: "\e009";
	}
}
.icon-actionContactAdd {
	&:before, .ie7Icon {
		content: "\263a";
	}
}
.icon-actionParty {
	&:before, .ie7Icon {
		content: "\e00a";
	}
}
.icon-actionImport {
	&:before, .ie7Icon {
		content: "\e00b";
	}
}
.icon-actionReport {
	&:before, .ie7Icon {
		content: "\e00c";
	}
}
.icon-save {
	&:before, .ie7Icon {
		content: "\e00d";
	}
}
.icon-email, .icon-emailAllLink {
	&:before, .ie7Icon {
		content: "\2709";
	}
}
.icon-emailLink {
	&:before, .ie7Icon {
		content: "\e00e";
	}
}
.icon-actionTreeView {
	&:before, .ie7Icon {
		content: "\e00f";
	}
}
.icon-chooseVisibleColumns {
	&:before, .ie7Icon {
		content: "\25eb";
	}
}
.icon-groupByAccount, .icon-mergeUsers {
	&:before, .ie7Icon {
		content: "\e010";
	}
}
.icon-info {
	&:before, .ie7Icon {
		content: "\e011";
	}
}
.icon-actionPersonalOrder {
	&:before, .ie7Icon {
		content: "\260b";
	}
}
.icon-actionPartyOrder {
	&:before, .ie7Icon {
		content: "\e012";
	}
}
.icon-actionCompose {
	&:before, .ie7Icon {
		content: "\e013";
	}
}
.icon-actionComposeLetter, .icon-pageEdit {
	&:before, .ie7Icon {
		content: "\270d";
	}
}
.icon-actionNewsletter {
	&:before, .ie7Icon {
		content: "\2633";
	}
}
.icon-actionDashPWS {
	&:before, .ie7Icon {
		content: "\e014";
	}
}
.icon-template {
	&:before, .ie7Icon {
		content: "\e015";
	}
}
.icon-saveReportLink {
	&:before, .ie7Icon {
		content: "\e016";
	}
}
.icon-star {
    &:before, .ie7Icon {
        content: "\e036";
    }
}
.icon-actionFlatReport {
	&:before, .ie7Icon {
		content: "\2637";
	}
}
.icon-help {
	&:before, .ie7Icon {
		content: "\e017";
	}
}
.icon-editPerson {
	&:before, .ie7Icon {
		content: "\e018";
	}
}
.icon-directShipOff, .icon-directShipOn {
	&:before, .ie7Icon {
		content: "\e019";
	}
}
.icon-bundle-add {
	&:before, .ie7Icon {
		content: "\e01a";
	}
}
.icon-bundle-arrow {
	&:before, .ie7Icon {
		content: "\e01b";
	}
}
.icon-bundle-full {
	&:before, .ie7Icon {
		content: "\e01c";
	}
}
.icon-replyAll {
	&:before, .ie7Icon {
		content: "\e01d";
	}
}
.icon-reply {
	&:before, .ie7Icon {
		content: "\e01e";
	}
}
.icon-eventCalendar, .icon-actionEvent {
	&:before, .ie7Icon {
		content: "\e01f";
	}
}
.icon-pageAdd {
	&:before, .ie7Icon {
		content: "\e020";
	}
}
.icon-pageMin {
	&:before, .ie7Icon {
		content: "\e021";
	}
}
.icon-pageSearch {
	&:before, .ie7Icon {
		content: "\e022";
	}
}
.icon-pageX {
	&:before, .ie7Icon {
		content: "\e023";
	}
}
.icon-actionGlobe {
	&:before, .ie7Icon {
		content: "\e024";
	}
}
.icon-actionAutoShip {
	&:before, .ie7Icon {
		content: "\e025";
	}
}
.icon-actionHome {
	&:before, .ie7Icon {
		content: "\e026";
	}
}
.icon-menuHidden {
	&:before, .ie7Icon {
		content: "\e037";
	}
}
.icon-menuVisible {
	&:before, .ie7Icon {
		content: "\e038";
	}
}

/************************************************************************************
* Special Case rules
************************************************************************************/
th.sort {
    position:relative;
    min-width:em(50);
    &:before, .ie7Icon {
        content: "\e027";
        @include opacity(.5);
        @include base-icon-rules;
        position:absolute;
        top:50%;
        right:em(3);
        max-width:18%;
        margin-top:em(-$IconSize/4);
    }
    a {
        width:80%;
        max-width:80%;
    }
    &.Descending {
        &:before, &.ie7Icon {
            content: "\25be";
            @include opacity(1);
        }
    }
    &.Ascending {
        &:before, &.ie7Icon {
            content: "\e028";
            @include opacity(1);
        }
    }
}
.DeleteGuest {
	margin-right:em($IconSize+.3);
}
.changeViewIcon {
    display:inline-block;
    line-height:1em;
}

/************************************************************************************
* Fixes
************************************************************************************/
body.IE9, body.IE10 {
	.SortColumn:before {
		font-size:.5em;
	}
}
.NS-dateTime:before {
  font-family: encoreWkstnIcons;
}
#flashBrowser .NS-dateTime:before {
  content: "\e032";
}
#videosBrowser .NS-dateTime:before {
  content: "\e030";
}
#documentsBrowser .NS-dateTime:before {
  content: "\e031";
}
a.previousPage, a.nextPage, .icon-help.qmark_trigger {
	&:before, .ie7Icon {
		vertical-align:0;
	}
}