
/************************************************************************************
* My Account Tab
************************************************************************************/
.acctSnapShot  {
	.infoList {
		li {
			padding: em(10 0);
			overflow: hidden;
			ul li {
				border: none;
			}
			label {
				width: 38%;
				float:left;
				font-weight:bold;
			}
			.data {
				width: 60%;
				word-wrap: break-word;
				overflow: hidden;
			}
			&:last-child {
				border:none;
			}
		}
	}
}
.disbursementOptions {
	label {
		cursor: pointer;
		padding: em(11 10 11 5);
		line-height: em(34);
	}
	li {
		margin: em(10 5 10 0);
	}
}
.disbursementContent {
	h3 {
		margin: em(0 3);
	}
	#txtPropayAccount {
		width: em(220);
	}
}

.autoship {
	li {
		padding: em(5 0);
		overflow:hidden;
		&.total {
			font-weight: bold;
		}
	}
}