
/************************************************************************************
* News Tab
************************************************************************************/
#News .news {
	padding: em(10);
	.newsInfo {
		width: 70%;
		a {
			display: block;
		}
	}
	span {
		display: block;
	}
	.newsInfo {
		.title {
			font-size: em(14);
			padding: em(5 5 2 5, 14);
		}
		.caption {
			padding: em(0 5 10 5);
		}
	}
}
