

/************************************************************************************
* E-vite stats modal (user clicks the "i" icon in the My Parties table)
************************************************************************************/
#EviteStats {
	max-width: em(400);
	.resendToggle {
		line-height:em(30);
	}
}
#resendInviteInput {
	width: em(285, $input_font_size);
	padding: em(7, $input_font_size);
}
.partyStatsList {
	.onlineOrdersBreakdown span {
		display: inline-block;
	}
	.custName {
		width: em(150);
	}
	.custOrderSum {
		width: em(75);
	}
}



/************************************************************************************
* Customer Carts Page
************************************************************************************/

.CustomerCart .DataGrid {
	table-layout: fixed;
	.first-child {
		width: em(20) !important;
	}
}
.customerCartHeader {
	position: relative;
	*{zoom: 1;}
}
.Customer .GridUtility {
	overflow:hidden;
}
.customerCartHeader {
	.guestName span {
		display: block;
		float: left;
	}
}
.TabOrdersOverview a {
	display: block;
	max-width: em(100);
	overflow: hidden;
	text-overflow: ellipsis;
}
th#OrderNumber {
	width: em(110);
}



.GuestControls a {
	margin-left: em(5);
}

/************************************************************************************
* Add Guest Page
************************************************************************************/
.GuestFormHeader .GuestName {
	line-height:em($IconSize);
}
.menu-full .guestList {
	width:250px;
}
.menu-panel .WidgetTitle {
	text-align: left;
}