table {
  display: table;
  border-collapse: separate;
  border-spacing: 1px;
  width: 100%;
  border: none; }

td {
  vertical-align: top; }

.DataGrid {
  margin-bottom: 20px;
  th {
    background: #454545;
    color: #fff; } }

.Pagination {
  background: #454545;
  color: #fff; }

.DataGrid {
  td {
    padding: 3px; }
  th {
    padding: 3px;
    a {
      color: #fff; } } }

.Alt {
  background: #EDEFE0; }

.IconCol {
  width: 24px;
  text-align: center; }

.FauxTable {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  .FRow {
    display: table-row;
    label, p {
      display: table-cell;
      padding: 2px 0px 2px 0px;
      vertical-align: top;
      text-align: left; }
    label {
      width: 120px;
      font-weight: bold; } } }

