<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extensibility.Core" version="1.0.16115" targetFramework="net40" />
  <package id="NetSteps.Accounts.Common" version="1.1.66" targetFramework="net40" />
  <package id="NetSteps.Addresses.Common" version="1.0.10" targetFramework="net40" />
  <package id="NetSteps.Common" version="1.1.60" targetFramework="net40" />
  <package id="NetSteps.Encore.Core_r2_3" version="2.4.133" targetFramework="net40" />
  <package id="NetSteps.EventProcessing.Common" version="1.1.31" targetFramework="net40" />
  <package id="NetSteps.Events.AccountArguments.Common" version="0.1.7" targetFramework="net40" />
  <package id="NetSteps.Events.Common" version="1.0.52" targetFramework="net40" />
  <package id="NetSteps.Events.Common" version="1.1.61" targetFramework="net40" />
  <package id="NetSteps.Events.PartyArguments.Common" version="0.1.12" targetFramework="net40" />
  <package id="NetSteps.Orders.Common" version="1.0.6" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
</packages>