<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NetSteps.Accounts.Downline.Common" version="1.0.37" targetFramework="net40" />
  <package id="NetSteps.Encore.Core_r2_3" version="2.4.143" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net40" />
</packages>