@model nsDistributor.Areas.Enroll.Models.Products.EnrollmentItemsModel
<div id="AutoshipItemsCMS">
<div class="FL splitCol">
    <div class="UI-cmsWrap block">
        @ViewData["Enrollment_Products_EnrollmentItems_LeftContent"]
    </div>
</div>
<div class="FL splitCol m5 AutoshipDetails">
	<div class="UI-cmsWrap block">
        @ViewData["Enrollment_Products_EnrollmentItems_RightContent"]
    </div>
</div>
<span class="clr"></span>
</div>
@Html.EditorFor(m => m.MiniShop)

