<?xml version="1.0"?>
<!--BelcorpUSA-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACore;Persist Security Info=True;Integrated Security=SSPI;Application Name=AutoShip;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSAMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=AutoShip;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=AutoShip;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="KnownFactorsDataWarehouse" providerName="System.Data.SqlClient" connectionString="Data Source=belcorpdwinternal.knownfactors.com\prod;Initial Catalog=Belcorp_DW;Persist Security Info=True;Application Name=BelcorpUSADWS;MultipleActiveResultSets=True;User Id=belcorpsvc;Password=G2QyBi0tjZ;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<netsteps.identify environment="release" xdt:Transform="SetAttributes" />
	<appSettings>
		<add key="FileUploadAbsolutePath" value="\\BUS-IF-FIL01-E\fileuploads\Production\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="FileUploadAbsoluteWebPath" value="https://mybelcorp.belcorpusa.com/FileUploads/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IsPaymentLiveMode" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IsPaymentTestTransaction" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="EnvironmentLevelDomain" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="DistributorWorkstationUrl" value="https://mybelcorp.belcorpusa.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="TestEmailAccount" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="EmailEventTrackingUri" value="https://links.belcorpusa.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="UploadFolder" value="\\BUS-IF-FIL01-E\fileuploads\Production\Attachments" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="CorporateAccountID" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="CorporateMailAccountID" value="6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>