@model dynamic
@{
    ViewBag.Title = @Html.Term("SiteNotFound", "Site Not Found");
}
<h2>
    @ViewBag.Title
</h2>
<p>
	@Html.Term("SiteNotFoundDetail", "This site does not exist or could not be found. Please contact the person who gave you access to this site for further information.")
</p>
