<div class="UserPhoto SideColumn">
	<div class="UI-cmsWrap">
		<div class="MyPhoto">
			@(((HtmlSection)ViewBag.MyPhoto).ToDisplay())
		</div>
		<div id="DistributorInfo">
			@Html.Partial("AccountInfo")
		</div>
	</div>
</div>
