<tr>
	<td><img width="25" alt="" data-bind="attr: { src: ImageUrl }"/></td>
    <td class="KitSKU" data-bind="text: SKU"></td>
    <td data-bind="text: ProductName"></td>
    <td style="text-align: center;" data-bind="text: Quantity"></td>
</tr>
