<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="RedirectModule" type="HttpRedirectModule.RedirectHttpModule" />
		</modules>
	</system.webServer>
  <appSettings>
    <add key="defaultWebsite" value="https://www.miche.com" />
  </appSettings>
  <connectionStrings>
    <!--Miche Debug--><add name="MicheCoreEntities" connectionString="metadata=res://*/Entities.EncoreDataEntities.csdl|res://*/Entities.EncoreDataEntities.ssdl|res://*/Entities.EncoreDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.0.57\staging_miche;Initial Catalog=MicheCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=HttpRedirect;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.web>
		<compilation debug="true" />
    <authentication mode="Forms" />
  </system.web>
  
</configuration>
