<tr>
    <td data-label="" class="icon-24"><span class="UI-icon icon-bundle-arrow"></span></td>
    <td data-label="@Html.Term("SKU")" class="KitSKU" data-bind="text: SKU"></td>
    <td data-label="@Html.Term("Product")" data-bind="text: ProductName"></td>
    <td data-label="@Html.Term("Quantity")" style="text-align: center;" data-bind="text: Quantity"></td>
</tr>
