<table cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>@Html.Term("SKU")</th>
            <th>@Html.Term("Product")</th>
            <th>@Html.Term("Quantity")</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: KitItemModels">
        @Html.Partial("_KitItemModel")
    </tbody>
</table>
