<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CoreEntities" connectionString="metadata=res://*/OrderRules.csdl|res://*/OrderRules.ssdl|res://*/OrderRules.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.12.6.187;initial catalog=BelcorpBRACore;persist security info=True;user id=usrencorebrasilqas;password=Belcorp2014;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>