<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="netsteps.wireup" type="NetSteps.Encore.Core.Wireup.WireupConfigurationSection, NetSteps.Encore.Core" />
  </configSections>
  <netsteps.wireup>
    <assemblies>
      <add assembly="NetSteps.Extensibility.Core" ordinal="0" />
      <add assembly="NetSteps.OrderAdjustments.Common" ordinal="1" />
      <add assembly="NetSteps.Promotions.Service" ordinal="2" />
    </assemblies>
  </netsteps.wireup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1308.2321" newVersion="4.1.1308.2321" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.2.250;Initial Catalog=EncorePromotions;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>