<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="netsteps.wireup" type="NetSteps.Encore.Core.Wireup.WireupConfigurationSection, NetSteps.Encore.Core" />
  </configSections>
  <connectionStrings>
    <add name="NetStepsEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=EncorePromotions;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MailEntities" connectionString="metadata=res://*/EntityModels.Mail.MailDB.csdl|res://*/EntityModels.Mail.MailDB.ssdl|res://*/EntityModels.Mail.MailDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=EncoreMail;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CommissionsEntities" connectionString="metadata=res://*/EntityModels.Commissions.CommissionsDB.csdl|res://*/EntityModels.Commissions.CommissionsDB.ssdl|res://*/EntityModels.Commissions.CommissionsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=EncoreCommissions;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <netsteps.wireup>
    <assemblies>
      <add assembly="NetSteps.Extensibility.Core" ordinal="0" />
    </assemblies>
  </netsteps.wireup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.95.35422" newVersion="2.3.95.35422" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>