<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.2.250;Initial Catalog=EncoreCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=nsCore4;Max Pool Size=200" />
    <add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.2.250;Initial Catalog=EncoreMail;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;Application Name=nsCore4;MultipleActiveResultSets=True" />
    <add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.2.250;Initial Catalog=EncoreCommissions;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;Application Name=nsCore4;MultipleActiveResultSets=True" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="EF Caching Data Provider" invariant="EFCachingProvider" description="Caching Provider Wrapper" type="EFCachingProvider.EFCachingProviderFactory, EFCachingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Fasterflect" publicKeyToken="38d18473284c1ca7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.109.0" newVersion="2.4.109.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>