<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.2.250;Initial Catalog=EncoreCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=NetSteps.Communication.Services.Tests;Max Pool Size=200" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.127.0" newVersion="2.4.127.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FlitBit.Core" publicKeyToken="38f03d0878531ff3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.2.0" newVersion="2.10.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FlitBit.Wireup" publicKeyToken="38f03d0878531ff3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.6.0" newVersion="2.5.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>