<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<section name="netsteps.log" type="NetSteps.Encore.Core.Log.LogConfigurationSection, NetSteps.Encore.Core"/>
		<section name="netsteps.identify" type="NetSteps.Encore.Core.Process.ProcessIdentifyConfigurationSection, NetSteps.Encore.Core"/>
		<section name="netsteps.wireup" type="NetSteps.Encore.Core.Wireup.WireupConfigurationSection, NetSteps.Encore.Core"/>
		<section name="netsteps.cache" type="NetSteps.Core.Cache.Config.CacheConfigSection,NetSteps.Core.Cache" />
		<section name="upsAddressValidator" type="AddressValidator.Ups.Config.UpsAddressValidatorConfiguration" />
	</configSections>
	<connectionStrings>
		<add name="GoldCanyonCoreEntities" providerName="System.Data.SqlClient" connectionString="Data Source=APPSERVER3\DEV_ENCORE01;Initial Catalog=GoldCanyonCore;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=nsCore5;Max Pool Size=200" />
		<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=APPSERVER3\DEV_ENCORE01;Initial Catalog=GoldCanyonCore;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=nsCore5;Max Pool Size=200" />
		<add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=APPSERVER3\DEV_ENCORE01;Initial Catalog=GoldCanyonCommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsCore5;MultipleActiveResultSets=True" />
		<add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=APPSERVER3\DEV_ENCORE01;Initial Catalog=GoldCanyonMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsCore5;MultipleActiveResultSets=True" />
	</connectionStrings>
	<netsteps.identify tenant="GoldCanyon" environment="dev" component="Encore.ApiSite" />
	<netsteps.log defaultSourceLevel="Warning" defaultStackTraceThreshold="Warning">
		<namespaces>
			<!-- source levels can be overridden for each namespace; down to the nested class level -->
			<add namespace="NetSteps.Core.Cache" specialized="true" sourceLevel="Warning" />
		</namespaces>
	</netsteps.log>
	<netsteps.wireup>
		<assemblies>
			<add assembly="NetSteps.Data.Entities"/>
		</assemblies>
	</netsteps.wireup>
	<netsteps.cache>
		<namedCaches>
			<!-- Each cache is named. You can associate options with named caches as follows:
			
			cacheDepth         - Indicates the depth of the cache. Caches will evict
													 the least recently used items if the cache count 
													 exceeds this depth.
			cacheItemLifespan  - Indicates the length of time (formatted as a TimeSpan) that
													 an item is considered fresh; after which, the item is considered
													 stale/expired and will be automatically evicted from the cache.
			-->
			<add name="PostalCode" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
			<add name="GoogleGeoCode" cacheDepth="1000" cacheItemLifespan="0.04:00:00" />
			<add name="account-slim" cacheDepth="1000" cacheItemLifespan="0.00:05:00" />
			<add name="site-type-id" cacheDepth="1000" cacheItemLifespan="0.00:20:00" />
			<add name="account-email" cacheDepth="1000" cacheItemLifespan="0.00:20:00" />
			<add name="tax-cache" cacheDepth="1000" cacheItemLifespan="0.00:05:00" />
			<add name="SiteUrlExistsCache" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
			<add name="SitesByID" cacheDepth="5000" cacheItemLifespan="0.00:20:00" />
			<add name="SitesWithContentByID" cacheDepth="10000" cacheItemLifespan="0.00:05:00" />
			<add name="user-slim" cacheDepth="1000" cacheItemLifespan="0.00:20:00" />
			<add name="Order Search" cacheDepth="500" cacheItemLifespan="0.00:05:00" />
			<add name="qp-CampaignActionTokenValues" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
			<add name="qp-domainEventCampaigns" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
			<add name="AccountsByText" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
			<add name="AccountsByTextAccountTypeAndAccountStatus" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
			<add name="AccountsByTextAndAccountStatus" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
			<add name="AccountsByTextAndAccountType" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
			<add name="AccountsByTextAccountTypeAndSponsorId" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
		</namedCaches>
	</netsteps.cache>
	<appSettings>
		<add key="webpages:Version" value="1.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<upsAddressValidator userName="goldcanyon1" password="goldcanyon" endpointUrl="https://onlinetools.ups.com/webservices/XAV" accessLicenseNumber="3BE68AD815524330" />
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880" />
		</authentication>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>