<?xml version="1.0"?>
<!--GoldCanyon CONFIG-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
	<connectionStrings xdt:Transform="Replace">
		<!--Release-->
		<add name="GoldCanyonCoreEntities" providerName="System.Data.SqlClient" connectionString="Data Source=GoldCanyonDatabase;Initial Catalog=GoldCanyonCore;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsCore;MultipleActiveResultSets=True" />
		<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=GoldCanyonDatabase;Initial Catalog=GoldCanyonCore;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsCore;MultipleActiveResultSets=True" />
		<add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=GoldCanyonDatabase;Initial Catalog=GoldCanyonMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsCore;MultipleActiveResultSets=True" />
		<add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=GoldCanyonDatabase;Initial Catalog=GoldCanyonCommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsCore;MultipleActiveResultSets=True" />
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>