@model DistributorBackOffice.Models.Home.WidgetModel
<!-- account widget -->
<div class="WidgetWrap Account">
    <div class="Widget">
        <div class=" UI-btn txtShadowDrk WidgetTitle">
            <span class="Txt  UI-btn">My Account</span> <span class="FR WidgetControls"><a href="javascript:void(0);"
				onclick="javascript:hideWidget(@Model.Widget.WidgetID);" title="@Html.Term("RemoveThisWidgetFromYourDashboard", "Remove this widget from your dashboard")"><span>X</span></a></span>
        </div>
        <div class="WidgetBody">
            <p>
                Remind me again why we need this widget
            </p>
        </div>
    </div>
</div>
<!--end widget -->
