@model DistributorBackOffice.Models.Home.WidgetModel
<script type="text/javascript">
    $(function () {
        $('#SnippetWrapper').rotator({ createNavigatorControls: false });
    });
</script>

<!-- Breaking News -->
 <!--<div id="BreakingNews" class="UI-bg">
    <div class="News Content">
        <h1>
            <span>
                @Html.Term("BreakingNews", "Breaking News")</span></h1>
        <div id="SnippetWrapper">
           @* @{var featuredNews = (ViewData["News"] as IEnumerable<NetSteps.Data.Entities.News>).Where(n => n.IsFeatured).ToList();}*@
           @* @foreach (var news in featuredNews)
            {*@
                <div class="Snippet">
                    <p>
                       @* @news.HtmlSection.ProductionContentForDisplay((Site)ViewData["CurrentSite"]).Title()*@
                        <a href=@*"@Href("~/News/Details", news.NewsID)">*@
                         @*   @Html.Term("ReadMore", "Read More")</a>*@
                    </p>
                </div>
            }
        </div>
        <span class="clr"></span>
    </div>
    <span class="clr"></span>
</div>-->
