<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="customSettings" type="NetSteps.Hurricane.Plugin.CustomSettings, NetSteps.Hurricane.Plugin"/>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </configSections>

    <appSettings>
        <!-- This is a comma separated list of IPs that are allowed to relay through the server.
             This should be the IPs where the QueueProcessor is running. A star is valid at the end. -->
        <add key="LocalIPList" value="127.0.0.1,192.168.2.*,10.100.0.*,10.130.0.*"/>
    </appSettings>

    <customSettings>
        <hurricaneMailClients>
            <add
                name="ZriiTesting"
                databaseVersion="4.0"
                connectionString="Data Source=192.168.2.250;Initial Catalog=Zrii_Test_Mail;User ID=zrii_sql;Password=W3lcome-7;"
                enableLocalDelivery="true"
                attachmentFolderPath="\\192.168.2.39\WebSites\nsCore5FileUploads\Attachments"
                enableAutoForward="true"
                autoForwardAccountTypeId="1"
                autoForwardDisclaimerSiteId="421"
                autoForwardDisclaimerSectionNameHtml="Forwarded Email HTML"
                autoForwardDisclaimerSectionNameText="Forwarded Email Text"/>
            <add
                name="NaturaStaging"
                hurricaneAccountId="1001"
                overrideMailFrom="noreply@naturastaging.fr"
                overrideSender="noreply@naturastaging.fr"/>
            <add
                name="FrameworkTest"
                hurricaneAccountId="1004"
                databaseVersion="5.0"
                connectionString="Data Source=192.168.2.250;Initial Catalog=EncoreMail;User ID=siteuser;Password=q3T0urn3y;"
                enableLocalDelivery="true"
                attachmentFolderPath="\\192.168.2.39\WebSites\nsCore5FileUploads\Attachments"
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
            <add
                name="EncoreDebug"
                hurricaneAccountId=""
                databaseVersion="5.0"
                connectionString="Data Source=192.168.2.250;Initial Catalog=EncoreMail;User ID=siteuser;Password=q3T0urn3y;"
                enableLocalDelivery="true"
                attachmentFolderPath="\\192.168.2.39\WebSites\nsCore5FileUploads\Attachments"
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
        </hurricaneMailClients>
    </customSettings>

    <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Debug" logWarningsWhenNoCategoriesMatch="true">
        <listeners>
            <add
                fileName="C:\Logs\NetSteps.Hurricane.Plugin\logFile.log"
                footer=""
                formatter="Text Formatter"
                header=""
                rollFileExistsBehavior="Increment"
                rollInterval="Day"
                rollSizeKB="10000"
                timeStampPattern="yyyy-MM-dd"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                traceOutputOptions="DateTime"
                filter="All"
                type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="PluginLog"/>
        </listeners>

        <formatters>
            <add
                template="{timestamp}, {win32ThreadId}, {category}, {message}"
                type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Text Formatter"/>
        </formatters>

        <logFilters>
            <add
                categoryFilterMode="AllowAllExceptDenied"
                type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Category Filter">
                <categoryFilters>
                </categoryFilters>
            </add>
        </logFilters>

        <categorySources>
            <add switchValue="All" name="Error">
                <listeners>
                    <add name="PluginLog"/>
                </listeners>
            </add>
            <add switchValue="All" name="Info">
                <listeners>
                    <add name="PluginLog"/>
                </listeners>
            </add>
            <add switchValue="All" name="Debug">
                <listeners>
                    <add name="PluginLog"/>
                </listeners>
            </add>
        </categorySources>

        <specialSources>
            <allEvents switchValue="All" name="All Events"/>
            <notProcessed switchValue="All" name="Unprocessed Category"/>
            <errors switchValue="All" name="Logging Errors &amp; Warnings"/>
        </specialSources>
    </loggingConfiguration>
</configuration>