<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shipping.Ups.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Shipping.Ups.Properties.Settings>
            <setting name="Shipping_Ups_ShippingAPI_ShipService" serializeAs="String">
                <value>https://wwwcie.ups.com/webservices/Ship</value>
            </setting>
            <setting name="Shipping_Ups_VoidAPI_VoidService" serializeAs="String">
                <value>https://wwwcie.ups.com/webservices/Void</value>
            </setting>
        </Shipping.Ups.Properties.Settings>
    </applicationSettings>
</configuration>