<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Core" connectionString="data source=localhost;initial catalog=MicheCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="Commissions" connectionString="data source=localhost;initial catalog=MicheCommissions;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;Connect Timeout=200" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.127.0" newVersion="2.4.127.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>