#OverviewBar_Chart
{
    height:120px;
}
.overviewNameValue {
    width: 45%;
    margin: 0.3%;
    padding: 12px 2%;
    font-size: 120%;
}
.WidgetBody.flatList .overviewNameValue {
	width:95%;
	padding: 6px 2%;
	font-size:100%;
	span.FR {
		text-align:right;
	}
}
#OverviewBar_View  {
	#GV, #PV {
		display:none;
	}
}
#OverviewText_View {
	.overviewNameValue {
		background:$PageBg;
		width:96%;
		border:none;
		@include DottedLine;
		padding:8px;
		font-size:100%;
		margin:0 1%;
		span.FL {
			font-weight:bold;
		}
		span.FR {
			font-weight:normal;
		}
	}
}