<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
	<analytics xdt:Transform="Replace" debug="true">
		<propertyIds>
			<add propertyId="UA-37841239-1" />
		</propertyIds>
	</analytics>
	<netsteps.identify environment="testing" xdt:Transform="SetAttributes" />
	<appSettings>
		<add key="FileUploadAbsolutePath" value="\\netsteps.local\fileupload\QA\BelcorpUSA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="FileUploadAbsoluteWebPath" value="http://workstation.belcorpusa.com.belcorpusa.qa.netsteps.us/FileUploads/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ReportServerURL" value="http://localhost/reportingservice" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ReportServerUser" value="SVC_BUS_QA_RPT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ReportServerPassword" value="password" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ReportServerDomain" value="netsteps.local" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EnvironmentLevelDomain" value=".belcorpusa.qa.netsteps.us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="Off" xdt:Transform="Replace" />
	</system.web>
</configuration>