<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<netsteps.identify environment="debug" xdt:Transform="SetAttributes" />
	<appSettings>
		<add key="FileUploadAbsolutePath" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="FileUploadAbsoluteWebPath" value="//workstation.belcorpusa.com.staging.encore.belcorp.us/FileUploads/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
	<system.web>
		<customErrors mode="Off" xdt:Transform="Replace" />
	</system.web>
</configuration>
