<!-- site search -->
<div id="globalSearchToggle" class="FL splitCol60 MoreSearchOptions globalSearch">
    <div id="SearchContainer" class="Search">
        <input type="text" class="TextInput fullWidth globalsearch" id="globalSearch" />
        <span class="clr"></span>
    </div>
</div>
<!--/end site search -->


