@model DistributorBackOffice.Models.AccountQuickFacts
<div id="accountQuickFacts">
	<div id="accountQuickFacts_AccountNumber"><span>@Html.Term("AccountNumber", "Account Number"):</span> <span>@Model.AccountNumber</span></div>
	<div id="accountQuickFacts_CareerTitle"><span>@Html.Term("CareerTitle", "Career Title"):</span> <span>@Model.CareerTitle</span></div>
</div>