<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="vertexTaxCalculator" type="NetSteps.TaxCalculator.Vertex.Config.VertexTaxCalculatorConfigSection, NetSteps.TaxCalculator.Vertex" />
	</configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LookupTaxAreas60SoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="CalculateTax60SoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://goldcanyon.ondemand.vertexinc.com:443/vertex-ws/services/LookupTaxAreas60" binding="basicHttpBinding" bindingConfiguration="LookupTaxAreas60SoapBinding" contract="TaxAreaService60.LookupTaxAreasWS60" name="LookupTaxAreas60" />
            <endpoint address="https://goldcanyon.ondemand.vertexinc.com:443/vertex-ws/services/CalculateTax60" binding="basicHttpBinding" bindingConfiguration="CalculateTax60SoapBinding" contract="CalculateTaxService60.CalculateTaxWS60" name="CalculateTax60" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FlitBit.Emit" publicKeyToken="38f03d0878531ff3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.6.0" newVersion="2.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FlitBit.Wireup" publicKeyToken="38f03d0878531ff3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.6.0" newVersion="2.5.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FlitBit.Core" publicKeyToken="38f03d0878531ff3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.4.0" newVersion="2.11.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>