/*
 * Emigre web font kit 53fb76938c771
 * 
 * These fonts are not shareware. 
 * Use of these fonts requires the purchase 
 * of a license from Emigre, www.emigre.com  
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/fontpage.php?PMrsI.html
 *
 * © 2012 Emigre, Inc
 */
 
@font-face {
  font-family: 'MuseoSans';
  src: url('/Content/usa/corp/font/museosans-100-webfont.eot');
  src: local('?'),            
  url('/Content/usa/corp/font/museosans-100-webfont.woff') 
format('woff'),    
  url('/Content/usa/corp/font/museosans-100-webfont.ttf') 
format('truetype'), 
  url('/Content/usa/corp/font/museosans-100-webfont.svg#font') format('svg'); 
}

@font-face {
  font-family: 'MuseoSans_300';
  src: url('/Content/usa/corp/font/museosans-300-webfont.eot'); 
  src: local('?'),            
        url('/Content/usa/corp/font/museosans-300-webfont.woff') 
format('woff'),   
        url('/Content/usa/corp/font/museosans-300-webfont.ttf') 
format('truetype'), 
        url('/Content/usa/corp/font/museosans-300-webfont.svg#font') 
format('svg');
}
  @font-face {
  font-family: 'MuseoSans_700';
  src: url('/Content/usa/corp/font/museosans-700-webfont.eot');
  src: local('?'),            
        url('/Content/usa/corp/font/museosans-700-webfont.woff') 
format('woff'),    
        url('/Content/usa/corp/font/museosans-700-webfont.ttf') 
format('truetype'), 
        url('/Content/usa/corp/font/museosans-700-webfont.svg#font') format('svg'); 
}
  @font-face {
  font-family: 'MuseoSans_900';
  src: url('/Content/usa/corp/font/museosans-900-webfont.eot'); 
  src: local('?'),            
        url('/Content/usa/corp/font/museosans-900-webfont.woff') 
format('woff'),  
        url('/Content/usa/corp/font/museosans-900-webfont.ttf') 
format('truetype'), 
        url('/Content/usa/corp/font/museosans-900-webfont.svg#font') 
format('svg');
}


@font-face {
	
	font-family: 'MrsEavesItalic';
    src: url('/Content/usa/corp/font/mrseavita-080413005EmigreWebOnly.eot');
    src: url('/Content/usa/corp/font/mrseavita-080413005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('/Content/usa/corp/font/mrseavita-080413005EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

	
}

@font-face {
    font-family: 'MrsEavesRoman';
    src: url('/Content/usa/corp/font/mrseavromlin-071211001EmigreWebOnly.eot');
    src: url('/Content/usa/corp/font/mrseavromlin-071211001EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('/Content/usa/corp/font/mrseavromlin-071211001EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}



body{
font-family:'MuseoSans';
background:#fff!important;
color:#585858;
font-weight:normal;
}
.blue{
color:#2069a8!important;
}
.red{
color: #FF4040;
}
.purple{
color:#4B0653;
}
.yellow{
color: #ffcc00;
}
.gBG{
background:#e5e5e5!important;
}
.upper{
text-transform:uppercase;
}

.top{
color:#4B0653;
text-transform:uppercase;
font-family:'MuseoSans_700';
clear: both;
margin: 2% 0;
}
.top-anchor{
width:0;
height:0;
position:absolute;
top:-12em;
}
.no-marg{
margin:0!important;
}
.NM{
margin:0!important;
}
.PAD{
padding:2em!important;
box-sizing:border-box;
}
.MB{
margin-bottom:2em;
}
.MrsEavesItalic{
font-family:'MrsEavesItalic'!important;
font-style:italic!important;
}
br{
line-height: 1em!important;
}
h1, h2, h3, h4, h5, h6, p, #FooterLinks ul, img, br, form li{
font-size: 1.2em;
 line-height:1.4em; 
font-weight:normal;
font-family:'MuseoSans';
color:#585858;
}

h1{
line-height:1em;
font-size:1.7em;
font-family:'MuseoSans_300';
padding-bottom:0;
margin-bottom:0;
margin-top: 4%;
text-transform: uppercase;

}
h2{
color:#2069a8;
text-transform:uppercase;
font-family:'MuseoSans_700';
}
h2 span{
text-transform: none;
color: #585858;
font-size: 1.5em;
font-family: 'MuseoSans_300';
}
h3{
font-family: 'MrsEavesItalic';
font-style:italic;
}
h4{
text-transform: uppercase;
font-family: 'MuseoSans_300';
}
label{
clear: both;
display: block;
margin-bottom: 1em;
color:#ff4040;
text-transform:uppercase;
}
input[type=text], input[type=email]{
width: 100%;
padding: .5em 1em;
height: 2em;
border: 0;
background: #E5E5E5;
margin-bottom: 2em;
}
ul{
padding:0;
margin:0;
list-type:none;
}
ul li{
margin-bottom:.5em;
}

.clear{
width:100%;
clear:both;
height:3em;
}
#ContentWrap p {
margin-top: 0;
line-height: 1.3em;
color:#585858;
}
/*
#fixed_nav {
width: 100%;
background: #4B0653;
color: #FFF;
position: fixed;
top: 0;
z-index: 99;
text-align: right;
box-shadow: 0 0 20px 0px #000!important;
-webkit-box-shadow:rgba(0,0,0) 0 0 20px 0px;
-moz-box-shadow:rgba(0,0,0) 0 0 20px 0px;
filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=0, Color=#000000);
height: 6%;
display: table;
}
.nav-container{
width:87em;
margin: 0 auto;
}
.nav-container td{
text-align:right;
}
#fixed_nav ul{
list-style: none;
display: block;
margin: 2% auto;
}
#fixed_nav ul li{
display:inline;
margin-left:2%;
position: relative;
}
#fixed_nav ul li a{
color:white;
text-transform:uppercase;
font-size:1.1em;
font-family: 'MuseoSans_700';
letter-spacing: 1px;
}
#fixed_nav ul li a:hover{
border-bottom: 3pt solid #FFF;
padding-bottom: .5em;
}
#fixed_nav ul li ul {
display:none;
}
#fixed_nav ul li:hover ul{
display:block;
right:0;
}
#fixed_nav ul li ul{
margin: 0;
padding: 0;
clear: both;
position: absolute;
height:auto;
text-align: left;
background:#fff;
-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0.25em 0.25em 1em;
-moz-box-shadow: rgba(0, 0, 0, 0.5) 0.25em 0.25em 1em;
box-shadow: rgba(0, 0, 0, 0.5) 0.25em 0.25em 1em;
border: 1px solid #ccc;
margin-top: -1px;
}
#fixed_nav ul li ul li{
display: block;
padding: .5em 1em;
}
#fixed_nav ul li ul li a {
color:#4B0653;
}
#fixed_nav ul li ul li:hover, .active {
border-bottom: 0;
}
#fixed_nav ul li ul li:hover a, .active {
border-bottom: 3pt solid purple;
}
*/



#fixed_nav {
width: 100%;
background: #4B0653;
color: #FFF;
position: fixed;
top: 0;
z-index: 99;
text-align: right;
box-shadow: 0 0 20px 0px #000!important;
-webkit-box-shadow:rgba(0,0,0) 0 0 20px 0px;
-moz-box-shadow:rgba(0,0,0) 0 0 20px 0px;
filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=0, Color=#000000);
height: 6%;
display: table;
}
table.nav-container{
width:103em;
margin: 0 auto;
}
table.nav-container td{
text-align:right;
}
#fixed_nav ul{
list-style: none;
display: block;
margin: 2% auto;
}
#fixed_nav ul li{
display:inline;
margin-left:2%;
position: relative;
}
#fixed_nav ul li a{
color:white;
text-transform:uppercase;
font-size:1.1em;
font-family: 'MuseoSans_700';
letter-spacing: 1px;
}
#fixed_nav ul li a:hover{
border-bottom: 3pt solid #FFF;
padding-bottom: .5em;
}
#fixed_nav ul li ul {
display:none;
}
#fixed_nav ul li:hover ul{
display:block;
right:0;
}
#fixed_nav ul li ul{
margin: 0;
padding: 0;
clear: both;
position: absolute;
height:auto;
text-align: left;
background:#fff;
-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0.25em 0.25em 1em;
-moz-box-shadow: rgba(0, 0, 0, 0.5) 0.25em 0.25em 1em;
box-shadow: rgba(0, 0, 0, 0.5) 0.25em 0.25em 1em;
border: 1px solid #ccc;
margin-top: -1px;
}
#fixed_nav ul li ul li{
display: block;
padding: .5em 1em;
}
#fixed_nav ul li ul li a {
color:#4B0653;
}
#fixed_nav ul li ul li:hover, .active {
border-bottom: 0;
}
#fixed_nav ul li ul li:hover a, .active {
border-bottom: 3pt solid purple;
}



.active{
border-bottom: 3pt solid #FFF;
padding-bottom: .5em;
}
.TagLine {
display:none;
}
#SiteUserUtilities{
display:none;
}

#PageContain{
width:100%;
color:#585858;
}
#TopPane {
position: fixed;
z-index: 1;
background: #FFF;
width: 100%;
top: 6%;
box-shadow: 0 0 20px 0px #000!important;
-webkit-box-shadow: rgba(0,0,0) 0 0 20px 0px;
-moz-box-shadow: rgba(0,0,0) 0 0 20px 0px;
filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=0, Color=#000000);
height:10em;
clear: both;
display: block;
overflow: hidden;	
}

.TopInner{
width:87em;
margin: 0 auto;
height: auto;
display: block;  
overflow: hidden;
box-sizing:border-box;
}
#ContentWrap {
margin-top: 13em;
padding: 0;
}
#Logo {
float: left;
width: 6em;
height: 6em;
background-size: 100% auto;
background-position: left top;
margin-top: 2em;
}

#Logo img {
width:100%;
height:auto;
} 
#SiteNav {
text-align: right;
background: #FFF;
width: 80%; 
float: right;
position: relative;
top: 2.5em;
font-size: 1.5em;
}
#SiteNav ul li a span{
text-transform:uppercase;
font-family:'MuseoSans_300';
font-weight:normal;
}
#siteNav ul li a span{
color:#4b0653;
font-family:'MuseoSans_700';
}
.navigationItem span{
color:#4b0653;
}

.navigationItem a.current span{
color:#b3a4b6!important;
}
#SiteNav ul li a:hover{
background:transparent;
color:#4b0653;
}
#SiteNav ul li:hover{
background:transparent;
color:#4b0653;
}
.homeCol_b {
display:none;
}
#Footer{
width:100%;
background:#4B0653;
clear:both;
display:block;
padding: 1em;
box-sizing: border-box;
}
.homeCol_a .block2 {
height:auto;
}
.main-banner img{
width:100%;
height:auto;
}
.main-banner {
display: block;
clear: both;
overflow: hidden;
}
#global-footer{
padding: 1em 2em;
width: 77%;
box-sizing: border-box;
margin: 0 auto;
}
.sitemap{
margin: 0;
padding: 0;
color: #FFF;
margin-right: 3%;
width: 20%;
float: left;
list-style-type: none;
font-family:'MuseoSans_300'; 
}
.sitemap li{
padding: .2em 0;
margin:0;
}
.sitemap a{
color:#fff;
}
.sitemap i{
color:#4b0653;
}
.sitemap li:first-child{
font-family:'MuseoSans_900'; 
text-transform:uppercase;
padding: 1em 0;
}
#FooterLinks{
display:none;
}
#us-home{
width: 100%;
clear: both;
display: block;
overflow: hidden;
}
#us-home h1{
margin: 10% 0 7% 0;
border-bottom:1px solid #ffcc00;
font-family: 'MrsEavesItalic';
font-style: italic;
letter-spacing: 1px;
font-size:2em;
text-transform:capitalize;
}
.us-copy{
width:100%;
clear:both;
display:block;
overflow:hidden;
text-align:center;
color:#fff;
text-transform:uppercase;
font-size:.7em;
}
.us-copy p{
color:#fff;
}
.us-copy img{
width: 5em;
height: auto;
}
#us-content{
width: 87em;
height: auto;
clear: both;
overflow: hidden;
display: block;
margin: 0 auto;
padding: 0;
box-sizing: border-box;
background:#fff;
}
.us-col{ 
float:left;

}
.us-tiny{
width: 18%;
margin-right: 5%;
}
.us-small{
width: 27%;
margin-right: 9%;
}
.us-med{
width: 30%; 
margin-right: 5%;
}
.us-large-60{
width: 60%;
}
.us-med-50{
width:50%;
}
.us-large{
width: 76%;
margin-right: 11%;
}
.us-full{
width: 100%;
clear:both;
}
.button{
background:#4B0653;
padding:.7em 1.4em;
color:#fff;
text-transform:uppercase!important;
font-family:'MuseoSans_700';
}
.button:hover{
background: #FFF;
color: #4B0653;
border: 1px solid #4B0653;
box-sizing: border-box;
padding: .7em 1.4em .5em;
}
.us-button{
color:#ff4040;
text-transform:uppercase!important;
font-family:'MuseoSans_700';
}
.us-button:hover{
color:#B9B7B7;
}

.history{
background:url(/Content/usa/corp/images/historyBG.jpg) #2069a8;
background-attachment: fixed;
background-size: 100% 70%;
background-position:left top;
}
.history-banner{
height:300px;
width:100%;
color:#fff;
padding: 4em 2em 2em 2em;
box-sizing: border-box;
}
.history-banner hr{
width: 70%;
height: .3em;
color: rgba(0, 0, 0, 0);
background: #FFF;
border: 0;
}
.history-banner p{
font-size: 4em;
text-transform: uppercase;
text-align: center;
width: 70%;
margin: 0 auto;
padding: .5em 0;
color: #FFF!important;
}
.historyContent h3{
font-size: 1.5em;
padding-bottom: 0;
margin-bottom: 0;
}
.careerContent h3{
font-size: 1.5em;
padding-bottom: 0;
margin-bottom: 0;
}

.careerWrap{
background: #E5E5E5;
}
.career{
background:url(/Content/usa/corp/images/CareerBG.jpg) #2069a8;
background-attachment: fixed;
background-size: 100% 70%;
background-position:left top;
}
.career-banner{
height:320px;
width:100%;
color:#fff;
padding: 5em 2em 2em 2em;
box-sizing: border-box;
}
.career-banner hr{
width: 70%;
height: .3em;
color: rgba(0, 0, 0, 0);
background: #FFF;
border: 0;
}
.career-banner p{
font-size: 4em;
text-transform: uppercase;
text-align: center;
width: 70%;
margin: 0 auto!important;
color: #FFF!important;
padding: .4em 0;
}
.careerList{
list-style:none;
margin:0;
padding:0;
}


.skincare{
background:url(/Content/usa/corp/images/SkincareBG.jpg) #2069a8;
background-attachment: fixed; 
background-size: 100% auto;
background-position: bottom;
}
.color{
background:url(/Content/usa/corp/images/ColorBG.jpg) #2069a8;
background-attachment: fixed; 
background-size: 100% auto;
background-position: top;
}
.fragrance{
background:url(/Content/usa/corp/images/FragranceBG.jpg) #2069a8;
background-attachment: fixed; 
background-size: 100% auto;
background-position: top;
}

.wellbeing{
background:url(/Content/usa/corp/images/WellbeingBG.jpg) #2069a8;
background-attachment: fixed; 
background-size: 100% auto;
background-position: top;
}
.skincontent, .colorcontent, .fragrancecontent, .wellbeingcontent{
background: rgba(255, 255, 255, 0.8)!important;
width: 100%!important;
padding: 2em 9em!important;
}

.skincontent h2, .colorcontent h2, .fragrancecontent h2, .wellbeingcontent h2{
color: #585858;
text-transform: capitalize;
font-size: 1.7em;
font-family: 'MrsEavesItalic';
font-style:italic;
padding-bottom: 0;
margin-bottom: 0;
}

.brandAnchor{
position:relative;
top:-14em;
}

.brand-banner{
height: 9em;
width: 100%;
color: #FFF;
padding: 4em 2em;
box-sizing: border-box;
}
.brand-banner hr{
width: 70%;
height: .3em;
color: rgba(0, 0, 0, 0);
background: #FFF;
border: 0;
}
.brand-banner p{
font-size: 3em;
text-transform: uppercase;
text-align: center;
width: 44%;
margin: 1em auto;
padding-bottom:.5em;
}


.toplayer{
width:70%;
margin:0 auto;
}
.toplayer hr{
float:left;
width:34%;
}
.toplayer span{
width: 7.5em;
height: 2em;
display: block;
font-size: 3em;
font-family: 'MuseoSans_300';
float:left;
text-align:center;
text-transform: uppercase;
}
.profile{
float: left;
border-radius: 100%;
border: 3px solid #FFF;
box-shadow: 5px 6px 20px 0px #DDD;
width: 15em;
height: auto;
overflow: hidden;
margin-right: 3em;
}
.profile img{
width:100%;
height:auto;
}
.brand{
text-align:center;
}
.brand h1{
color:#ffcc00;
margin-bottom:2em;
font-size:3em;
}
.brandProducts{
margin: 0 auto;
display: block;
clear: both;
overflow: hidden;
box-sizing: border-box;
padding-left: 9%;
margin-bottom:2em;
}
.brandProducts h1{
color:#585858;
margin-bottom:.5em;
font-size: 1.7em;
}
.brandProductsIMG{
height: 12em;
}
.brandProductsIMG img{
height:100%;
width:auto;
}
.brandProducts p{
height: 8em;
overflow:hidden;
}

.feature{
margin: 0 auto;
width: 20em;
text-align: center;
}
.feature img{
width:auto;
height:20em;
}
.opportunity{
width:100%;
background:#e5e5e5;
padding: 2em;
box-sizing: border-box;
}
.opportunityContent{
margin:2em 0;
}
.opportunity ul{
margin:0;
padding:0;
list-style:none;
font-size: 1.2em;
}
.opportunity ul li:before {
    content: "• ";
    color: #ffcc00;
}
.opportunity h1{
font-family: 'MrsEavesItalic'!important;
font-style:italic;
}
.opportunityIMG {
width: 23em;
height: 23em;
}
.opportunityIMG img {
height: 100%;
width: auto;
}
.leftColumHeader img{
height: 3em;
float: left;
margin-right: .5em;
}
.leftColumHeader h4{
padding-top: .7em;
}
.bubbles{
height:auto;
width:100%;
margin-top: 5em;
}
.bubbleInfo{
position:relative;
top:-5em;
}
#recognition, #started, #income{
clear: both;
top: 4em;
border-top: 2px solid #E5E5E5;
width: 100%;
box-sizing: border-box;
}
.income{
background: url(/Content/usa/corp/images/incomeBG.jpg) no-repeat;
background-size: 100% 100%;
background-position: left top;
height: 27em;
margin: 0 0 0 -24px;
width: 87em;
}
.incomeChart{
margin: 0 0 0 -24px;
width: 87em;
padding: 2em;
box-sizing: border-box;
}
.incomeChart img{
width:100%;
height:auto;
}

.income span{
margin: 6em 2em 2em 2em;
}
.income span h1{
font-family: 'MuseoSans_300'!important;
font-style: normal;
font-size: 2em;
color: #2069A8;
}
.dots{
background:url(/Content/usa/corp/images/Dots.png);
background-size: 100%;
}
.quote{
padding-top:2em;
clear: both;
overflow: hidden;
}
.quote-q{
font-size: 4em;
font-family: 'MrsEavesItalic';
font-style:italic;
text-transform: none;
color: #ffcc00;
font-weight: normal;
padding: 0;
line-height: 1em;
float:left;
}
.quote1{
font-size:3em;
font-family: 'MuseoSans';
line-height: 1em;
margin: 0;
padding: 0;
display: block;
}
.quote2{
font-size: 4em;
font-family: 'MuseoSans';
text-transform: none;
color: #585858;
font-weight: normal;
padding: 0;
margin: 0 0 0 3em;
line-height: 1em;
display: block;
}
.quote3{
font-size: 4em;
font-family: 'MuseoSans';
text-transform: none;
color: #585858;
font-weight: normal;
margin: 0;
padding: 0;
line-height: 1em;
display: block;
}
.opportunityContent h3{
font-size:2em;
padding: 0;
margin: 1em 0 0 0;
}
.startedKit{
width:100%;
height:auto;
}
.contact h1{
margin: 0 auto!important;
text-align: center;
color:#ffcc00;
font-size:3em;
}

@media (max-width: 340px) and (min-width: 0px){
	
}

@media (max-width: 480px) and (min-width: 341px){
	
}
@media (max-width: 979px) and (min-width: 481px){
	
}
@media (max-width: 3000px) and (min-width: 1501px){
#Logo {padding: 1% 0;float: left;margin-top: 1.8em;}	
#ContentWrap {margin-top: 15em;}
}


