	@media all and (max-width:480px){
/* HIDDEN!!! */

/* HIDDEN!!! */
	
 @-moz-keyframes slidein {
      from {
        margin-left:80%;
        width:50%
      }
      
      to {
        margin-right:0%;
        width:80%;
      }
    }
    
    @-webkit-keyframes slidein {
      from {
        margin-left:80%;
        width:50%
      }
      
      to {
        margin-right:0%;
        width:80%;
      }
    }
	
	


#mobileSideNav{
position: absolute;
width: 80%;
height: 100%;
z-index: 999999;
background: #FFF;
right:0;
border-left: 3px solid #C2C2C2;
transition:1s;
-moz-animation-duration: 2s;
-webkit-animation-duration: 2s;
-moz-animation-name: slidein;
-webkit-animation-name: slidein;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
#mobileSideNav ul{
margin: 0;
padding: 0 1em;
list-style: none;
margin-top: 1em;
}
#mobileSideNav ul li{
padding: 1em .5em;
border-bottom: 1px solid #E5E5E5;
text-transform: uppercase;
font-family: 'MuseoSans_700';
}
#mobileSideNav ul li:hover{
background:#e5e5e5;
}
#mobileSideNav ul li a{
text-transform: uppercase;

}
#mobileSideNav ul li i{
float:right;
font-weight:normal;
}
.closeNav{
padding: .3em .4em;
font-size: 2em;
transition: 1s;
position: relative;
top: .5em;
left: .5em;
}
#fixed_nav {
display:none;
}
#fixed_nav, #TopPane{
box-shadow: 0 0 10px 0px #000!important;
-webkit-box-shadow: rgba(0,0,0) 0 0 10px 0px;
-moz-box-shadow: rgba(0,0,0) 0 0 10px 0px;
filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=0, Color=#000000);
}
#fixed_nav ul li a {
font-size: .7em;
}
table.nav-container{
width:100%;
}
table.nav-container td{
text-align:center;
}
.TopInner{
width:100%;
height: 4em;
}
#Logo {
width: 3em;
height: 1em;
margin-top: 0;
margin-left: 1em;
padding: .5em .5em .5em .5em;
}
.mobileNavIcon{
display:block!important;
position: absolute;
right: 1em;
z-index: 9;
top: 1em;
}
.mobileNavIcon i{
font-size:3em;
}
.mobileNav{
position: fixed;
top: 4em;
height: 17em;
z-index: 9;
background: #fff;
width: 100%;
padding: 2em 0 0;
box-shadow: 0 24px 20px -10px #5e5e5e;
}
.mobileNav li{
border-bottom: 1px solid #e5e5e5;
padding-bottom: .3em;
}
.mobileNav a{
font-size: 2em;
}
.closediv{
font-size: 1.5em;
position: absolute;
top: -2em;
right: .6em;
width: 72%;
text-align: right;
z-index: 99;
background: white;
}
#SiteNav{
display:none;
}
.sitemap{
margin-top:0!important;
float:none;
margin-bottom: .5em;
}

.sitemap i{
margin-left: 1em;
font-size: 1.5em;
}
.us-copy img {
width: 8em;
position: relative;
top: -10em;
right: -11em;
}
.us-copy p {
font-size: .7em;
margin-top: -6em;
}
.us-copy{
overflow:visible;
}
#TopPane{
height:auto;
top:0;
}
#ContentWrap {
margin-top: 4em;
}

#us-content{
width:100%;
padding:1em;
}
.us-small{
width:100%;
}
.us-button{ 
float:none!important;
}
#global-footer{
width:100%!important;
}
.sitemap li:first-child{
padding:0;
font-size: .8em;
}
.dim{

}
#fixed_nav ul {
margin: 0 auto;
}
.active {
border-bottom: 1pt solid #FFF;
}
.history-banner {
height: 10.5em;
padding: 1.5em .5em 0 .5em;
overflow:hidden;
}
.history-banner hr {
height: .2em;
}
.history-banner p {
font-size: 1.5em;
width: 100%;
padding: .5em 0;
}
.toplayer span {
width: 6.5em;
height: 1em;
font-size: 1.5em;
}
.toplayer hr {
width: 18%;
}
#ContentWrap p {
margin-bottom:0;
}
ul li {
margin-left: 1em;
}
h1, h2, h3, h4, h5, h6, p, #FooterLinks ul, img, br, form li {
font-size: .9em;
}
.profile {
border: 1px solid #FFF;
box-shadow: 2px 3px 10px 0px #DDD;
width: 4em;
margin-right: 0em;
}
.clear {
height: 1em;
}
.brand h1, .contact h1 {
margin-bottom: 1em;
font-size: 2em;
}
.brandProducts {
padding-left: 2%;
}
.us-tiny {
margin-right: 1%;
width: 49%;
margin-bottom: 2em;
}
.brandProductsIMG {
height: 6em;
}
.brandProducts h1 {
font-size: 1.3em;
}
.brandProducts p {
height: 7em;
}
.us-button{
font-size: .8em;
}
.brand-banner {
height: 6em;
width: 100%;
padding: 2.5em .5em 0 2em;
}
.skincontent, .colorcontent, .fragrancecontent, .wellbeingcontent {
width: 100%!important;
padding: 1em 1em!important;
}
.feature img {
height: 10em;
}
.opportunity {
padding: 1em .5em;
}
#us-content {
padding: 1em!important;
}
.us-med, .us-med-50 {
width: 100%;
}
.opportunity h1 {
font-size: 2em;
}
.bubbles {
margin-top: 0em;
width: 47%;
}
.us-large-60 {
width: 100%;
}
#started, #income, #recognition{
text-align:center;
}
.historyContent{
}
.PAD {
padding:0px!important;
}
input[type=text], input[type=email] {
box-sizing: border-box;
padding: 1.5em 1em;
}
.skincontent, .colorcontent, .fragrancecontent, .wellbeingcontent {
background: rgba(255, 255, 255, 1)!important;
}
.quote2 {
margin: 0;
}
.income {
width: 100%!important;
height: auto!important;
}
.income span {
margin: 3em -2em 1em 0em;
}
.incomeChart {
margin: 0 0 0 -11px!important;
padding: 0!important;
width: 109%!important;
}
.dots{display:none;}
.career-banner {
height: auto;
padding: 1em 0em 2em 0em;
}
.career-banner p {
font-size: 2em;
}
.career {
background-size: 100% 100%
}
.policy {
width: 86%;
}





	}/* max-width:480 */
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
