.policy {
width: 55%;
margin: 0 auto!important;
padding:1em 0 4em 0;
}
#history {
/*background: url(/Content/usa/corp/images/historyBG.jpg) #2069a8;*/
background: url(/Content/usa/corp/images/historyBG.jpg) #2069a8;
background-attachment: fixed;
background-size: 100% 70%;
background-position: left top;
}
.history{
background:transparent!important;
}
ul{
list-style: none;
}
.fa-stack{
margin-left:1em;
}
.mobileNavIcon, .mobileNav{
display:none;
}
