<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=EncoreDemoCore;Integrated Security=SSPI;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1308.2321" newVersion="4.1.1308.2321" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>