@media all and (max-width:480px){

	
 @-moz-keyframes slidein {
      from {
        margin-left:80%;
        width:50%
      }
      
      to {
        margin-right:0%;
        width:80%;
      }
    }
    
    @-webkit-keyframes slidein {
      from {
        margin-left:80%;
        width:50%
      }
      
      to {
        margin-right:0%;
        width:80%;
      }
    }
.mobileNavIcons{
display: block!important;
position: fixed;
z-index: 2;
right: 1em;
top: 1.5em;
}
.mobileNavIcons i{
font-size: 2em;
margin-right: .5em;
color: #BBB0A3;
}
#mobileSideNav{
position: absolute;
top: 0;
width: 80%;
height: 100%;
z-index: 999999;
background: #FFF;
right:0;
border-left: 3px solid #C2C2C2;
transition:1s;
-moz-animation-duration: 2s;
-webkit-animation-duration: 2s;
-moz-animation-name: slidein;
-webkit-animation-name: slidein;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
#mobileSideNav ul{
margin: 0;
padding: 0 1em;
list-style: none;
margin-top: 2em;
}
#mobileSideNav ul li{
padding: 1em .5em;
border-bottom: 1px solid #E5E5E5;
text-transform: uppercase;
font-family: 'MuseoSans_700';
}
#mobileSideNav ul li:hover{
background:#e5e5e5;
}
#mobileSideNav ul li a{
text-transform: uppercase;

}
#mobileSideNav ul li i{
float:right;
font-weight:normal;
}
.closeNav{
padding: .3em .4em;
font-size: 2em;
transition: 1s;
position: relative;
top: .5em;
left: .5em;
}
.UI-siteNav .FR {
right: 12em;
top: 8em;
width: 100%
}
.inlineNav {
display: none;
}
.icon-navbarSearch{
font-size: .8em;
}
.userInfo .UserID {
padding: 0;
right: 0;
position: relative;
}
.globalSearch {
right: -10em;
position: relative;
top: -7.5em!important;
z-index: 3;
}
.userInfo .dropDown {
width: 100%;
padding: .5em;
width: 320px!important;
box-sizing: border-box;
margin-left: 1.3em;
}
.dropDown {
margin-top: 8px;
left: -11em;
}
.Search {
top: -10em;
right: -32em;
width: 89%;
}
.userInfo .name {
width: 100%;
}
#SearchContainer {
width: 91%!important;
}
.listBody{
padding: .5em 2.5em;
box-sizing: border-box;
}
#statusSelectFilter, #typeSelectFilter {
width: 100%!important;
}
	
	
	
.error_message_block {
position: relative;
top: 6em;
}
#fixed_nav{
display:none;
}

body.DashboardHome #PageContain {
width: 100%;
padding: 0;
margin: 0;
box-sizing: border-box;
}

#TopPane {
top: 0;
box-shadow: 0 0 10px 0px #000!important;
-webkit-box-shadow: rgba(0,0,0) 0 0 10px 0px;
-moz-box-shadow: rgba(0,0,0) 0 0 10px 0px;
}
#LogoContain {
width: 12%;
height: auto;
}
#SiteNav {
width: 32%;
}
.UI-siteNav {
float: none;
padding: 0;
width: 32%;
text-align: left;
}
.userInfo {
right: -21.4em;
width: 6.8em;
}
#Container {
padding:0;
margin: 6.5em 0 0 0;
position: relative;
}

.slideshow {
top: -1em!important;
}
.DashCol1 {
width: 99%;
position: absolute;
}
.DashCol1{
padding: 8em .5em 0 .5em;
box-sizing: border-box;
}
.DashCol2 {
padding-top: 0;
position: relative;
top: 31em;
left: -.5em;
width:100%;
}
#BreakingNews {
left:0;
overflow: hidden;
width: 100%;
clear: both;
display: block;
overflow: hidden;
box-sizing: border-box;
}

.DashCol2b {
clear: both;
float: none;
overflow: hidden;
display: block;
width: 100%;
position: relative;
top: 19em;
}
.News h1 {
font-size: 1.4em;
text-align: center;
}
.Snippet {
font-size: 1em;
}
.Snippet a {
float: right;
position: absolute;
right: 0;
background: white;
overflow: hidden;
width: 21%;
padding-left: 1.5em;
}
#Content .Inner {
width:100%!important;
margin-top: 0;
padding: 0;
background-size: 100%!important;
background-position: 0 0!important;
}
#Content .Inner .Login {
float: left!important;
width: 100%!important;
top: 8em!important;
}
#Content .Inner .Info {
left: 1em!important;
top: -3em!important;
float: left!important;
width: 87%!important;
}
#LoginForm {
top: 9em!important;
left: 2.5em!important;
width: 75%!important;

}
.Login {
position: relative;
top: 8em;
}
#Content .Inner .Login, #Content .Inner .Info {
width: 85%;
}

#Content .Inner #btnLogin, #Content .Inner #btnForgotPassword{
padding:0;
}
.TextInput {
padding: .5em!important;
width: 86%!important;
}
#PageContain {
width: 100%;
}
.PageTitle {
text-align: center;
margin: 4em 0 1em;
}
.DashColumns .contents #SecondaryRail {
float: none;
width: 100%;
text-align: center;
font-size: .9em;
}
.DashColumns .contents #ContentColumn {
float: none;
width: 100%;
}
.Pagination .Bar { 
width: 35%;
} 
.pageSize{
width: 37%;
}
#contactForm{
margin-top:1em;
}
#contactForm.splitCol {
width: 100%;
clear: both;
display: block;
}
#Content .Inner {
background-color: #fff;
}
.acctSnapShot .infoList .data{
float:right;
}
.acctSnapShot .infoList label.FL{
width:100%;
}
.acctSnapShot .infoList .data {
width: 100%;
}
.splitCol{
width:100%;
display: block;
}
.ProfilesList{
left: 2%;
width: 80%!important;
}
.mycal {
right: auto!important;
width: 96%!important;
margin-top: 1em!important;
margin-left: .5em;
}
.DashColumns {
width: 100%;
padding: .5em;
box-sizing: border-box;
}
input {
padding: .5em 0!important;
box-sizing: border-box;
width: 95%;
}
.FormSubmits{
width:90%;
}
.PageSize {
width: 61%!important;
float: right;
}
.pageSize {
width: 37%!important;
}
.actionItems{
text-align:center;
width:100%!important;
}
#TitleBar_View {
width:100%;
}
#kpiSV .Indicator {
margin: 7% 0;
}
#SalesVolRadial_View.circularChartWrap {
right: 0;
}
#nameValueBody {
width: 100%!important;
}
.overviewNameValue {
width: 100%;
box-sizing: border-box;
}
.filterRadios{
padding-top:1em;
}
.GridFilters .FL {
width: 100%;
}
.TreeNodeDetails {
width: 100%;
float: none;
}
#rdo-CommissionQualified{
position: relative;
top: -1.2em;
}
#rdo-CustomerTypes{
position: relative;
top: -1.2em;
left: 7em;
width: 62%;
}
#messageCenterModal{
top: 5em;
width:auto;
}
.Fields input[type=text] {
height: auto!important;
}




 

}/* PHONES max-width:340 */
 
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait){ /*IPAD MINI*/
#Content .Inner{margin-top: 4em;background-color: #FFF;}
.inner {width: 100%;}
#Content .Inner .Info {width: 36%!important;left: 20em!important;top: 39px!important;}
#Content .Inner .Login {top: 12em!important;left: -6em!important;}
#LoginForm {top: 99px!important;left: 52px!important;width: 26em!important;}
.mainNav{display:none!important;}
.userInfo {top: -138px!important;right: -1px!important;}
.mobileNavIcons{display:block!important;position: fixed;width: 5em;right: 2em;top: 6.3em;height: 5em;z-index: 9;}
.mobileNavIcons a{font-size: 5em;}
#mobileSideNav{border-right: 4px solid #CCC;display: block;height: 100%;position: fixed;top: 0px;width: 50%;z-index: 999;background: #FFF;}
.closeNav{font-size:5em;width: 100%;text-align: right;padding-right: .5em;display: block;box-sizing: border-box;}
#mobileSideNav ul{margin: .5em 0;padding: 0;list-style: none;}
#mobileSideNav ul li{box-sizing:border-box;font-size: 2em;padding: .7em 1em .7em 1em;border-bottom: 1px solid #CCC;}
#mobileSideNav ul li a{color:#4B0653;}
#mobileSideNav ul li i{float:right;}
.slideshow {top: 12.2em!important;}
.globalSearch {top: -92px!important;right: -70px;}
.Search {top: -118px;right: -168px;}
.DashCol1, .DashCol2 {padding-top: 21%;}
.DashCol1 {width: 24%;padding-left: 2em;}
#BreakingNews {width: 89%;margin-top: 18em;left: 2em;}
.mycal {right: 28em!important;width: 31em!important;position: relative;height: 17em!important;}
#PageContain {margin: 5em auto;box-sizing: border-box;width: 100%;}
.PageTitle{margin-top: .5em;}
#SecondaryRail {width: 14em;display: block;overflow: hidden;}
}/*  //IPAD MINI  */
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape){ /*IPAD MINI*/
.mycal {right: 2em!important;}
#Content .Inner .Info {left: 22em!important;top: 4em!important;width: 27%!important;}
}
	
@media all and (max-width: 3000px) and (min-width: 1501px){
#Content .Inner .Info {
left: 29em!important;
top: 16em!important;
}
#Content .Inner .Login {
top: 30em!important;
}
 
}/*@media (max-width: 3000px) and (min-width: 1501px)*/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
