/*@font-face{
font-family:'lbel_script';
src:url('/Content/usa/font/lbelscript/lbel_script-webfont.eot);
src:url('/Content/usa/font/lbelscript/lbel_script-webfont.eot?#iefix) 
format('embedded-opentype') , 
url('/Content/usa/font/lbelscript/lbel_script-webfont.woff2) format('woff2') , 
url('/Content/usa/font/lbelscript/lbel_script-webfont.woff) format('woff') , 
url('/Content/usa/font/lbelscript/lbel_script-webfont.ttf) format('truetype') , 
url('/Content/usa/font/lbelscript/lbel_script-webfont.svg#lbel_scriptregular) 
format('svg');
font-weight:normal;
font-style:normal}
@font-face{font-family:'Arnhem Blond';src:url('/Content/usa/font/arnhem-blond-webfont.eot);src:url('/Content/usa/font/arnhem-blond-webfont.eot?#iefix) format('embedded-opentype') , url('/Content/usa/font/arnhem-blond-webfont.woff2) format('woff2') , url('/Content/usa/font/arnhem-blond-webfont.woff) format('woff') , url('/Content/usa/font/arnhem-blond-webfont.ttf) format('truetype') , url('/Content/usa/font/arnhem-blond-webfont.svg#arnhemblond) format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Helvetica bold';src:url('/Content/usa/font/HelveticaNeueLTStd-Bd.eot);src:url('/Content/usa/font/HelveticaNeueLTStd-Bd.eot?#iefix) format('embedded-opentype') , url('/Content/usa/font/HelveticaNeueLTStd-Bd.woff) format('woff') , url('/Content/usa/font/HelveticaNeueLTStd-Bd.ttf) format('truetype') , url('/Content/usa/font/HelveticaNeueLTStd-Bd.svg) format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Helvetica light';src:url('/Content/usa/font/HelveticaNeueLTStd-UltLt.eot);src:url('/Content/usa/font/HelveticaNeueLTStd-UltLt.eot?#iefix) format('embedded-opentype') , url('/Content/usa/font/HelveticaNeueLTStd-UltLt.woff) format('woff') , url('/Content/usa/font/HelveticaNeueLTStd-UltLt.ttf) format('truetype') , url('/Content/usa/font/HelveticaNeueLTStd-UltLt.svg) format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'HelveticaNeueLight';src:url('/Content/usa/font/HelveticaNeueLight.eot);src:url('/Content/usa/font/HelveticaNeueLight.eot) format('embedded-opentype') , url('/Content/usa/font/HelveticaNeueLight.woff2) format('woff2') , url('/Content/usa/font/HelveticaNeueLight.woff) format('woff') , url('/Content/usa/font/HelveticaNeueLight.ttf) format('truetype') , url('/Content/usa/font/HelveticaNeueLight.svg#HelveticaNeueLight) format('svg')}
font-face{font-family:'Enriqueta';src:url('/Content/usa/font/enriqueta/original_Enriqueta.eot?#iefix) format('embedded-opentype') , url('/Content/usa/font/enriqueta/original_Enriqueta.woff) format('woff') , url('/Content/usa/font/enriqueta/original_Enriqueta.ttf) format('truetype') , url('/Content/usa/font/enriqueta/original_Enriqueta.svg) format('svg');font-weight:normal;font-style:normal}.bx-wrapper{position:relative;margin:0 auto 60px;padding:0;*zoom: 1}.bx-wrapper img{max-width:100%;display:block}.bx-wrapper .bx-viewport{-moz-box-shadow:0 0 5px #ccc;-webkit-box-shadow:0 0 5px #ccc;box-shadow:0 0 5px #ccc;border:5px solid #fff;left:-5px;background:#fff;-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0)}.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto{position:absolute;bottom:-30px;width:100%}.bx-wrapper .bx-loading{min-height:50px;background:url(images/bx_loader.gif) center center no-repeat #fff;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000}.bx-wrapper .bx-pager{text-align:center;font-size:.85em;font-family:Arial;font-weight:bold;color:#666;padding-top:20px}.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom: 1;*display: inline}.bx-wrapper .bx-pager.bx-default-pager a{background:#666;text-indent:-9999px;display:block;width:10px;height:10px;margin:0 5px;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active{background:#000}.bx-wrapper .bx-prev{left:10px;background:url(images/xcontrols.png.pagespeed.ic.2rMvaoB-nh.png) no-repeat 0 -32px}.bx-wrapper .bx-next{right:10px;background:url(images/xcontrols.png.pagespeed.ic.2rMvaoB-nh.png) no-repeat -43px -32px}.bx-wrapper .bx-prev:hover{background-position:0 0}.bx-wrapper .bx-next:hover{background-position:-43px 0}.bx-wrapper .bx-controls-direction a{position:absolute;top:50%;margin-top:-16px;outline:0;width:32px;height:32px;text-indent:-9999px;z-index:9999}.bx-wrapper .bx-controls-direction a.disabled{display:none}.bx-wrapper .bx-controls-auto{text-align:center}.bx-wrapper .bx-controls-auto .bx-start{display:block;text-indent:-9999px;width:10px;height:11px;outline:0;background:url(images/xcontrols.png.pagespeed.ic.2rMvaoB-nh.png) -86px -11px no-repeat;margin:0 3px}.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active{background-position:-86px 0}.bx-wrapper .bx-controls-auto .bx-stop{display:block;text-indent:-9999px;width:9px;height:11px;outline:0;background:url(images/xcontrols.png.pagespeed.ic.2rMvaoB-nh.png) -86px -44px no-repeat;margin:0 3px}.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active{background-position:-86px -33px}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px}.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;background:#666 \9 ;background:rgba(80,80,80,.75);width:100%}.bx-wrapper .bx-caption span{color:#fff;font-family:Arial;display:block;font-size:.85em;padding:10px}a,a:hover,a:active,a:focus,*:focus,*:active{outline:0!important}*,*:after,*:before{-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility}.slider-title-pink,.slider-title-pink-large{font-weight:bold!important;font-family:'Helvetica bold',Arial,sans-serif!important;color:#c2428d!important}.clear:before,.clear:after{content:' ';display:table}.clear:after{clear:both}.clear{*zoom:1}.group:before,.group:after{content:" ";display:table}.group:after{clear:both}.group{*zoom: 1}img{max-width:100%;height:auto;vertical-align:bottom}a{color:#444;text-decoration:none}a:hover{}a:focus{outline:0}a:hover,a:active{outline:0}html,body{width:100%;height:100%}body{font-size:16px;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;overflow-x:hidden}p{font:.6em/120% 'Helvetica medium',Arial,Helvetica,sans-serif;color:#777;margin:.5em auto}.tp-caption a{color:#c230d9;text-shadow:none;transition:all .2s ease-out}.tp-caption a:hover{color:#fff}.page{overflow-x:hidden;position:relative;right:0;z-index:2}.page__header{background-color:#000;position:relative}.header__topbar{max-width:1160px;margin:0 auto;padding:10px 0}.header__topbar .topbar__col{position:relative}.header__topbar .topbar__col--left{float:left;visibility:hidden}.header__topbar .topbar__col--right{float:right}.header__topbar .topbar__list{margin:0;padding:0;list-style:none}.header__topbar .topbar__list .list__item{font:.5625em/120% 'Helvetica medium',Arial,Helvetica,sans-serif;color:#fff;text-transform:uppercase;padding:0 1.5em;float:left;position:relative}.header__topbar .topbar__list .list__item--catalog a{padding-right:15px;background:url(images/icons/xcatalog-white.png.pagespeed.ic.mQQvkKlmcx.png) no-repeat 100% 50%;background-size:11px 10px}.header__topbar .topbar__list .list__item:before{content:'|';position:absolute;left:0;top:0}.header__topbar .topbar__col--left .topbar__list .list__item:first-child{padding-left:0}.header__topbar .topbar__col--right .topbar__list .list__item:first-child:before{content:''}.header__topbar .topbar__col--right .topbar__list .list__item:last-child{padding-right:0}.header__topbar a{color:#fff;text-decoration:none}.header__topbar a:hover,.header__topbar a:focus{text-decoration:underline}.header__menu .menu__list{list-style:none;padding:0;margin:-.25em 0 0;float:right}.header__menu .menu__list .list__item{font:.8em/245% 'Helvetica medium',Arial,Helvetica,sans-serif;color:#fff;text-transform:uppercase;padding:0 1.5em;margin-right:4em;float:left;position:relative;line-height:13px;}.category .header__menu .menu__list .list__item,.page-template-busqueda-php .header__menu .menu__list .list__item,.page-template-template-faq-php .header__menu .menu__list .list__item,.page-template-template-about-php .header__menu .menu__list .list__item,.page-template-template-comprar-php .header__menu .menu__list .list__item,.page-template-template-terminos-php .header__menu .menu__list .list__item,.page-template-template-contactenos-php .header__menu .menu__list .list__item,.page-template-template-tiendas-php .header__menu .menu__list .list__item{color:#000}.header__menu .menu__list .list__item:before{content:'{';display:none;position:absolute;left:.5em;top:-1px}.header__menu .menu__list .list__item:after{content:'}';display:none;position:absolute;right:.5em;top:-1px}.csstransitions.csstransforms.opacity .header__menu .menu__list .list__item:before,.csstransitions.csstransforms.opacity .header__menu .menu__list .list__item:after{transition:all .3s ease-in}.csstransitions.csstransforms .header__menu .menu__list .list__item:hover:before,.csstransitions.csstransforms .header__menu .menu__list .list__item:hover:after,.csstransitions.csstransforms .header__menu .menu__list .list__item:focus:before,.csstransitions.csstransforms .header__menu .menu__list .list__item:focus:after{transition-duration:.2s;transition-timing-function:ease-out}.opacity.csstransforms .header__menu .menu__list .list__item:before{display:block;opacity:0;-webkit-transform:translateX(-10px);transform:translateX(-10px)}.opacity.csstransforms .header__menu .menu__list .list__item:after{display:block;opacity:0;-webkit-transform:translateX(10px);transform:translateX(10px)}.opacity.csstransforms .header__menu .menu__list .list__item:hover:before,.opacity.csstransforms .header__menu .menu__list .list__item:hover:after,.opacity.csstransforms .header__menu .menu__list .list__item:focus:before,.opacity.csstransforms .header__menu .menu__list .list__item:focus:after{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}.header__menu .menu__list .list__item--cart{font-size:.625em;text-align:center;width:24px;height:24px;padding:.35em 0 0 .15em;margin:0;background:url(images/svg/bolsa_white.svg) no-repeat 50% 50%;background-size:24px}.header__menu .menu__list .list__item--cart__black{font-size:.625em;text-align:center;width:24px;height:24px;padding:.35em 0 0 .15em;margin:0;background:url(images/svg/bolsa_black.svg) no-repeat 50% 50%;background-size:24px}.header__menu .menu__list .list__item--cart:before{content:''}.header__menu .menu__list .list__item--cart:after{content:''}.header__menu .menu__list .list__item--cart a{color:#000;text-decoration:none}.title{font-size:.8em;position:absolute;width:342%;margin-top:29px;border:1px solid #fff;right:1px;opacity:0;transition:opacity .5s ease-in-out}.list__item--cart:hover .title{opacity:1}.header__menu--cat{color:#fff;text-decoration:none}.page-template-busqueda-php .header__menu a{color:#000}.page-template-template-faq-php .header__menu .menu__list .list__item--cart{background:url(images/icons/xcart-black.png.pagespeed.ic.FMCS0NWg2x.png) no-repeat 50% 50%;color:#fff}.page-template-template-faq-php .header__menu .menu__list .list__item--cart,.page-template-template-tiendas-php .header__menu .menu__list .list__item--cart,.page-template-template-terminos-php .header__menu .menu__list .list__item--cart,.page-template-template-comprar-php .header__menu .menu__list .list__item--cart,.page-template-template-about-php .header__menu .menu__list .list__item--cart,.page-template-template-contactenos-php .header__menu .menu__list .list__item--cart,.category .header__menu .menu__list .list__item--cart span i #contador{color:#000}.page-template-template-faq-php .header__menu .menu__list .list__item--cart span i #contador{color:#fff}.page-template-busqueda-php .header__menu .menu__list .list__item--cart{background:url(images/icons/xcart-black.png.pagespeed.ic.FMCS0NWg2x.png) no-repeat 50% 50%;color:#fff}.page-template-busqueda-php .header__menu .menu__list .list__item--cart span i #contador{color:#fff}.page-template-template-faq-php .header__menu a{color:#000}.category .header__menu a{}.contact__form{margin-bottom:2px;width:60%}.contact__form--header--title{text-transform:uppercase;font-weight:bolder;position:relative;display:block;margin-top:23px;font:bold .8em/245% 'Helvetica medium',Arial,Helvetica,sans-serif}.contact__form--header--text{position:relative;display:block;font:.85em/130% 'Helvetica',Arial,Helvetica,serif}.contact__form--header::after{content:'_______'}.contact__form label{position:relative;display:block;margin-top:19px;margin-bottom:4px;font:.85em/130% 'Helvetica',Arial,Helvetica,serif}.contact__form input{position:relative;display:block;border:1px solid #9f438f;width:100%;height:28px;font:.85em/130% 'Helvetica',Arial,Helvetica,serif}.contact__form select{border:1px solid #9f438f;width:100%;height:29px;font:.85em/130% 'Helvetica',Arial,Helvetica,serif;background-color:#fff}.contact__form textarea{border:1px solid #9f438f;width:100%;min-height:80px;font:.85em/130% 'Helvetica',Arial,Helvetica,serif}.contact__form input[type="submit"]{position:relative;display:block;margin-top:23px;font:.875em/120% 'Helvetica medium',Arial,Helvetica,sans-serif;text-align:center;text-transform:uppercase;padding:12px 40px 8px 40px;height:auto;background-color:#fff;border:2px solid #9a61b2;width:auto;color:#1d2c55}.page-template-busqueda-php .header__menu a,.page-template-template-faq-php .header__menu a,.page-template-template-tiendas-php .header__menu a,.page-template-template-terminos-php .header__menu a,.page-template-template-comprar-php .header__menu a,.page-template-template-about-php .header__menu a,.page-template-template-contactenos-php .header__menu a,.search .header__menu a,.search .header__menu .menu__list .list__item{color:#000}.header__menu .menu__modal{font-size:1.3em;text-transform:none;display:none;width:934px;padding-top:33px;box-sizing:content-box;position:absolute;top:22px;left:-55px;z-index:3}.cssanimations.csstransforms .header__menu .menu__modal{transform-origin:50% 0;-webkit-animation:menu-modal-enter .3s ease-out;animation:menu-modal-enter .3s ease-out}.menu__modal .modal__cols{height:298px;padding:1em;background:#fff;border:1px solid #cdced3;box-shadow:0 3px 10px rgba(0,0,0,.4)}.menu__modal .modal__cols:before{content:'';background:url(images/icons/xmenu-arrow.png.pagespeed.ic.w5w_zkQNn2.png) no-repeat 0 0;width:22px;height:13px;position:absolute;top:21px}.item--piel .menu__modal .modal__cols:before{left:27%}.item--maquillaje .menu__modal .modal__cols:before{left:43%}.item--perfumes .menu__modal .modal__cols:before{left:61%}.item--cuidado .menu__modal .modal__cols:before{left:81%}.menu__modal .modal__col{margin:0 2.5em 0 .5em;float:left}.menu__modal .modal__col .col__title{font:13px/130% 'Helvetica bold',Arial,Helvetica,serif;color:#000;margin:.25em 0 .8em;text-transform:uppercase}.modal__col .col__title a{color:#000}.menu__modal .modal__col .col__list{list-style:none;padding:0;margin:0}.menu__modal .modal__col .modal__item{font:11px/128% 'Helvetica medium',Arial,Helvetica,serif;color:#767676;margin:.5em 0;text-transform:uppercase}.menu__modal .modal__col .modal__item a{text-decoration:none;color:#454545}.menu__modal .modal__col .modal__item a:hover,.menu__modal .modal__col .modal__item a:focus{text-decoration:underline}.menu__modal .modal__image{position:absolute;top:33px;right:0;z-index:1}.menu__modal .modal__footer{width:100%;margin:0;position:absolute;bottom:0;left:0;z-index:1}.menu__modal .modal__footer .footer__col{width:50%;height:76px;padding:.5em 1.25em;background-color:#f7f7f8;border:1px solid #cdced3;float:left;position:relative}.menu__modal .modal__footer .col__title{font:.875em/120% 'Helvetica medium',Arial,Helvetica,serif;color:#000;max-width:120px;margin:.25em 0}.menu__modal .modal__footer .col__image{position:absolute;right:.5em;bottom:.5em;z-index:1}.menu__modal .modal__footer p{font:.625em/120% 'Helvetica medium',Helvetica,Arial;color:#939393;margin:.25em 0}.menu__modal .modal__footer p em{font-style:normal;color:#000}.menu__modal .modal__footer img{display:block;max-width:100%;height:auto}.list__item:hover .menu__modal{display:block}.list__item.item--piel .menu__modal{left:-232px}.list__item.item--maquillaje .menu__modal{left:-350px}.list__item.item--perfumes .menu__modal{left:-523px}.list__item.item--cuidado .menu__modal{left:-684px}.header__logo{text-indent:-9999px;width:96px;height:20px;background:url(images/logos/lbel_white.svg) no-repeat 0 0;background-size:96px 20px;float:left}.header__logo--black{background-image:url(images/logos/lbel_black.svg)}.page__header .header__search{position:absolute;right:3em;top:72px;z-index:21}.header__search .form{float:left;position:relative}.header__search .form__input{min-width:19em}.header__search .form__input--black{}.header__search .form__input--black::-webkit-input-placeholder{color:#000}.header__search .form__input--black::-moz-input-placeholder{color:#000}.header__search .form__input--black::-ms-input-placeholder{color:#000}.header__search .button--search{}.limbo{position:absolute;top:-9999px}.menu__modal .modal__cols{height:211px}.img__cols{width:75%;height:100%;position:relative}.img__col{height:100%;position:relative;float:left;padding:0 3em}.col--3 .img__col{width:33%}.col--2 .img__col{width:42%}.img__col img{position:relative;max-height:123px;width:auto}.col--3 .img__col img{margin-left:-18px}.col--2 .img__col img{margin:0 auto .5em}.img__cols.col--2{width:71%;left:4.5em}.img__col--title{font:.875em/120% 'Helvetica bold',Arial;color:#000;text-transform:uppercase;margin-bottom:.6em}.img__col--subtitle{font:.6em/120% 'Helvetica medium',Arial;color:#767676;text-transform:uppercase;position:relative}.img__col--subtitle:before{content:'';width:19px;height:1px;background:#ccc;position:absolute;left:0;top:-5px}#contador{color:#000}.categoriaBusqueda{color:#693a7e}.contentSearchCategories{border-bottom:1px solid #000;padding:9px 0 9px 20px;margin-bottom:9px}.ajax_div_resultados{padding-top:16px;font-weight:normal;font-size:14px}.resultadoBusqueda{position:absolute;top:40px;padding:9px 15px 25px 15px;color:#000;background:rgba(255,255,255,1);font:1em/131% 'Helvetica bold',Arial,Helvetica,Times,serif;display:none;width:330px;border:1px solid #000}.resultadoBusqueda a{display:inline-block;overflow:hidden;width:100%}.search__close{text-align:left;margin:0 auto;position:absolute;float:right;top:3%;right:3%;font:1em/100% Helvetica,arial,sans-serif;cursor:pointer}.productosCompras{margin-top:20px}#articulo{float:left;margin:6px 0 8px 7%;width:85%;position:relative}.searckImg{float:left;width:18%;margin-top:2px;max-height:100px;max-width:35px}.searckImg img{max-height:100px;max-width:35px}.searckText::before{content:'______';position:relative;top:-8px}.searckText{float:left;width:74%;margin-top:0;margin-bottom:10px;margin-left:8%;font:.8em/100% Helvetica,arial,sans-serif}.descripcionS{font:.9em/113% helvetica;margin-top:11px}.precioS{font:1em/100% helvetica;margin-top:10px}.tachado{text-decoration:line-through;left:63px;top:-15px;max-width:76%;position:relative}.botonSearch{font:13px/38px 'Helvetica medium',Helvetica,Arial,sans-serif!important;background:#642f81;border:1px solid #642f81!important;width:270px;color:#fff;border:none;padding-top:11px;float:none!important;margin-top:30px;text-align:center;padding-bottom:11px;display:inline-block;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}.btn_search_result{text-align:center;display:block;overflow:hidden}.botonSearch:hover{color:#642f81;background:#fff}.productoSearch{text-align:center}.articleSearch{display:inline-block;width:32%}.searchNombre{font:bold 1em/50% 'Helvetica medium',Arial,Helvetica,sans-serif;margin-top:10%}.searchPrecioS{font:bold 1em/50% 'Helvetica medium',Arial,Helvetica,sans-serif;text-align:initial;padding-left:23%;margin-top:5%}.searchTachado{text-decoration:line-through;left:103px;top:-7px;max-width:76%;position:relative;font-size:.8em}.searchDescripcion{margin-top:4%}.container{max-width:1160px;margin:0 auto;margin-top:9%;margin:0 auto;margin-top:18%}#header__list__item__a__black{color:#000}#list__item--cart__black{background:url(images/icons/xcart-black.png.pagespeed.ic.FMCS0NWg2x.png) no-repeat 50% 50%}#button-search__black{}#input-search__black{border-bottom:2px solid #000}#line--top--black{background-color:#000}#line--middle--black{background-color:#000}#line--bottom--black{background-color:#000}.nombre{font:2em/50% 'Helvetica meboldium',Arial,Helvetica,sans-serif;width:57%;padding:2%;margin:0 auto;border-bottom:1px dashed #000;position:relative;top:-290px;left:23%}.precio{margin:0 auto;top:-273px;position:relative;left:23%;font:italic 1.6em/50% 'Helvetica medium',Arial,Helvetica,sans-serif;padding-bottom:2%;width:57%}.descripcion{margin:0 auto;top:-273px;position:relative;left:23%;font:.9em/100% 'Helvetica medium',Arial,Helvetica,sans-serif;padding-bottom:2%;width:57%}#agregarBolsa{position:relative;margin:0 auto;left:75%;background:#000;color:#fff;padding:6px 3%}.contador__black{color:#fff!important}.imagenProducto{margin:0 auto;top:-273px;position:relative;left:42%;font:.9em/100% 'Helvetica medium',Arial,Helvetica,sans-serif;padding-bottom:2%}.contador--hover{border-left:2px solid #643080;border-right:2px solid #643080;padding:39% 24px 7px 17px;margin-left:-31%;margin-top:-30%!important;border-top:2px solid #643080;color:#fff!important;font-size:1em;_background:url(./images/icons/cart-purple.png) no-repeat 50% 50%;background-position:-3px 2px}.cesta{display:none}.header__menu .menu__list .list__item--cart{padding:0}#contador{color:#fff;margin-top:7px;margin-right:6px;text-align:center}.addCesta{margin-top:-28%}.hero__featured{width:1280px;height:652px;overflow:hidden;position:relative;margin:0 auto}.hero__featured img{max-width:100%;height:auto}.hero__content{text-align:center;width:1160px;margin-left:-580px;position:absolute;left:50%;z-index:1}.hero__content.is-left{text-align:left}.hero__content.is-right{text-align:right}.hero__title{font: bÂ¡normal 2.3125em/98% 'Helvetica bold', Arial, Helvetica;color:#fff;margin:0 auto .3em}.hero__subtitle{font:1.875em/100% 'Arnhem Blond','Times New Roman',Times,serif;color:#fff;margin:0 auto 1.75em}.banners__wrapper{max-width:1160px;margin:2.625em auto;height:209px}.hero__banner{width:536px;overflow:hidden;position:relative;z-index:1}.hero__banner--left{float:left;margin-left:5%}.hero__banner--left iframe{z-index:100;position:relative}.hero__banner--right{float:right;margin-right:5%}.hero__banner img{display:block;height:auto;margin:0 auto}.hero__banners .hero__banner .banner__title{width:60%;font:1em/130% 'Arnhem Blond','Times New Roman',Times,serif;margin:0;position:absolute;left:6%;top:15%;z-index:1}.hero__banners .hero__banner .banner__video{cursor:pointer}.csstransitions .hero__banners .hero__banner .banner__video{transition:all .3s ease-in-out}.csstransforms .hero__banners .hero__banner .banner__video:hover,.csstransforms .hero__banners .hero__banner .banner__video:focus{-webkit-transform:scale(1.02);-ms-transform:scale(1.02);transform:scale(1.02)}.hero__banner .banner__title strong{display:block;font-weight:lighter;font-size:2.188em;line-height:110%;margin-bottom:.5em}.circles__wrapper{display:none;width:100%;height:13px;position:relative;margin-top:1em}.circles__wrapper .hero__circles{position:absolute;left:50%}.hero__featured.is-above,.hero__banners.is-above{position:relative;z-index:1}.hero__featured.is-below,.hero__banners.is-below{position:absolute;z-index:0}.hero__banners.is-below{width:100%;top:0}.featured__wrapper,.banners__wrapper{width:100%;height:100%;position:relative;max-width:1280px;margin:0 auto;margin-bottom:2%}.featured__wrapper.is-normal{display:block}.featured__wrapper.is-responsive,.featured__wrapper.is-tablet{display:none}.txt--color-white{color:#fff}.txt--color-purple{color:#c635dc}.txt--color-pink{color:#c2428d}.txt--color-lightpurple{color:#b09aab}.txt--color-gold{color:#dfaf6c}.page__footer{background-color:#fff;border-top:1px solid #c1c1c1;overflow:hidden;padding:1em 0 1.5em;clear:both}.page__footer p{font-weight:bold;text-align:center}.page__footer .footer__content{max-width:940px;margin:0 auto}.page__footer .footer__cols{display:display}.page__footer .footer--menu{display:none}.page__footer .footer__col{width:160px;float:left;margin:0 2.3em}.page__footer .col__title{font:.75em/120% 'Helvetica bold',Arial,Helvetica,sans-serif;color:#000;text-transform:uppercase;padding:0 0 .5em;border-bottom:3px solid #999;position:relative}.cssgradients .page__footer .col__title{border-bottom:0 none}.cssgradients .page__footer .col__title:after{content:'';width:100%;height:1px;background:#fff;position:absolute;left:0;bottom:-3px}.page__footer .footer__list{list-style:none;padding:0;margin:0}.page__footer .footer__list .list__item{font:.75em/120% 'Helvetica medium',Arial,Helvetica,sans-serif;color:#545454;margin:1.5em 0}.page__footer .footer__list .list__item a{text-decoration:none;color:#fff}.page__footer .footer__list .list__item a:hover,.page__footer .footer__list .list__item a:focus{text-decoration:underline}.page__footer .footer__lang{padding-left:1em;margin:.5em 0 0 2.3em;background-size:12px 13px}.page__footer .lang__list{font:bold .75em/120% 'Helvetica medium',Arial,Helvetica,sans-serif;color:#000;text-transform:uppercase;border:0 none}.page__footer .footer__social{margin:2em 0 .25em}.page__footer .social__list{text-align:center;list-style:none;padding:0;margin:0}.page__footer .social__list .list__item{text-indent:-9999px;display:inline-block;width:24px;height:24px;margin:0 .35em}.csstransitions.csstransforms .page__footer .social__list .list__item{transition:all .3s ease-in}.csstransitions.csstransforms .page__footer .social__list .list__item:hover,.csstransitions.csstransforms .page__footer .social__list .list__item:focus{transform:translateY(-3px);transition-duration:.2s;transition-timing-function:ease-out}.social__list .list__item{_background-image:url(images/spritesheet.png);_background-repeat:no-repeat}.page__footer .social__list .list__item--facebook{width:24px;height:24px;background-position:-5px -48px}.page__footer .social__list .list__item--twitter{width:24px;height:24px;background-position:-5px -116px}.page__footer .social__list .list__item--youtube{width:24px;height:25px;background-position:-5px -150px}.page__footer .social__list .list__item--instagram{width:24px;height:24px;background-position:-5px -82px}.page__footer .social__list .list__item a{display:block;width:100%;height:100%}.page__footer .footer--menu .col__children{display:none;margin-bottom:.8em}.page__footer .footer--menu__items{list-style:none;padding:0 2em;margin:0}.footer--menu .list__item--parent .col__title{cursor:pointer;background:url(images/icons/xico-plus.png.pagespeed.ic.OcPoUEz-H5.png) no-repeat 100% 25%;background-size:9px 10px;margin:0}.footer--menu .list__item--parent.is-active .col__title{background-image:url(images/icons/xico-minus.png.pagespeed.ic.ft3ELnVMCC.png)}.footer--menu .list__item--parent.is-active .col__children{display:block}.page__footer .footer--menu .list__item a{}.page__footer .footer--menu .footer__list .list__item{font-size:13px;margin:0 0 .2em}.global-shadow{display:none;width:100%;height:100%;background:url(images/icons/xshadow.png.pagespeed.ic.Z4h9HMiNKe.png) repeat 0 0;background:rgba(0,0,0,.4);overflow:auto;position:fixed;left:0;top:0;z-index:11}.global-shadow.is-active{display:block}.sidebar--menu{background-color:#fff;width:13em;height:100%;position:fixed;left:-13em;top:0;z-index:12}.csstransitions .sidebar--menu{transition:left .5s ease-out}.is-sidebar .sidebar--menu{left:0}.sidebar--menu ul{list-style:none;margin:0;padding:0}.sidebar--menu .sidebar__items{height:100%;overflow:auto}.sidebar--menu .sidebar__item{font:.75em/130% 'Helvetica bold',Arial,Helvetica,sans-serif;text-transform:uppercase;margin:0}.sidebar--menu .sidebar__item .item__title{text-decoration:none;color:#626262;display:block;padding:1em 1.5em;border-bottom:1px solid #e2e2e2}.sidebar--menu .sidebar__item.is-active .item__title,.sidebar--menu .sidebar__item .item__title:focus,.sidebar--menu .sidebar__item .item__title:hover{color:#e9253a}.sidebar__item--parent{margin-right:0}.sidebar__children{display:none}.sidebar_ .item__title,.sidebar_ a{background-color:#eaeaea}.sidebar__item--parent:hover .sidebar__children,.sidebar__item--parent:focus .sidebar__children,.sidebar__item--parent.is-active .sidebar__children{display:block}.sidebar__item--parent .item__title{cursor:pointer;background:url(images/icons/xarrow-down-black.png.pagespeed.ic.y7BGN2UJZ2.png) no-repeat 94% 44%;background-size:8px 5px}.sidebar__children .item__title{background:#eaeaea;border-bottom:1px solid #e2e2e2}.csstransitions .page{transition:right .5s ease-out}.is-sidebar .page{right:-13em}.csstransitions .is-sidebar .page{}.header__menu .menu__categories{}.menu__categories .categories__list{_height:144px;background:#fff;border:1px solid #cdced3;box-shadow:0 3px 10px rgba(0,0,0,.4);list-style:none;padding:0 1.3em 1.5em 1.3em;margin:0;text-align:left}.cssanimations.csstransforms .header__menu .menu__categories{transform-origin:50% 0;-webkit-animation:menu-modal-enter .3s ease-out}.menu__categories .list__item{padding:.1em}.menu__categories .list__item.primary{padding-top:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.menu__categories .list__item a{font:.95em/130% 'Helvetica',Arial,sans-serif;color:#9b9b9b}.menu__categories .list__item a:hover{color:#e9253a}.menu__categories .list__item a.activemenu{color:#e9253a}.menu__categories hr{margin-right:150px}.category--title{display:block}::-webkit-input-placeholder{color:#fff}::-moz-placeholder{color:#fff}:-ms-input-placeholder{color:#fff}input:-moz-placeholder{color:#fff}.page-template-inicio ::-webkit-input-placeholder{color:#fff}.page-template-inicio ::-moz-placeholder{color:#fff}.page-template-inicio :-ms-input-placeholder{color:#fff}.page-template-inicio input:-moz-placeholder{color:#fff}.form{}.form__input{font:.7em/130% 'Helvetica medium',Arial,Helvetica,sans-serif;color:#fff;border:0 none;border-bottom:1px solid #fff;background-color:transparent;padding:.5em;border-radius:0;text-transform:uppercase}.csstransitions .form__input{transition:all .3s ease-in}.form__input:focus{color:#000;background-color:#fff;background-color:rgba(255,255,255,.8);outline:none}.csstransitions .form__input:focus{transition-duration:.2s;transition-timing-function:ease-out}.form__select{font:.75em/120% 'Helvetica bold','Arial','Helvetica',sans-serif;color:#000;text-align:left;text-transform:uppercase;padding:.65em 1em .65em .5em;background-color:#fff;border:2px solid #642f80;vertical-align:middle;-webkit-appearance:none;width:117px;height:35px;cursor:pointer;background-image:url(images/icons/xselect-flecha.png.pagespeed.ic.L_M5I1mxmj.png)!important;background-position:center right!important;background-repeat:no-repeat!important;border-radius:0}.cl-effect-10{position:relative;z-index:1;border:1px solid #fff}.cl-effect-10 a{font:1.125em/130% 'Helvetica medium','Arial','Helvetica',sans-serif!important;color:#fff;text-align:center;text-transform:uppercase;display:block;overflow:hidden;position:relative;z-index:1}.cl-effect-10 a span{font:1.125em/130% 'Helvetica medium','Arial','Helvetica',sans-serif!important;display:block;padding:.6em 2em!important;background:transparent;transition:transform .3s ease-in-out;-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%)}.cl-effect-10 a:hover,.cl-effect-10 a:focus{text-decoration:none}.cl-effect-10 a:hover span,.cl-effect-10 a:focus span{-webkit-transform:translateX(100%);transform:translateX(100%)}.cl-effect-10 a::before{font:1.125em/130% 'Helvetica medium','Arial','Helvetica',sans-serif!important;color:#000;display:block;width:100%;background-color:#fff;position:absolute;top:0;left:0;z-index:1;padding:.6em 2em;content:attr(data-hover);transition:transform .3s ease-in-out;-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%)}.cl-effect-10 a:hover::before,.cl-effect-10 a:focus::before{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%)}.cl-effect-10.btn-panel{position:absolute;left:6%;bottom:3.750em}.cl-effect-10.btn-panel a::before{font-size:.875em!important}.cl-effect-10.btn-panel a{font:1.125em/130% 'Helvetica medium','Arial','Helvetica',sans-serif!important}.cl-effect-10.btn-panel a span{font-size:.875em!important}.button{cursor:pointer}.button:focus{outline:none}.csstransitions .button{transition:all .3s ease-in}.csstransitions .button:hover,.csstransitions .button:focus{transition-duration:.2s;transition-timing-function:ease-out}.button--search{text-indent:-9999px;width:25px;height:29px;padding:0;background-color:transparent;background-image:url(images/svg/Sprite.svg);background-repeat:no-repeat;background-position:-130px 4px;background-size:200px;_background-position:top 7px left;border:0 none}.button--action{font:.875em/120% 'Helvetica medium',Arial,Helvetica,sans-serif;color:#fff;text-align:center;text-transform:uppercase;padding:.75em 2.5em;background-color:#fff;border:3px solid #c230d9}.button--action.is-active{display:inline-block}.boxshadow .button--action{border:0 none;box-shadow:0 0 0 3px #fff}.button--action:hover,.button--action:focus{color:#000;background-color:#fff;border-color:transparent}.boxshadow .button--action:hover,.boxshadow .button--action:focus{box-shadow:0 0 0 0 #fff}.button--menu{display:none;width:26px;height:26px;background:transparent;float:left;position:relative;box-sizing:content-box;border:none;padding:0;margin:0 33px 0 0}.button--menu .line{width:27px;height:3px;background-color:#fff;position:absolute;left:0}.button--menu .line--top{top:0}.button--menu .line--middle{top:8px}.button--menu .line--bottom{top:16px}.button--circle{width:13px;height:13px;float:left;margin:0 7px;background:#fff;border-radius:100%;border:1px solid #000}.button--circle.is-active,.button--circle:hover{background:#000}#button--filter{position:absolute;bottom:7px;right:15px}.button--buy,.button--claim{font:.75em/120% 'Helvetica bold','Arial','Helvetica',sans-serif;text-align:center;text-transform:uppercase;width:168px;height:35px;background-color:#fff;vertical-align:middle;border:2px solid #642f80;overflow:hidden;position:relative}.button--buy_buy{font:.75em/120% 'Helvetica bold','Arial','Helvetica',sans-serif;text-align:center;text-transform:uppercase;width:168px;height:35px;background-color:#fff;vertical-align:middle;border:2px solid #642f80;overflow:hidden;position:relative}.button--buy_buy:hover{border:2px solid #000}.button--buy .button__text,.button--claim .button__text{line-height:36px;color:#000;width:100%;height:100%;background-color:#fff;position:absolute;left:0;top:0;z-index:1}.button--buy .button__text_buy{line-height:32px;color:#fff;width:100%;height:100%;background-color:#642f80;position:absolute;left:0;top:0;z-index:1}.button--buy .button__mirror,.button--claim .button__mirror{line-height:36px;color:#fff;width:100%;height:100%;background-color:#642f80;position:absolute;left:-100%;top:0;z-index:1}.button--buy .button__mirror_buy{line-height:32px;color:#fff;width:100%;height:100%;background-color:#000;position:absolute;left:-100%;top:0;z-index:1}.csstransitions .button--buy .button__text,.csstransitions .button--buy .button__text_buy,.csstransitions .button--buy .button__mirror,.csstransitions .button--buy .button__mirror_buy,.csstransitions .button--claim .button__text,.csstransitions .button--claim .button__mirror{transition:all .3s ease-in-out}.csstransforms .button--buy .button__text,.csstransforms .button--buy .button__text_buy,.csstransforms .button--claim .button__text{-webkit-transform:translateX(0%);transform:translateX(0%)}.csstransforms .button--buy .button__mirror,.csstransforms .button--buy .button__mirror_buy,.csstransforms .button--claim .button__mirror{left:0;-webkit-transform:translateX(-100%);transform:translateX(-100%)}.button--buy:hover .button__text,.button--buy:focus .button__text,.button--claim:hover .button__text,.button--claim:focus .button__text{left:100%}.button--buy:hover .button__mirror,.button--buy:hover .button__mirror_buy,.button--buy:focus .button__mirror,.button--buy:focus .button__mirror_buy,.button--claim:hover .button__mirror,.button--claim:focus .button__mirror{left:0}.csstransforms .button--buy:hover .button__text,.csstransforms .button--buy:focus .button__text,.csstransforms .button--claim:hover .button__text,.csstransforms .button--claim:focus .button__text{left:0;-webkit-transform:translateX(100%);transform:translateX(100%)}.csstransforms .button--buy:hover .button__mirror,.csstransforms .button--buy:hover .button__mirror_buy,.csstransforms .button--buy:focus .button__mirror,.csstransforms .button--buy:focus .button__mirror_buy,.csstransforms .button--claim:hover .button__mirror,.csstransforms .button--claim:focus .button__mirror{-webkit-transform:translateX(0%);transform:translateX(0%)}.button--claim-a{display:block;text-align:center}.text__send--review{color:#642f80;font:.8em/100% Helvetica,arial,sans-serif;margin:1.5em auto;position:relative;text-align:center}@-webkit-keyframes menu-modal-enter {
*/
@font-face{font-family:'Helvetica medium';src:url('/Content/usa/font/helveticaneue-medium.eot');src:url('/Content/usa/font/helveticaneue-medium.eot?#iefix') format('embedded-opentype') , url('/Content/usa/font/helveticaneue-medium.woff') format('woff') , url('/Content/usa/font/helveticaneue-medium.ttf') format('truetype') , url('/Content/usa/font/helveticaneue-medium.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;src:local('Noto Sans') , local('NotoSans') , url(https://fonts.gstatic.com/s/notosans/v6/C7bP6N8yXZ-PGLzbFLtQKRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;src:local('Noto Sans') , local('NotoSans') , url(https://fonts.gstatic.com/s/notosans/v6/iLJc6PpCnnbQjYc1Jq4v0xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');unicode-range:U +0400-045F , U +0490-0491 , U +04B0-04B1 , U +2116}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;src:local('Noto Sans') , local('NotoSans') , url(https://fonts.gstatic.com/s/notosans/v6/5pCv5Yz4eMu9gmvX8nNhfRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;src:local('Noto Sans') , local('NotoSans') , url(https://fonts.gstatic.com/s/notosans/v6/gEkd0pn-sMtQ_P4HUpi6WBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');unicode-range:U +1F00-1FFF}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;src:local('Noto Sans') , local('NotoSans') , url(https://fonts.gstatic.com/s/notosans/v6/iPF-u8L1qkTPHaKjvXERnxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');unicode-range:U +0370-03FF}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;src:local('Noto Sans') , local('NotoSans') , url(https://fonts.gstatic.com/s/notosans/v6/mTzVK0-EJOCaJiOPeaz-hxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');unicode-range:U +0102-0103 , U +1EA0-1EF1 , U +20AB}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;src:local('Noto Sans') , local('NotoSans') , url(https://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;src:local('Noto Sans') , local('NotoSans') , url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000}



@font-face {
  font-family: 'MuseoSans';
  src: url('/Content/usa/font/museosans-100-webfont.eot');
  src: local('?'),            
  url('/Content/usa/font/museosans-100-webfont.woff') 
format('woff'),    
  url('/Content/usa/font/museosans-100-webfont.ttf') 
format('truetype'), 
  url('/Content/usa/font/museosans-100-webfont.svg#font') format('svg'); 
}


@font-face {
  font-family: 'MuseoSans_300';
  src: url('/Content/usa/font/museosans-300-webfont.eot'); 
  src: local('?'),            
        url('/Content/usa/font/museosans-300-webfont.woff') 
format('woff'),   
        url('/Content/usa/font/museosans-300-webfont.ttf') 
format('truetype'), 
        url('/Content/usa/font/museosans-300-webfont.svg#font') 
format('svg');
}
  @font-face {
  font-family: 'MuseoSans_700';
  src: url('/Content/usa/font/museosans-700-webfont.eot');
  src: local('?'),            
        url('/Content/usa/font/museosans-700-webfont.woff') 
format('woff'),    
        url('/Content/usa/font/museosans-700-webfont.ttf') 
format('truetype'), 
        url('/Content/usa/font/museosans-700-webfont.svg#font') format('svg'); 
}
  @font-face {
  font-family: 'MuseoSans_900';
  src: url('/Content/usa/font/museosans-900-webfont.eot'); 
  src: local('?'),            
        url('/Content/usa/font/museosans-900-webfont.woff') 
format('woff'),  
        url('/Content/usa/font/museosans-900-webfont.ttf') 
format('truetype'), 
        url('/Content/usa/font/museosans-900-webfont.svg#font') 
format('svg');
}
@font-face {
    font-family: 'MrsEavesItalic';
    src: url('/Content/usa/font/mrseavita-080413005EmigreWebOnly.eot');
    src: url('/Content/usa/font/mrseavita-080413005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('/Content/usa/font/mrseavita-080413005EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesRoman';
    src: url('/Content/usa/font/mrseavromlin-071211001EmigreWebOnly.eot');
    src: url('/Content/usa/font/mrseavromlin-071211001EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('/Content/usa/font/mrseavromlin-071211001EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
/*font-family:'MuseoSans';*/
font-family: 'Noto sans', Arial, Helvetica, sans-serif;
background:#fff!important;
}
h1, h2, h3, h4, h5, h6, p, #FooterLinks ul, img, br, form {
font-size: 1em;
}
#fixed_nav {
width: 100%;
background: #633a89;
color: #FFF;
position: fixed;
top: 0;
z-index: 99;
text-align: right;
box-shadow: 0 0 20px 0px #000!important;
-webkit-box-shadow:rgba(0,0,0) 0 0 20px 0px;
-moz-box-shadow:rgba(0,0,0) 0 0 20px 0px;
filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=0, Color=#000000);
height: 6%;
display: table;
}
table.nav-container{
width:87em;
margin: 0 auto;
}
table.nav-container td{
text-align:right;
}
#fixed_nav ul{
list-style: none;
display: block;
margin: 2% auto;
}
#fixed_nav ul li{
display:inline;
margin-left:2%;
position: relative;
}
#fixed_nav ul li a{
text-decoration: none;
color:white;
font-size:1.1em;
font-family: 'MuseoSans_700';
letter-spacing: 1px;
}
#fixed_nav ul li a:hover{
border-bottom: 3pt solid #FFF;
padding-bottom: .5em;
}
#fixed_nav ul li ul {
display:none;
}
#fixed_nav ul li:hover ul{
display:block;
right:0;
}
#fixed_nav ul li ul{
margin: 0;
padding: 0;
clear: both;
position: absolute;
height:auto;
text-align: left;
background:#fff;
-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0.25em 0.25em 1em;
-moz-box-shadow: rgba(0, 0, 0, 0.5) 0.25em 0.25em 1em;
box-shadow: rgba(0, 0, 0, 0.5) 0.25em 0.25em 1em;
border: 1px solid #ccc;
margin-top: -1px;
}
#fixed_nav ul li ul li{
display: block;
padding: .5em 1em;
}
#fixed_nav ul li ul li a {
color:#633a89;
}
#fixed_nav ul li ul li:hover, .active {
border-bottom: 0;
}
#fixed_nav ul li ul li:hover a, .active {
border-bottom: 3pt solid purple;
}

.active{
border-bottom: 3pt solid #FFF;
padding-bottom: .5em;
}
#PageContain {
width: 87em;
margin: 5em auto;
}
.PageTitle {
background: transparent;
text-align: right;
font-style: italic;
color: #000000;
padding:0;
}
.PageTitle h1{
font-family: 'Noto sans'!important;
letter-spacing:1px;
font-style:italic;
font-weight:normal;
font-size: 1.8em;
}
.Crumbs{
display:none;
}
.WidgetTitle {
color: #000000!important;
font-size: 1.5em!important;
font-family: 'Noto sans'!important;
letter-spacing:1px;
font-style:italic;
font-weight:normal;
}
#TabColorKey{
float:left!important;
}
.PageTitle .Crumbs {
font-size: 0.55em;
float: left;
}
.UI-mainBg {
background-color: #585858;
color: #FFFFFF;
}

.UI-icon-container span.UI-icon {
line-height: 1em;
margin-right: .4em;

}
table.ClickableDataGrid {
width:100%;
}
table.ClickableDataGrid th{
background:transparent;
color: #585858;
}

table.ClickableDataGrid tr td:nth-child(3){
   color:#633a89;
   font-family:'MuseoSans_700';
}
.Alt {
background: #f6fcfe;
}
.Pagination a {
background-color: #f6fcfe;
background-image: none;
}
.Title{
font-size: 1.5em;
}
.titleLevel, .recognized, .paidAs{
font-size:1em!important;
}
.SavedReports span {
line-height: 1em;
}
.TitleProgress{
font-size:1em!important;
}
#TitleBar_View {
position: relative;
width: 70%;
margin: 0 auto;
}
element.style {
}
#SalesVolRadial_View.circularChartWrap {
right: 13%;
}
#kpiSV .Indicator {
margin: 20px auto;
width: 70%;
}
.SavedReports span {
padding-left: 0; 
}
table.ClickableDataGrid tr td:nth-child(3) a{
   color:#633a89;
   font-family:'MuseoSans_700';
}
.DataGrid th a {
color: #585858;
}
.sortn{
display:none;
}
.UI-darkBg, .tooltip, .UI-header {
background-color: #633a89;
color: #FFFFFF;
}

.DashColumns {
width: 100%;
}
#TopPane {
background: white;
width: 100%;
position: fixed;
left: 0;
/*box-shadow: 0 0 20px 0px #000!important;*/
-webkit-box-shadow: rgba(0,0,0) 0 0 20px 0px;
-moz-box-shadow: rgba(0,0,0) 0 0 20px 0px;
filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=0, Color=#000000);
z-index:1;
/*top: 5em;*/
top:0;
}
#Container{
/*margin-top:19%;*/
margin-top:12%;
background:transparent;
}
#ContentContainer{ 

}
.inner{
width: 960px;
margin: 0 auto;
/*padding-top: 2%;*/
box-sizing: border-box;
}
#LogoContain{
width: 20%;
float: left;  
background-size: 100% auto;
background-position: left top;
height: 1em;
}
#LogoContain img{
width:50%;
height:48px; /*auto*/
}
.UI-siteNav {
width:100%;
float:right;
background:transparent;
padding-top: .6em;
}
.UI-siteNav .FR {
margin-top:0;
position: absolute;
right: 184px;
top: 56px;
}
ul.mainNav li a span {
color:#000;
font: 1.4em/245% 'Helvetica medium',Arial,Helvetica,sans-serif;
}
#SiteNav{
/*width:74%; */
width:90%; 
/*font-family: 'MuseoSans_300';*/
/*font-size: 1.4em;*/
position: relative;
}
.inlineNav {
float:right;
}
.UI-siteNav a {
color: #000;
}

#UI-siteNav .DropDown
{
    background:#fff;
    color:#fff;
    border-bottom:0.45455em solid #4b0652;
    width: 180px;
    box-shadow: 1px 3px 29px #ccc;
    text-align: left;
    margin-top: auto;
    background: #fff;
    }
#UI-siteNav .DropDown a{padding:0.27273em;color:#000}
#UI-siteNav .DropDown a:hover{background:#e2f1da;color:#003e60}
#UI-siteNav li.Tab .DropDown li


/*#menu1 body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#menu1 .sidebar-nav {
    padding: 9px 0;
}

#menu1 .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

#menu1 .dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

#menu1 .dropdown:hover .dropdown-menu {
    display: block;
}

#menu1 .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

#menu1 .navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
#menu1 .navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}*/




.UI-icon-container{
color:#633a89;
}
.userInfo .name {
color: #000;
}
#widgetContainer2{
display:none;
}

#widgetContainer10{
display:none!important;
}
.DashCol1, .DashCol2 {
padding-top: 0;
}

.globalSearch {
float: right;
display: inline;
right: -180px;
position: relative;
/*top: -66px;*/
top: -90px;
}
.globalSearchBar {
position: absolute;
top: 5.455em;
margin: 0em 0em 0em -9.182em;
width: 328px!important;
margin-top: 0!important;
box-shadow: none!important;
border: 0!important;
}
.Search {
background: #633a89;
position: absolute;
top: -170px;
right: 0;
}
.dropDown {
width: 121px;
background: white;
border: 1px solid #ccc;
box-shadow: 1px 3px 29px #ccc;
text-align: left;
margin-top: 20px;
}
.userInfo a:hover {
background-color: #633a89;
color: #e5e5e5;
}
.userInfo  {
position: relative;
top: -115px;
right: -161px;
text-align: right;
height: 2.2em;
}
ul.mainNav li a span  {
color: #633a89;
text-transform: uppercase;
font-size: .9em;
}
#widgetContainer6{
display:none;
}
#widgetContainer7{
display:none;
}
#widgetContainer8{
margin-top: -.9em;
max-height: 22.5em;
overflow: hidden;
}
.active, .available {
border-color: #fff !important;
}
.userInfo a {
padding: .4em 0.90909em;
}
.welcomeFlag {
background-color: transparent;
border:0;
padding: 4% 0;
border-bottom: 1px solid #bbb;
border-radius: 0;
}

.userGreeting{
background:transparent!important;
font-size: 1.4em;
font-family: 'MrsEavesItalic'!important;
letter-spacing:1px;
font-style:italic;
padding:0;
text-align: center;
line-height: 1.2em;
color: #000000;
}
.flatList span{
color: #585858;
text-transform: uppercase;
}
.welcomeFlag .inlineNav {
float:left;
display:none;
}

.UI-secBg, .resourceInfoText {
background-color: transparent; 
text-align: left;
}
#Content {
padding-top:0;
background: url("") no-repeat!important;
background-position: 50% 22%;
}
#Content .Inner {
width:100%!important;
box-sizing: border-box;
height:60em;
border: 0px!important;
background-image: url(/Content/usa/images/mybelcorp_login.jpg);
background-repeat: no-repeat;
background-size: 100% auto;
}
#Content .Inner .Info {
position: relative;
left: -407px;
top: 140px;
border-left: 0px!important;
font-size: 9px!important;
font-family: 'Museosans_300';
color: #5D069F;
}
#mybelcorp {
background: url(/Content/usa/images/mybelcorp.jpg);
width: 200px;
height: 28px;
overflow: hidden;
background-repeat: no-repeat;
float: right;
position: relative;
top: 56px;
left: -105px;
}
.Login {
position: relative;
top: 203px;
}
#Content .Inner .Login {
float: left;
}
#LoginForm {
position: relative;
top: 70px;
left: 12px;
}
.TextInput {
font-size: 12px!important;
padding: 1px 5px!important;
width: 66%!important;
}
#Content .Inner .Login p.overflow {
line-height: 1.63636em!important;
width: 202px;
}
.Login h1, h2{
display:none!important;
}
.DashCol1 {
width: 15%;
}
.DashCol1b {
display:none;
}
.DashCol2b {
width: 34%;
padding-left: 0;
float: right;
}
#BreakingNews {
width: 480px;
position: absolute;
border: 10px solid #E5E5E5;
height: 19em;
max-height:19em!important;
overflow:hidden;
}
.News h1{
color: #633a89;
font-family: 'MuseoSans_300';
text-align: left;
text-transform: uppercase;
font-size: 2em;
margin-bottom: 3%;
}
.Snippet{
display: block!important;
text-align: left;
padding: .6em 0 0 0;
border-bottom: 1px solid #DDF3FB;
font-size: 1.2em;
}
.Snippet a{
float: right;
font-family: 'museoSans_700';
color: #633a89!important;
}
.WidgetTitle{
background:transparent;
color:#000;
box-shadow:none;
border:0;
overflow:visible;
height: auto;
}
#accountQuickFacts_AccountNumber, #accountQuickFacts_CareerTitle{
font-size: 1.2em;
text-align: left;
line-height: 1.1em;
}

.Resources{
background:#E5E5E5;
height: 22.5em;
text-align:center;
}
.Resources span{
color:#585858;
font-style:normal;
text-align:center;
}
.ResourcePreviewInfo{
background:#E5E5E5;
}
.WidgetBody{
background:#E5E5E5;
}
.icon-arrowPrev, .icon-arrowNext{
color: #A3A3A3;
display:block!important;
}
.ResourcePreviewInfo span a{
color:#00B6DE;
}
.ImgPrev {
margin:0;
}
.ResourcePreviewInfo #documentScroller {
width: 190px;
}
.ResourcePreviewInfo .ImgWrapper .items div {
float: left;
width: 92px;
border-right: 5px solid #E5E5E5;
display: block;
overflow: hidden;
text-align: center;
}
.ResourcePreviewInfo .resourceInfoText span.ResourceName {
width: 89px;
text-transform: uppercase;
}
.Resources .ImgWrapper {
background-color: #E5E5E5;
}
.ResourcePreviewInfo .resourceInfoText {
color: #000; 
height: 70px;
text-align: left;
}
.UI-secBg, .resourceInfoText {
background:#E5E5E5;
}
.WidgetTitle .Txt {
padding-left: 0;
text-align: left;
text-transform: uppercase;
}
#newEmailContainer{
background:transparent!important;
}
.Emails{
margin-top: -14px;
}
.custm_menu ul{
margin:0;
padding:0;
list-style-type: none;
}
.custm_menu ul li{
padding: 4% 0;
}
.custm_menu ul li a{
font-size: 1.3em;
font-family: 'museoSans_700';
text-transform: uppercase;
color: #00B6DE;
}

.ResourcePreviewInfo {
background: #E5E5E5;
}
.ResourcePreviewInfo {
width: 259px;
display: block;
overflow: hidden;
}
#widgetContainer2{
height:93px;
max-height:93px;
overflow-y:scroll;
overflow-x:hidden;
}
#widgetContainer5{
display:none;
}
.widgetDrillLinks {
background: rgba(0, 0, 0, 0);
text-align: right;
text-transform: uppercase;
font-size: 1em;
font-family: 'MuseoSans_700';
}
.widgetDrillLinks a{
color:#633a89;
}
.siteCopyright{
display:none;
}
ul.mainNav li a:hover {
background: transparent;
}
table.DashboardLayout {
display: table;
}
#SecondaryRail .actionItems {
background: transparent;
margin: 0;
padding-bottom: 1em;
}
#SecondaryRail .pad10 {
padding:0;
}
.flatList .current {
background: transparent;
font-family: 'MuseoSans_700';
}
.icon-actionTreeView, .icon-actionReport, .icon-actionFlatReport{
color:#585858!important;
}
.flatList .current a span{
color:#633a89!important;
}
.actionItems .UI-icon-container {
color: black;
}
.PerfKPI {
margin-right: 10px;
min-width: 280px;
width: 100%;
}
.applyPromotionCode{
display:none;
} 
.slideshow {
width: 100%;
height:50%;
position: absolute;
top: 12.5em;
left: 0;
overflow: hidden;
}
.SavedReports{
border-top: 1px solid #633a89;
padding-top: 1em;
}
#lightbox{
width:100%;
height:auto;
display:none;
}
.lightbox-video{
position: relative;
width: 100%;
background: transparent;
height: 33em;
display:none;
}
.lightbox-video a{
padding: 100%;
height: 100%;
}
.camera_wrap {
display: none;
margin: 0 auto;
overflow: visible !important;
position: relative;
width: 100%!important;
z-index: 0;
height:95%;
}


#SecondaryRail {
 padding-right: 0;
width: 20%;
}
.DashColumns .contents #ContentColumn {
float: right;
width: 79%;
}
 .UI-lightBg a.Button, .DataGrid tr.hover a.Button, .collapsedCart a.Button {
color: #fff;
}
.Button {
background-color: #633a89;
background-image:none;
color: #fff;
text-shadow: none;
-moz-transition-property: background-color, color;
-moz-transition-duration: 0.4s, 0.4s;
-webkit-transition-property: background-color, color;
-webkit-transition-duration: 0.4s, 0.4s;
-o-transition-property: background-color, color;
-o-transition-duration: 0.4s, 0.4s;
transition-property: background-color, color;
transition-duration: 0.4s, 0.4s;
}
 .listNav a {
padding: .6em 0;
text-transform:uppercase;
}
.listNav a.current{
background: rgba(0, 0, 0, 0);
color: #633a89;
}
.WidgetBody, .WidgetUtility, .widgetDrillLinks, .listBody {
margin: 0; 
}
.listNav li, .brdrBottom, #siteWidgets li {
border:0;
}

.UI-secBg, .resourceInfoText {
background: transparent; 
font-family: 'museosans';
font-size: 1.5em;
padding: 0 0 1em 0;
border-radius: 0;
}
#dob input{
width:21%;
}
#homePhone input{
width:21%!important;
}
#cellPhone input{
width:21%!important;
}
#workPhone input{
width:21%!important;
}
.PostalCode{
width:21%!important;
}
input[type=text], textarea, select {
font-family: 'Noto sans';
font-size: 1.18182em;
padding: .5em;
width: 80%;
}
input{
font-family: 'MuseoSans';
font-size: 1.18182em;
padding: .5em;
}
.AutoPost{
position: static!important;
top: -.5em;
left: 3em;
width: 16em;

}
.ui-multiselect{
width:100%!important;	
}
.ui-multiselect-menu{
width:auto!important;
}
.changeViewIcon {
color:white!important;
}
.groupCheckBox{
width: 6%!important;
}
.FauxTable label, .FormTable label, .FormContainer label, .GridFilters label, #siteWidgets li label {
font-weight: normal;
font-family: 'MuseoSans_700';
font-size: 1em;
/*
font-size: 1.4em;
*/
}
 .PerformanceLandingFilters{
 background-color: transparent; 
 }
#statusSelectFilter{
float: right;

}
#paginatedGridFiltersOrders label{
float:left;
}
#statusSelectFilter{
position:relative;
top:-.5em;
left:3em;
width:16em;
}
.UI-secBg .changeViewIcon:before {
background-color: #633a89;
border: 1px solid #FFFFFF;
}
.UI-secBg .changeViewIcon:hover:before, .UI-secBg .changeViewIcon.active:before {
background-color: #E500FF;
color: #FFFFFF;
}
.UI-secBg a, .resourceInfoText a {
color: #FFFFFF;
}
#TitleLevels span:nth-child(2n) {
background: #f6fcfe;
}
#TitleLevels span {
background: #FFFFFF;
}
#TitleBar_Chart {
width: 40%
}
.responsiveDataGrid{
width: 100%;
display: block;
clear: both;
overflow-x: scroll;
}
.DataGrid th {
background: #633a89;
color:#FFFFFF;
}

.IconLink {
display:none;
}
.TreeNodeDetails {
width: 64%;
float: right;
}
.FlatTree {
margin: 0 10px 10px 10px;
padding: 10px 10px 0 10px; 
width: 30%;
float: left;
}
.infoCardWindow {
position: static;
bottom: 0;
right: 0;
border-bottom: none;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
opacity: 0.8;
}
.UI-secBg a, .resourceInfoText a {
color: #585858;
}

.icon-arrowDown{
color:#585858!important;
positioN: relative;
top: .7em;
display:none;
}
.titleBar{
margin: 0;
padding: 0;
}
.ResourceName{
font-size: .6em;
}
.icon-navbarSearch{
color: #633a89!important;
margin-top:.6em;
}
ul.DataGrid li:nth-child(odd) {
background: #f6fcfe;
}
.icon-plus, .icon-edit{
color:#633a89!important;
}
.icon-actionDashTools, .icon-actionDashPWS{
color:#633a89!important;
display:none;
} 
#editModules, #EditMyPWSDashLink{
display:none;
} 
#TitleLevels.titleLevel { 
font-size:1em!important;
} 
.imgLoaded{ 
width:100%!important; 
height:auto!important;
}
.camera_pag {
position:relative;
top:-15%;
left:0px;
/*display: none;*/
}
.newsCaption{font-size: 2em;}
.newsBody{font-size: 1.4em;margin: 1em 0;line-height: 1.2em;}



@media (max-width: 340px) and (min-width: 0px){
	
}

@media (max-width: 480px) and (min-width: 341px){
	
}
@media (max-width: 979px) and (min-width: 481px){
	
}
@media (max-width: 3000px) and (min-width: 1501px){
	.slideshow {	height:45%;	top: 14.4em;}
	.camera_wrap {display: none;	margin: 0 auto;	overflow: visible !important;	position: relative;	width:100%!important;z-index: 0;height:100%;}

	table.DashboardLayout {margin-top: 8%;}
	.DashCol2b {	margin-top: -9%;}
	#widgetContainer8{margin-top:0;}
	.camera_pag {position:relative;top:-12%;left:0px;}
}/*@media (max-width: 3000px) and (min-width: 1501px)*/

.SavedReports.NewsMenu {
    display: none;
}
.SavedReports.menu-full.DocumentsMenu {
    display: none;
}
