@media all and (-ms-high-contrast:none)
{
.userInfo {top: -121px!important;}/* IE10 */
*::-ms-backdrop, .userInfo {top: -121px!important;}/* IE11 */
     
[class^="icon-"]:before, [class^="icon-"] .ie7Icon, [class*=" icon-"]:before, [class*=" icon-"] .ie7Icon, a.nextPage:before, a.nextPage .ie7Icon, a.previousPage:before, a.previousPage .ie7Icon {
font-size: .3em;
}
*::-ms-backdrop, [class^="icon-"]:before, [class^="icon-"] .ie7Icon, [class*=" icon-"]:before, [class*=" icon-"] .ie7Icon, a.nextPage:before, a.nextPage .ie7Icon, a.previousPage:before, a.previousPage .ie7Icon {
font-size: 100%;
}
.icon-navbarSearch{font-size:1.5em!important;position:relative;top:-0.2em;}
.UI-secBg, .resourceInfoText {font-size: 1em!important;}
*::-ms-backdrop, .UI-secBg, .resourceInfoText {font-size: 1em!important;}
#nameValueBody{
width:100%!important;
}
 

}/*@media all and (-ms-high-contrast:none)*/

.earningsPeriodSelectorContainer{
width: 100%;
background: #E5E5E5;
padding: 1em;
box-sizing: border-box;
margin-bottom: 2em;
}
#periodSelect{
width: 35%;
}

.earningsHeader{
font-size: 1.4em;
border-bottom: 1px solid #E5E5E5;
padding-bottom: 1em;
margin-bottom: 1em;
}
.earningsCompanyHeader{
display:none;
font-size: 1.2em;
}
.earningsCompanyAddressContainer{
font-size: 1.3em;
line-height: 1.5em;
}
.earningsBAAddressContainer{
border-top: 1px solid #E5E5E5;
padding-top: 1em;
}
.earningsCompanyName{
font-family: 'MuseoSans_300';
clear: both;
display: block;
}
.earningsCompanyAddress1, .earningsCompanyAddress2, .earningsCompanyCityStatePostal, .earningsCompanyPhone{
display:block;
}
.earningsBAContainer{
font-size: 1.2em;
padding: 1em 0;
line-height: 1.2em;
}

.earningsBAName{
display: block;
font-family: 'MuseoSans_300';
}
.earningsBAAddress1, .earningsBAAddress2, .earningsBACityStatePostal{
display:block;
}

#Content .Inner .Info li {
margin-bottom: 1em;

}
#Content .Inner .Info {
left: -58em;
top: 174px;
font-size: 12px!important;
}
#LoginForm {
top: 138px;
left: 98px;
width: 50%;
z-index: 99999
}
.error_message_block {

}
.Fields input[type=text]{padding: .4em 1em!important;}
.Fields input[type=password]{padding: .4em 1em!important;}
input[name=password]{padding:1em!important;}
#Content.Inner {
background-color:#fff!important;
}
.custm_menu ul li a {
font-size: 1em;
}
.userInfo {
top: -126px;
}
[class^="icon-"]:before, [class^="icon-"] .ie7Icon, [class*=" icon-"]:before, [class*=" icon-"] .ie7Icon, a.nextPage:before, a.nextPage .ie7Icon, a.previousPage:before, a.previousPage .ie7Icon {
font-size: 1.5em;
}

.globalSearch {
top: -70px;
}
#widgetContainer8{
display:none;
}
.mycal{
width: 25em;
margin-top: -0.5em;
height: 22.8em;																	
overflow: hidden;
overflow-y: auto;
}
.mycal h1{
font-family: 'MrsEavesItalic'!important;
letter-spacing: 1px;
font-style: italic;
padding: 0;
line-height: 1.2em;
color: #FF4040;
font-size: 2.5em;
font-weight: normal;
}
.mycal-event{
float: left;
vertical-align: top;
width: 88%;
height: 22.6em;

}
.mycal-event img{
float:right;
width:66px;
height:47px;
}
.mycal-event span{
font-weight:bold;
width: 70%;
float: left;
display:block;
color:#00B6DE;
}
.mycal-date{
float:left;
width:12%;
font-weight:700;
}
.mycal-wrap{
border-bottom: 1px solid #bbb;
overflow: hidden;
display: block;
width: 100%;
height: 6em;
clear: both;
margin-bottom: .5em;
}
.jaybox{
display:none;
position: fixed;
top: 0;
z-index: 2;
background: rgba(0,0,0,0.7);
width: 100%;
left: 0;
height: 100%;
}
.jaybox-close{
position: absolute;
float: right;
right: 0;
/* z-index: 99999999; */
margin: 0em -1em 0 0;
}
.jaybox-close:hover{
cursor:pointer;
}
.jaybox-close a{
font-size: 1.4em;
color: white;
font-weight: 700;
background: black;
border-radius: 100%;
padding: .5em .8em;
border: 2px solid #fff;
}

.home-video {
position: relative;
width: 20em;
box-sizing: border-box;
top: 19em;
left: 21%;
height: 5em;
z-index: 999;
}

.home-video a{
width: 30em;
height: 17em;
display: block;
}
.jaybox-box{
position: relative;
left: 23%;
top: 15%;
width: 64em;
}
.UI-lightBg, .DataGrid tr.hover, .collapsedCart {
background-color: transparent;
color: #5E5E5E;
border-top: 3px solid #633a89;
border-radius:0!important;
}
#paginatedGridOptions, #paginatedGridOptionsOrders{
background: rgba(0, 0, 0, 0);
border-radius: 0;
border-right: 0;
border-left: 0;
border-bottom: 0;
border-top: 1px solid #633a89;
color: #000;
padding-top: .8em;
}
#paginatedGridFiltersOrders label {
float:none!important;
}
.UI-mainBg a {
color: #000;
}
.GridFilters .RunFilter {
margin-top: 1em;
}
.AdditionalFilterButton {
line-height: 3.545em;
}
.GridColHead{
background-color: #633a89;
}
.GridColHead:hover{
background-color: #633a89;
}
.GridColHead a{
color:#fff!important;
}
table.ClickableDataGrid th{
background-color: #633a89;
}
.Button{
border-radius:0!important;
text-transform: uppercase;
}
.Button:hover{
background:#fff;
border:1px solid #633a89;
}
a.Button:hover{
color:#000!important;
}
.flatList span {
color: #808080;
}
.listNav a.current {
font-family: 'MuseoSans_900';
}
#statusSelectFilter, #typeSelectFilter {
width: 12em;
}
#startDateInputFilter, #endDateInputFilter{
width:12em!important;
}
#paginatedGridPaginationOrders, .UI-mainBg{
background-color: transparent;
}
.PageSize{
color: #000;
width: 34%;
}
.PageSize select{
width:49%!important;
}
.Pagination .Bar{
background-color: #633a89;
color: #FFF;
}
.Pagination .Bar a {
color: #FFF;
}
.Pagination a {
background-color: #633a89;
}
#ContentColumn{
color:grey;
} 
 

#contactsImport::-webkit-file-upload-button {
  visibility: hidden;
}
#contactsImport {
width: 8em;
}
#importContactsSubmit{
color:#633a89;
background:#fff;
border:1px solid #633a89;
text-transform:uppercase;
margin-left: .5em;
}
#contactsImport::before {
  content: 'CHOOSE FILE';
  display: inline-block;
  background: #633a89;
  color:#fff;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;

  font-weight:700;
}
#contactsImport:hover::before {
  border-color: black;
}
#contactsImport:active::before {
  background: #633a89;
}
.PerformanceLandingFilters label{
float: none!important;
height: 2em;
margin-left: 4em;
}
.UI-secBg span{
font-family: 'MrsEavesItalic';
font-size: 2em;
color: #633a89;
}
.UI-secBg, .resourceInfoText {
padding: 0!important;
}
#nameValueBody{
/*width: 88%;*/
margin-left: auto;
}
.changeViewIcon{
position: relative;
top: 1em;
}
.dropDown{
background:#fff;
overflow: visible!important;
}
.globalSearchBar .Search input.globalsearch {
width: 100%!important;
padding: 0.5em!important;
}
#SearchContainer{
/*background-color: #633a89!important;*/
width:100%;
}
.newsBody img{
width:100%;
}
.DataGrid thead th {
color:#fff;
background-color: #633a89;
}
.shipSelectTitle, .paymentSelectTitle, .amountToApply{
border: 0!important;
}
#orderEntryArea label{
color:#633a89;
text-transform:uppercase;
font-weight: 700;
}
#orderEntryArea h5{
color:#633a89;
text-transform:uppercase;
font-weight: 700;
}
#ProcessingTimeDisclaimer{
border:0!important;
background: #E4E4E4;
}
.earningsPeriodSelectorContainer {
background: transparent;
border-top: 3px solid #633a89;
}
table#paginatedGrid th{
/*display: table-cell!important;*/
}
#btnSubmitOrder{
float:right;
}
#btnSaveOrder{
float:right;
}
input[value$="password"]{
padding:1em!important;
}
.slideshow {
/*top: 13.2em;*/
top: 11.5em;
}
#mediaBundleContainer {
width: 100%;
}
#Content .Inner{
background-size: 60%;
background-position: 0 5em;
background-color:#fff;
}
#Content .Inner .Login {
float: right;
width: 36%;
padding: 0;
display: block;
overflow: visible;
height: auto;
margin-top: 0;
top: 20em;
}
.Login {
top: 5em;
}
#LoginForm {
width: 61%;
left: 0;
top: 0;
}
#Content .Inner .Info {
left: 20em;
top: 6em;
float: right;
width: 19%;
padding: 0;
}
.qq-upload-button {
background-color: #633a89;
color: white;
}
.Cancel{
background-color: #633a89;
color: #fff;
}
#EmailForm .qq-upload-button {
width: 50%;
}
.FormBlock h5{
font-family: 'MuseoSans_700';
font-size: 1.3em;
text-transform: uppercase;
color:#633a89;
margin-bottom: 1em;
}
#ProcessingTimeDisclaimer {;
background: #f6fcfe;
}
#ProcessingTimeDisclaimer p{;
float:left;
}
 #SnippetWrapper{
 overflow-y: auto;height: 179px;
 }
.PersonalOrderDetails .icon-plus:before {
content: "\271a Add to Order";
}
#btnQuickAdd{
margin:1em;
}
 .PersonalOrderDetails .icon-edit:before{
 content: "\270f Edit";
 }
 @media print{
 .PageTitle h1 {font-family: Arial!important;}
 }