<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<belcorpUSA>
		<edi>
			<service>
				<ediService isProduction="false" xdt:Transform="SetAttributes">
					<shipNoticeDropLocations>
						<add partnerName="KN" location="D:\Services\EDI\Testing\KN-856\" xdt:Transform="SetAttributes" xdt:Locator="Match(partnerName)">
							<credentials userName="" password="" xdt:Transform="SetAttributes" />
						</add>
					</shipNoticeDropLocations>
					<purchaseOrdersDropLocations>
						<paid>
							<add partnerName="KN" location="D:\Services\EDI\Testing\KN-850\" xdt:Transform="SetAttributes" xdt:Locator="Match(partnerName)">
								<credentials userName="" password="" xdt:Transform="SetAttributes" />
							</add>
							<add partnerName="BelcorpUSA" location="D:\Services\EDI\Testing\BUS-850\" xdt:Transform="SetAttributes" xdt:Locator="Match(partnerName)">
								<credentials userName="TestUser" password="TestPassword" xdt:Transform="SetAttributes" />
							</add>
						</paid>
						<canceled>
							<add partnerName="BelcorpUSA" location="D:\Services\EDI\Testing\BUS-850\" xdt:Transform="SetAttributes" xdt:Locator="Match(partnerName)">
								<credentials userName="TestUser" password="TestPassword" xdt:Transform="SetAttributes" />
							</add>
						</canceled>
						<returned>
							<add partnerName="BelcorpUSA" location="D:\Services\EDI\Testing\BUS-850\" xdt:Transform="SetAttributes" xdt:Locator="Match(partnerName)">
								<credentials userName="TestUser" password="TestPassword" xdt:Transform="SetAttributes" />
							</add>
						</returned>
					</purchaseOrdersDropLocations>
					<archival enabled="True" location="D:\Services\EDI\Archive" xdt:Transform="SetAttributes" />
					<workingFolder location="D:\Services\EDI\Working\" xdt:Transform="SetAttributes" />
				</ediService>
			</service>
			<serviceHost>
				<host serviceExecutionInterval="0.00:05:00.0" xdt:Transform="SetAttributes" />
			</serviceHost>
		</edi>
	</belcorpUSA>
</configuration>