<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="belcorpUSA">
			<sectionGroup name="edi">
				<sectionGroup name="service">
					<section name="ediService" type="BelcorpUSA.Edi.Service.Configuration.EdiServiceConfigurationSection, BelcorpUSA.Edi.Service" />
				</sectionGroup>
				<sectionGroup name="serviceHost">
					<section name="host" type="BelcorpUSA.Edi.ServiceHost.Configuration.HostConfigurationSection, BelcorpUSA.Edi.ServiceHost" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="netsteps.wireup" type="NetSteps.Encore.Core.Wireup.WireupConfigurationSection, NetSteps.Encore.Core" />
	</configSections>
	<connectionStrings>
		<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACore;Persist Security Info=True;Integrated Security=SSPI;Application Name=BelcorpUSAEdiServiceHost;MultipleActiveResultSets=True" />
		<add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSAMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=BelcorpUSAEdiServiceHost;MultipleActiveResultSets=True" />
		<add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=BelcorpUSAEdiServiceHost;MultipleActiveResultSets=True" />
	</connectionStrings>
	<belcorpUSA>
		<edi>
			<service>
				<ediService isProduction="false">
					<interchange orderCancellationGracePeriod="0.01:00:00.0" promotionItemPaidCMTCode="S10" promotionItemReturnCMTCode="I14">
						<partners>
							<add partnerName="KN" partnerId="KNTEST" ourId="603192787" />
							<add partnerName="BelcorpUSA" partnerId="603192787" ourId="KNTEST" />
						</partners>
						<purchaseOrders>
							<add warehouseId="2" shipFromName="Ventura International" shipFromIdentificationCode="U21" shipFromIdentificationQualifier="91" paidStatusCode="VM" canceledStatusCode="AB" returnedStatusCode="RT" />
						</purchaseOrders>
					</interchange>
					<shipNoticeDropLocations>
						<add partnerName="KN" location="ftp://localhost/pub/outbound/">
							<credentials userName="tstventu" password="2huIpwoxuf" />
						</add>
					</shipNoticeDropLocations>
					<purchaseOrdersDropLocations>
						<paid>
							<add partnerName="KN" location="ftp://localhost/pub/inbound/">
								<credentials userName="tstventu" password="2huIpwoxuf" />
							</add>
							<add partnerName="BelcorpUSA" location="E:\Services\EDI\Testing\KN-850\">
								<credentials userName="" password="" />
							</add>
						</paid>
						<canceled>
							<add partnerName="BelcorpUSA" location="E:\Services\EDI\Testing\KN-850\">
								<credentials userName="" password="" />
							</add>
						</canceled>
						<returned>
							<add partnerName="BelcorpUSA" location="E:\Services\EDI\Testing\KN-850\">
								<credentials userName="" password="" />
							</add>
						</returned>
					</purchaseOrdersDropLocations>
					<archival enabled="True" location="E:\Services\EDI\Archive\" />
					<workingFolder location="E:\Services\EDI\Working\" />
				</ediService>
			</service>
			<serviceHost>
				<host serviceExecutionInterval="0.00:00:15.0" />
			</serviceHost>
		</edi>
	</belcorpUSA>
	<netsteps.wireup>
		<assemblies>
			<add assembly="NetSteps.Data.Entities" ordinal="0" />
		</assemblies>
	</netsteps.wireup>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4" />
		<switches>
			<add name="BelcorpUSA" value="All" />
			<add name="NetSteps" value="All" />
		</switches>
		<sources>
			<source name="BelcorpUSA" switchName="BelcorpUSA" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="EventLog" />
				</listeners>
			</source>
			<source name="NetSteps" switchName="NetSteps" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="EventLog" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add type="NetSteps.Diagnostics.Utilities.Listeners.CustomEventLogTraceListener, NetSteps.Diagnostics.Utilities" name="EventLog" />
		</sharedListeners>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FlitBit.Emit" publicKeyToken="38f03d0878531ff3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.8.6.0" newVersion="2.8.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FlitBit.Wireup" publicKeyToken="38f03d0878531ff3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.5.6.0" newVersion="2.5.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FlitBit.Core" publicKeyToken="38f03d0878531ff3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <appSettings>
    <add key="FileUploadAbsoluteWebPath" value="" />
    <add key="RutaLogo" value="D:\CompanyLogo.jpg" />
    <add key="InvoiceDropLocation" value="D:\ftp-root\netsteps\belcorpsapstag\Invoices\" />
  </appSettings>
</configuration>
