
.Button {display:inline-block;height:30px;color:#fff;font-weight:bold;overflow:hidden;text-transform:uppercase;text-shadow: 0 -1px 0 #000;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border:1px solid #AFAFAF;}
.Button span {display:block;line-height:30px;padding:0px 10px 0px 10px;}
.Button:hover {background-position:0px -31px;text-decoration:none;}
.Button:hover span {background-position:right -776px;}
.Cancel {color:#222;line-height:30px;}	
.Cancel:hover {color:#007BC2;}
.MoreOptions {background-position:0px -65px;color:#333;text-shadow: 0 1px 0 #fff;}
.MoreOptions:hover {background-position:0px -95px;}
.AdditionalFilterButton {line-height:50px;}
.archiveAddLink {display:block;}


.Toggle, .ToggleActive {display:inline-block;width:63px;height:20px;background:url(../Images/OnOffToggle.png) no-repeat top left;overflow:hidden;outline:none;cursor:pointer;}
.ToggleActive {background:url(../Images/ActiveInactiveToggle.gif) no-repeat;width:82px;background-position:-117px 0px;}
.ToggleInactive {background-position:0px;}
.ToggleOn {background-position:-73px 0px;}
.Toggle span {display:block;margin-top:-30px;}



.PageSaveButtons {line-height:30px;margin:0 auto;text-align:left;width:300px;margin-top:10px;}
.PageSaveButtons a {float:left;margin-right:10px;}



/*******************
Sprite Positioning
*******************/
.subUtility {background-position:0 -129px;height:22px;overflow:hidden;background-repeat:repeat-x;line-height:22px;}


/****** General Icons  *****/
.icon-arrowDown-hover{ background-position: 0 0; width: 20px; height: 20px; } 
.icon-arrowDown{ background-position: 0 -120px; width: 20px; height: 20px; } 
.icon-arrowNext-hover{ background-position: 0 -240px; width: 20px; height: 20px; } 
.icon-arrowNext{ background-position: 0 -360px; width: 20px; height: 20px; } 
.icon-arrowPrev-hover{ background-position: 0 -480px; width: 20px; height: 20px; } 
.icon-arrowPrev{ background-position: 0 -600px; width: 20px; height: 20px; } 
.icon-arrowUp-hover{ background-position: 0 -720px; width: 20px; height: 20px; } 
.icon-arrowUp{ background-position: 0 -840px; width: 20px; height: 20px; } 
.icon-bundle-add{ background-position: 0 -960px; width: 20px; height: 20px; } 
.icon-bundle-arrow{ background-position: 0 -1080px; width: 20px; height: 20px; } 
.icon-bundle-full{ background-position: 0 -1200px; width: 20px; height: 20px; } 
.icon-directShipOff-hover{ background-position: 0 -1320px; width: 20px; height: 20px; } 
.icon-directShipOff{ background-position: 0 -1440px; width: 20px; height: 20px; } 
.icon-directShipOn{ background-position: 0 -1560px; width: 20px; height: 20px; } 
.icon-edit-hover{ background-position: 0 -1680px; width: 20px; height: 20px; } 
.icon-edit{ background-position: 0 -1800px; width: 20px; height: 20px; } 
.icon-editPerson-hover{ background-position: -120px 0; width: 20px; height: 20px; } 
.icon-editPerson{ background-position: -120px -120px; width: 20px; height: 20px; } 
.icon-email-hover{ background-position: -120px -240px; width: 20px; height: 20px; } 
.icon-email{ background-position: -120px -360px; width: 20px; height: 20px; } 
.icon-help-hover{ background-position: -120px -480px; width: 20px; height: 20px; } 
.icon-help{ background-position: -120px -600px; width: 20px; height: 20px; } 
.icon-info-hover{ background-position: -120px -720px; width: 20px; height: 20px; } 
.icon-info{ background-position: -120px -840px; width: 20px; height: 20px; } 
.icon-navbarSearch-hover{ background-position: -120px -960px; width: 37px; height: 37px; } 
.icon-navbarSearch{ background-position: -120px -1097px; width: 37px; height: 37px; } 
.icon-plus-hover{ background-position: -120px -1234px; width: 20px; height: 20px; } 
.icon-plus{ background-position: -120px -1354px; width: 20px; height: 20px; } 
.icon-searchIcon-hover{ background-position: -120px -1474px; width: 20px; height: 20px; } 
.icon-searchIcon{ background-position: -120px -1594px; width: 20px; height: 20px; } 
.icon-star{ background-position: -120px -1714px; width: 20px; height: 20px; } 
.icon-x-hover{ background-position: -120px -1834px; width: 20px; height: 20px; } 
.icon-x{ background-position: -257px 0; width: 20px; height: 20px; } 


#globalSearchToggle .icon-navbarSearch-hover{ background-position: -120px -967px;  } 
#globalSearchToggle .icon-navbarSearch{ background-position: -120px -1105px;  } 




/****** Action Bar *****/
.icon-actionAutoShip-hover{ background-position: 0 0; width: 36px; height: 36px; } 
.icon-actionAutoShip{ background-position: 0 -86px; width: 36px; height: 36px; } 
.icon-actionCompose-hover{ background-position: 0 -172px; width: 36px; height: 36px; } 
.icon-actionCompose{ background-position: 0 -258px; width: 36px; height: 36px; } 
.icon-actionComposeLetter-hover{ background-position: 0 -344px; width: 36px; height: 36px; } 
.icon-actionComposeLetter{ background-position: 0 -430px; width: 36px; height: 36px; } 
.icon-actionContactAdd-hover{ background-position: 0 -516px; width: 36px; height: 36px; } 
.icon-actionContactAdd{ background-position: 0 -602px; width: 36px; height: 36px; } 
.icon-actionDashPWS-hover{ background-position: 0 -688px; width: 36px; height: 36px; } 
.icon-actionDashPWS{ background-position: 0 -774px; width: 36px; height: 36px; } 
.icon-actionDashTools-hover{ background-position: 0 -860px; width: 36px; height: 36px; } 
.icon-actionDashTools{ background-position: 0 -946px; width: 36px; height: 36px; } 
.icon-actionEvent-hover{ background-position: 0 -1032px; width: 36px; height: 36px; } 
.icon-actionEvent{ background-position: 0 -1118px; width: 36px; height: 36px; } 
.icon-actionFlatReport-hover{ background-position: 0 -1204px; width: 36px; height: 36px; } 
.icon-actionFlatReport{ background-position: 0 -1290px; width: 36px; height: 36px; } 
.icon-actionGlobe-hover{ background-position: 0 -1376px; width: 36px; height: 36px; } 
.icon-actionGlobe{ background-position: 0 -1462px; width: 36px; height: 36px; } 
.icon-actionHome-hover{ background-position: 0 -1548px; width: 36px; height: 36px; } 
.icon-actionHome{ background-position: 0 -1634px; width: 36px; height: 36px; } 
.icon-actionImport-hover{ background-position: 0 -1720px; width: 36px; height: 36px; } 
.icon-actionImport{ background-position: 0 -1806px; width: 36px; height: 36px; } 
.icon-actionLock-hover{ background-position: 0 -1892px; width: 36px; height: 36px; } 
.icon-actionLock{ background-position: -86px 0; width: 36px; height: 36px; } 
.icon-actionNewsletter-hover{ background-position: -86px -86px; width: 36px; height: 36px; } 
.icon-actionNewsletter{ background-position: -86px -172px; width: 36px; height: 36px; } 
.icon-actionParty-hover{ background-position: -86px -258px; width: 36px; height: 36px; } 
.icon-actionParty{ background-position: -86px -344px; width: 36px; height: 36px; } 
.icon-actionPartyOrder-hover{ background-position: -86px -430px; width: 36px; height: 36px; } 
.icon-actionPartyOrder{ background-position: -86px -516px; width: 36px; height: 36px; } 
.icon-actionPersonalOrder-hover{ background-position: -86px -602px; width: 36px; height: 36px; } 
.icon-actionPersonalOrder{ background-position: -86px -688px; width: 36px; height: 36px; } 
.icon-actionReport-hover{ background-position: -86px -774px; width: 36px; height: 36px; } 
.icon-actionReport{ background-position: -86px -860px; width: 36px; height: 36px; } 
.icon-actionTreeView-hover{ background-position: -86px -946px; width: 36px; height: 36px; } 
.icon-actionTreeView{ background-position: -86px -1032px; width: 36px; height: 36px; } 


/******* Utility Bar *****/
.GridUtility .icon-arrowDown-hover{ background-position: 0 0; width: 26px; height: 26px; } 
.GridUtility .icon-arrowDown{ background-position: 0 -126px; width: 26px; height: 26px; } 
.GridUtility .icon-check-hover{ background-position: 0 -252px; width: 26px; height: 26px; } 
.GridUtility .icon-check{ background-position: 0 -378px; width: 26px; height: 26px; } 
.GridUtility .icon-chooseVisibleColumns-hover{ background-position: 0 -504px; width: 26px; height: 26px; } 
.GridUtility .icon-chooseVisibleColumns{ background-position: 0 -630px; width: 26px; height: 26px; } 
.GridUtility .icon-deleteReportLink-hover{ background-position: 0 -756px; width: 26px; height: 26px; } 
.GridUtility .icon-deleteReportLink{ background-position: 0 -882px; width: 26px; height: 26px; } 
.GridUtility .icon-deleteSelected-hover{ background-position: 0 -1008px; width: 26px; height: 26px; } 
.GridUtility .icon-deleteSelected{ background-position: 0 -1134px; width: 26px; height: 26px; } 
.GridUtility .icon-edit-hover{ background-position: 0 -1260px; width: 26px; height: 26px; } 
.GridUtility .icon-edit{ background-position: 0 -1386px; width: 26px; height: 26px; } 
.GridUtility .icon-editPerson-hover{ background-position: 0 -1512px; width: 26px; height: 26px; } 
.GridUtility .icon-editPerson{ background-position: 0 -1638px; width: 26px; height: 26px; } 
.GridUtility .icon-email-hover{ background-position: 0 -1764px; width: 26px; height: 26px; } 
.GridUtility .icon-email{ background-position: 0 -1890px; width: 26px; height: 26px; } 
.GridUtility .icon-emailAllLink-hover{ background-position: -126px 0; width: 26px; height: 26px; } 
.GridUtility .icon-emailAllLink{ background-position: -126px -126px; width: 26px; height: 26px; } 
.GridUtility .icon-emailLink-hover{ background-position: -126px -252px; width: 26px; height: 26px; } 
.GridUtility .icon-emailLink{ background-position: -126px -378px; width: 26px; height: 26px; } 
.GridUtility .icon-eventCalendar-hover{ background-position: -126px -504px; width: 26px; height: 26px; } 
.GridUtility .icon-eventCalendar{ background-position: -126px -630px; width: 26px; height: 26px; } 
.GridUtility .icon-exportToExcel-hover{ background-position: -126px -756px; width: 26px; height: 26px; } 
.GridUtility .icon-exportToExcel{ background-position: -126px -882px; width: 26px; height: 26px; } 
.GridUtility .icon-forward-hover{ background-position: -126px -1008px; width: 26px; height: 26px; } 
.GridUtility .icon-forward{ background-position: -126px -1134px; width: 26px; height: 26px; } 
.GridUtility .icon-goBack-hover{ background-position: -126px -1260px; width: 26px; height: 26px; } 
.GridUtility .icon-goBack{ background-position: -126px -1386px; width: 26px; height: 26px; } 
.GridUtility .icon-goForward-hover{ background-position: -126px -1512px; width: 26px; height: 26px; } 
.GridUtility .icon-goForward{ background-position: -126px -1638px; width: 26px; height: 26px; } 
.GridUtility .icon-groupByAccount-hover{ background-position: -126px -1764px; width: 26px; height: 26px; } 
.GridUtility .icon-groupByAccount{ background-position: -126px -1890px; width: 26px; height: 26px; } 
.GridUtility .icon-help-hover{ background-position: -252px 0; width: 26px; height: 26px; } 
.GridUtility .icon-help{ background-position: -252px -126px; width: 26px; height: 26px; } 
.GridUtility .icon-info-hover{ background-position: -252px -252px; width: 26px; height: 26px; } 
.GridUtility .icon-info{ background-position: -252px -378px; width: 26px; height: 26px; } 
.GridUtility .icon-mergeUsers-hover{ background-position: -252px -504px; width: 26px; height: 26px; } 
.GridUtility .icon-mergeUsers{ background-position: -252px -630px; width: 26px; height: 26px; } 
.GridUtility .icon-navbarHome-hover{ background-position: -252px -756px; width: 26px; height: 26px; } 
.GridUtility .icon-navbarHome{ background-position: -252px -882px; width: 26px; height: 26px; } 
.GridUtility .icon-pageAdd-hover{ background-position: -252px -1008px; width: 26px; height: 26px; } 
.GridUtility .icon-pageAdd{ background-position: -252px -1134px; width: 26px; height: 26px; } 
.GridUtility .icon-pageEdit-hover{ background-position: -252px -1260px; width: 26px; height: 26px; } 
.GridUtility .icon-pageEdit{ background-position: -252px -1386px; width: 26px; height: 26px; } 
.GridUtility .icon-pageMin-hover{ background-position: -252px -1512px; width: 26px; height: 26px; } 
.GridUtility .icon-pageMin{ background-position: -252px -1638px; width: 26px; height: 26px; } 
.GridUtility .icon-pageSearch-hover{ background-position: -252px -1764px; width: 26px; height: 26px; } 
.GridUtility .icon-pageSearch{ background-position: -252px -1890px; width: 26px; height: 26px; } 
.GridUtility .icon-pageX-hover{ background-position: -378px 0; width: 26px; height: 26px; } 
.GridUtility .icon-pageX{ background-position: -378px -126px; width: 26px; height: 26px; } 
.GridUtility .icon-plus-hover{ background-position: -378px -252px; width: 26px; height: 26px; } 
.GridUtility .icon-plus{ background-position: -378px -378px; width: 26px; height: 26px; } 
.GridUtility .icon-print-hover{ background-position: -378px -504px; width: 26px; height: 26px; } 
.GridUtility .icon-print{ background-position: -378px -630px; width: 26px; height: 26px; } 
.GridUtility .icon-refresh-hover{ background-position: -378px -756px; width: 26px; height: 26px; } 
.GridUtility .icon-refresh{ background-position: -378px -882px; width: 26px; height: 26px; } 
.GridUtility .icon-reply-hover{ background-position: -378px -1008px; width: 26px; height: 26px; } 
.GridUtility .icon-reply{ background-position: -378px -1134px; width: 26px; height: 26px; } 
.GridUtility .icon-replyAll-hover{ background-position: -378px -1260px; width: 26px; height: 26px; } 
.GridUtility .icon-replyAll{ background-position: -378px -1386px; width: 26px; height: 26px; } 
.GridUtility .icon-save-hover{ background-position: -378px -1512px; width: 26px; height: 26px; } 
.GridUtility .icon-save{ background-position: -378px -1638px; width: 26px; height: 26px; } 
.GridUtility .icon-saveReportLink-hover{ background-position: -378px -1764px; width: 26px; height: 26px; } 
.GridUtility .icon-saveReportLink{ background-position: -378px -1890px; width: 26px; height: 26px; } 
.GridUtility .icon-search-hover{ background-position: -504px 0; width: 26px; height: 26px; } 
.GridUtility .icon-search{ background-position: -504px -126px; width: 26px; height: 26px; } 
.GridUtility .icon-template-hover{ background-position: -504px -252px; width: 26px; height: 26px; } 
.GridUtility .icon-template{ background-position: -504px -378px; width: 26px; height: 26px; } 
.GridUtility .icon-trash-hover{ background-position: -504px -504px; width: 26px; height: 26px; } 
.GridUtility .icon-trash{ background-position: -504px -630px; width: 26px; height: 26px; } 
.GridUtility .icon-x-hover{ background-position: -504px -756px; width: 26px; height: 26px; } 
.GridUtility .icon-x{ background-position: -504px -882px; width: 26px; height: 26px; } 

.ButtonOff
{
    opacity: 0.25;
    -moz-opacity: .25;
    cursor: default;
}