body {margin:0;padding:0;font:normal 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;color:#333;
      background:#fff url(../Images/Encore/loginBG.png) repeat-x;text-align:center;}
#Content {margin:0 auto;text-align:left;width:658px;height:429px;background:url(../Images/Encore/error.png) no-repeat top center;padding-top:205px;}
#Content .Inner {padding:0 50px 0 50px;}
#Content .Info {float:left;width:160px;margin:0 0 0 50px;}
#Content .Info ul {margin:0;padding:40px 0 0 0;}
#Content .Info li {list-style-type:none;background: url(../Images/bullet.png) no-repeat 0 5px;padding-left:18px;margin-bottom:15px;}
.TextInput {padding:5px;color:#1972a4;font-size:18px;width:260px;}
.Button {text-decoration:none;background:url(../Images/Encore/UI-buttons.png) no-repeat 0 0;display:inline-block;height:30px;color:#fff;font-weight:bold;overflow:hidden;text-transform:uppercase;text-shadow: 0 -1px 0 #000;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border:1px solid #AFAFAF;}
.Button span {display:block;line-height:30px;padding:0px 20px 0px 20px;}
.Button:hover {background-position:0px -31px;text-decoration:none;}
.Button:hover span {background-position:right -776px;}

h1 {font:normal 1.2em Arial,Helvetica,"Century Gothic",sans-serif;color:#424242;margin:0;}
h2 {font:normal 2em Arial,Helvetica,"Century Gothic",sans-serif;color:#6EB43F;margin:0;padding-bottom:20px;}

.error_message_block {background:#fcf4f2;width:275px;border-bottom:1px solid #994D4D;}
.error_message_block .error_message  {padding:10px;color:#994D4D;}
.error_message_block .error_message img {float:left;margin:-3px 10px 0 0;}
.errorMessageBubble {background:#FF0000;color:#fff;font-weight:bold;padding:14px;}
