#container {
    /*width: 1051px;*/
    height: 800px;
    margin:0px;
    /*position:relative;*/
}

#right-container, 
#center-container {
    height:800px;
    /*position:absolute;*/
    top:0;
    float: left;
}

#center-container {
    width:800px;
    /*left:200px;
    background-color:#1a1a1a;
    color:#ccc;*/
}

#infovis {
    position:relative;
    width:800px;
    height:800px;
    margin:auto;
    overflow:hidden;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

#infovis-canvaswidget {
  margin:25px 0 0 25px;
}

#infovis-label .node
{
    color: #000;
}