/************************************************************************************
* Reusable Stuff
************************************************************************************/
/* line 4, ../SASS/_rules.scss */
.clr, .clrall, .Clear, .ClearAll { display: block; clear: both; }

/* line 8, ../SASS/_rules.scss */
.clrall { margin: 0; padding: 0; width: 0; height: 0; }

/* line 15, ../SASS/_rules.scss */
ul.flatList br, ul.lr br { display: block; clear: both; }

/* line 21, ../SASS/_rules.scss */
.block { display: block; }

/* line 22, ../SASS/_rules.scss */
.inline { display: inline-block; }

/* line 23, ../SASS/_rules.scss */
.overflow { overflow: hidden; }

/* line 24, ../SASS/_rules.scss */
.visible { overflow: visible; }

/* line 25, ../SASS/_rules.scss */
.relative { position: relative; }

/* line 27, ../SASS/_rules.scss */
.FL { float: left; }

/* line 28, ../SASS/_rules.scss */
.FR { float: right; }

/* line 30, ../SASS/_rules.scss */
.brALL, .brdrAll { -moz-border-radius: 0.45455em 0.45455em 0.45455em 0.45455em; -webkit-border-radius: 0.45455em 0.45455em 0.45455em 0.45455em; border-radius: 0.45455em 0.45455em 0.45455em 0.45455em; }

/* line 31, ../SASS/_rules.scss */
.brYYNN, .brdrYYNN { -moz-border-radius: 0.45455em 0.45455em 0 0; -webkit-border-radius: 0.45455em 0.45455em 0 0; border-radius: 0.45455em 0.45455em 0 0; }

/* line 32, ../SASS/_rules.scss */
.brNNYY, .brdrNNYY { -moz-border-radius: 0 0 0.45455em 0.45455em; -webkit-border-radius: 0 0 0.45455em 0.45455em; border-radius: 0 0 0.45455em 0.45455em; }

/* line 34, ../SASS/_rules.scss */
.center { text-align: center; }

/* line 35, ../SASS/_rules.scss */
.left { text-align: left; }

/* line 36, ../SASS/_rules.scss */
.right { text-align: right; }

/* line 37, ../SASS/_rules.scss */
.bold { font-weight: bold; }

/* line 39, ../SASS/_rules.scss */
.pad20 { padding: 1.81818em; }

/* line 40, ../SASS/_rules.scss */
.pad10 { padding: 0.90909em; }

/* line 41, ../SASS/_rules.scss */
.pad5 { padding: 0.45455em; }

/* line 42, ../SASS/_rules.scss */
.pad2 { padding: 0.18182em; }

/* line 43, ../SASS/_rules.scss */
.pad1 { padding: 0.1em; }

/* line 45, ../SASS/_rules.scss */
.mauto { margin: auto; }

/* line 46, ../SASS/_rules.scss */
.m1 { margin: 0.1em; }

/* line 47, ../SASS/_rules.scss */
.m5 { margin: 0.45455em; }

/* line 48, ../SASS/_rules.scss */
.m10 { margin: 0.90909em; }

/* line 50, ../SASS/_rules.scss */
.mr5 { margin-right: 0.45455em; }

/* line 51, ../SASS/_rules.scss */
.mr10 { margin-right: 0.90909em; }

/* line 52, ../SASS/_rules.scss */
.mr20 { margin-right: 1.81818em; }

/* line 54, ../SASS/_rules.scss */
.ml5 { margin-left: 0.45455em; }

/* line 55, ../SASS/_rules.scss */
.ml10 { margin-left: 0.90909em; }

/* line 56, ../SASS/_rules.scss */
.ml20 { margin-left: 1.81818em; }

/* line 58, ../SASS/_rules.scss */
.mb5 { margin-bottom: 0.45455em; }

/* line 59, ../SASS/_rules.scss */
.mb10 { margin-bottom: 0.90909em; }

/* line 60, ../SASS/_rules.scss */
.mb20 { margin-bottom: 1.81818em; }

/* line 62, ../SASS/_rules.scss */
.mt5 { margin-top: 0.45455em; }

/* line 63, ../SASS/_rules.scss */
.mt10 { margin-top: 0.90909em; }

/* line 64, ../SASS/_rules.scss */
.mt20 { margin-top: 1.81818em; }

/* line 65, ../SASS/_rules.scss */
.mt30 { margin-top: 2.72727em; }

/* line 67, ../SASS/_rules.scss */
.brdr0 { border: 0; }

/* line 68, ../SASS/_rules.scss */
.brdr { border: 0.1em solid; }

/* line 69, ../SASS/_rules.scss */
.brdr1 { border: 0.1em solid; }

/* line 71, ../SASS/_rules.scss */
.inlineNav a, .ShopNav a, .InlineNav a, .listNav a, .qq-upload-button-hover span.uploaderLabel { display: block; }

/* line 74, ../SASS/_rules.scss */
.inlineNav, .InlineNav, ul.flatList, .SavedReports ul, .WidgetBody ul, .Language li, .flatUL, .ShopNav ul, .TreeNodeDetails ul { margin: 0; padding: 0; list-style-type: none; }

/* line 79, ../SASS/_rules.scss */
.inlineNav li, .InlineNav li { float: left; }

/* line 82, ../SASS/_rules.scss */
.listNav a { padding: 0.45455em; }
/* line 84, ../SASS/_rules.scss */
.listNav a.UI-icon-container { padding: inherit; }

/* line 88, ../SASS/_rules.scss */
.dropDown, .DropDown, .navigationItem ul.navigation { display: none; position: absolute; }

/* line 92, ../SASS/_rules.scss */
td { text-align: left; vertical-align: top; }

/* line 96, ../SASS/_rules.scss */
.DataGrid { clear: both; }

/* line 99, ../SASS/_rules.scss */
hr { border: none; }

/* line 102, ../SASS/_rules.scss */
.hide { display: none; }

/* line 105, ../SASS/_rules.scss */
.strikethrough { text-decoration: line-through; }

/* line 108, ../SASS/_rules.scss */
#EncoreIframe { width: 100%; height: 100%; border: none; }

/* line 113, ../SASS/_rules.scss */
.qty { width: 2.27273em; }

/* line 116, ../SASS/_rules.scss */
.watermark, .lawyer { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; font-size: 90%; line-height: 1.15em; }

/* line 121, ../SASS/_rules.scss */
a.UI-icon-container, #SiteNav a { cursor: pointer; }

/************************************************************************************
* CKEditor Templates Behaviours
************************************************************************************/
/* line 128, ../SASS/_rules.scss */
.CKEditorTemplate { border-collapse: collapse; width: 100%; }

/************************************************************************************
* Login Structure
************************************************************************************/
/* line 4, ../SASS/_loginStructure.scss */
html, body { min-height: 100%; }

/* line 7, ../SASS/_loginStructure.scss */
body { margin: 0; padding: 0; }

/* line 11, ../SASS/_loginStructure.scss */
#Content { padding-top: 170px; }
/* line 13, ../SASS/_loginStructure.scss */
#Content .Inner { margin: 0 auto; }
/* line 15, ../SASS/_loginStructure.scss */
#Content .Inner .Login { float: left; }
/* line 18, ../SASS/_loginStructure.scss */
#Content .Inner .Info { float: left; }
/* line 20, ../SASS/_loginStructure.scss */
#Content .Inner .Info ul { margin: 0; padding: 0; }
/* line 24, ../SASS/_loginStructure.scss */
#Content .Inner .Info li { list-style-type: none; }

/* line 31, ../SASS/_loginStructure.scss */
#Content .Inner { padding: 3.63636em 2.72727em; width: 50.90909em; }
/* line 34, ../SASS/_loginStructure.scss */
#Content .Inner .Login { width: 57%; padding-right: 4%; }
/* line 37, ../SASS/_loginStructure.scss */
#Content .Inner .Login p.overflow { line-height: 3.63636em; }
/* line 41, ../SASS/_loginStructure.scss */
#Content .Inner #forgotPasswordDiv input { width: 96%; padding: 0.54545em; }
/* line 45, ../SASS/_loginStructure.scss */
#Content .Inner .Info { width: 29%; margin: 0 0 0 4%; padding: 5% 0 5% 4%; }
/* line 49, ../SASS/_loginStructure.scss */
#Content .Inner .Info li { padding-left: 1.63636em; margin-bottom: 1.25em; }

@media only screen and (max-width: 600px) { /* line 57, ../SASS/_loginStructure.scss */
  body { font-size: 100%; }
  /* line 61, ../SASS/_loginStructure.scss */
  #Content .Inner { width: 80%; border-width: 0.18182em; }
  /* line 64, ../SASS/_loginStructure.scss */
  #Content .Inner .Login, #Content .Inner .Info { width: 100%; }
  /* line 67, ../SASS/_loginStructure.scss */
  #Content .Inner .Info { border-left: 0; margin-left: 0; padding-left: 0; }
  /* line 72, ../SASS/_loginStructure.scss */
  #Content .Inner #btnLogin, #Content .Inner #btnForgotPassword { float: none; display: block; text-align: center; }
  /* line 79, ../SASS/_loginStructure.scss */
  .TextInput { width: 96%; } }
