#messageCenterModal {background:#F5FFDF;opacity:.98;color:#6DB33F;font-weight:bold;font-size:1.25em;position:fixed; z-index:99999;top:0;left:0;width:100%;/*padding:20px;*/text-align:center;display: none;}
#messageCenterModal #messageCenter {}
#messageCenterModal img.messageCenterIcon {}
#messageCenterModal.thisIsNowAnErrorMessage, #messageCenterModal div.thisIsNowAnErrorMessage {background:#FFFBCF;color:#FF0831;}
#messageCenterModal.thisIsNowANotificationMessage, #messageCenterModal div.thisIsNowANotificationMessage {background:#FFFBCF;color:Black;}
#messageCenterModal #messageCenter div {padding:10px;}