/*Reset Style*/
body {margin:0; padding:0; line-height: 1.4em; word-spacing:1px; letter-spacing:0.2px; color: #000;background:#fff;font: 12px Arial, Helvetica,"Lucida Grande", serif;}
/* Hide un-necessary items */
#SiteNav, #FooterPane, .Customer .splitCol30 .UI-secBg, #SecondaryRail a.Primary {display:none;}
/* Show URL */
a:link, a:visited {background: transparent; color:#333; text-decoration:none;}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {content: " (" attr(href) ") "; font-size: 11px;}
a[href^="http://"] {color:#000;}
/* Order Receipt Containers */
#PageContain{position:relative;width:98%;margin:auto;background:#ffffff;}
#TopPane, #Container {width:100%;padding:2px;}
#TopPane {height:auto;border-bottom:3px double #777;padding-bottom:20px}
#LogoContain img {max-height:70px;margin-left:5px;}
#ContentContainer {background:#fff;}
#Container {padding:0;}
.PageTitle {text-align:right;}
.PageTitle h1 {font-size:26px;font-family:Arial, Helvetica,"Lucida Grande", serif;}
.Customer {margin:5px 0;padding:5px;}
.Customer .splitCol30, .Customer .splitCol70 {width:100%;overflow:hidden;}
.Customer .splitCol30 {margin-bottom:10px;text-transform:uppercase;border-top:2px solid #d1d2d3;}
.Customer .splitCol30 .promoNotification {text-transform:none;}
.Customer .splitCol30 .DirectShip .pad10 {padding:5px 0px 0;}
.Customer .FR.splitCol, .partySection-Customers .FR.splitCol {margin-bottom:8px;}
.partySection-Customers .FL.splitCol {width:100%;clear:both;float:none;}
.partySection-Customers .FR.splitCol {min-width:20em;clear:both;}
.partySection-Customers .pad10, .partySection-Customers {padding-bottom:0;}
/* Order Receipt SiteModule */
#SecondaryRail {min-width:12em;width:auto;margin-right:8px;}
.SideModule {background:#fff;border:1px solid #ccc;border-radius:5px;}
.SideModule .brdr1 {border:0;}
#Follow {position:static !important;width:100% !important;}
/* Order Receipt Headers */
.UI-header {background:#e7e7e7;text-transform:uppercase;text-shadow:none;font-weight:bold;padding:2px 5px;}
.UI-header .pad5 {padding:0;}
.UI-lightBg {background:#f5f5f5;}
/* Order Receipt Tables */
.DataGrid thead th {text-shadow:none;border-bottom:1px solid #ccc;padding:2px 3px;}
td {padding:3px;}
.DataGrid tbody tr.DynamicKitChild td {font-size:.9em;font-weight:bold;}
.DynamicKitChild td.icon-24 {padding-left:10px;}
/* Order Receipt Genreal */
.brdr1 {border-color:#ccc;}
.icon-bundle-arrow {display:none;}
.strikethrough {text-decoration:line-through;}