/**************** 
Reusable Stuff
****************/
.FL {float:left;}
.FR {float:right;}
.clr, .clrall, .Clear, .ClearAll, ul.flatList br, ul.lr br {display:block;clear:both;}
.clrall {margin:0;padding:0;width:0;height:0;}
.overflow {overflow:hidden;}
.block {display:block;}
.inlineNav, .InlineNav, ul.flatList, .SavedReports ul, .WidgetBody ul, .Language li, .flatUL, .ShopNav ul, .TreeNodeDetails ul {margin:0;padding:0;list-style-type:none;}
.inlineNav li, .InlineNav li {float:left;}
.inlineNav li a, .ShopNav li a, .InlineNav li a {display:block;}
.listNav li a {display:block;padding:5px;}
.listNav li a.UI-icon-container {padding:inherit;}
.dropDown, .DropDown, .navigationItem ul.navigation {display:none;position:absolute;}
.brALL, .brdrAll {border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.brYYNN, .brdrYYNN {border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;}
.brNNYY, .brdrNNYY {border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;}
.brdrYYNN {border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;}
.center {text-align:center;}
.left {text-align:left;}
.right {text-align:right;}
.bold {font-weight:bold;}
.pad20 {padding:20px;}
.pad10 {padding:10px;}
.pad5 {padding:5px;}
.pad2 {padding:2px;}
.pad1 {padding:1px;}
.m1 {margin:1px;}
.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr20 {margin-right:20px;}
.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml20 {margin-left:20px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.m5 {margin:5px;}
.m10 {margin:10px;}
.mauto {margin:auto;}
td {text-align:left;vertical-align:top;}
td#SecondaryRail {vertical-align:top;}
.DataGrid {clear:both;}
.brdr0 {border:0px;}
.brdr1 {border:1px solid #e1e1e1;}
.brdr {border:1px solid;}
.brdrAll {border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.brdrYYNN {border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;}
.brdrNNYY {border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;}
.txtShadowDrk {text-shadow: 0 -1px 0 #000;}
.txtShadowLt {text-shadow: 0 1px 0 #fff}
.listBody {margin:0 10px 10px 10px;}
hr {border:none;border-bottom:1px dotted #c0c0c0;}
.watermark, .lawyer {color:#9F9F9F;font-size:10px;line-height:normal;}
a.UI-icon-container, #SiteNav li a  {cursor:pointer;}
.qq-upload-button-hover span.uploaderLabel {display:block;}
.hide {display:none;}
.strikethrough {text-decoration:line-through;}
.inline {display:inline-block;}
.relative {position:relative;}
#EncoreIframe {width:100%;height:100%;border:none;}
.qty {width:25px;}
#guests .GuestForm {border-bottom:1px dotted #ccc;}


/**************** 
CKEditor Templates Behaviours
****************/
.CKEditorTemplate {border-collapse:collapse;width:100%;}
