body {text-align:center;margin:0;padding:0;}
a {text-decoration:none;}

/***********
Minor Resets 
***********/
h1,h2,h3,h4,h5,h6,p, #FooterLinks ul, img, br, form {margin:0;padding:0;font-size:100%;border:0;}
a {outline:none;}

/**************** 
Structural Rules
****************/
#Logo {display:block;overflow:hidden;}


/*** Top Pane ***/
#TopPane {height:160px;text-align:center;background-repeat:no-repeat;margin:0 auto;width:960px;margin-bottom:20px;}
#TopPane .inner {}
#Logo {display:inline-block;overflow:hidden;}
#Logo span {display:block;margin-top:-500px;}

body.IE #RapidAccess .DropDown {padding:0;}



/**************** 
Structural Rules
****************/
#Container {width:80%;margin:0 auto;}
body.DashboardHome #Container {width:1000px;margin:0 auto;}
table.DashboardLayout {display:table;width:100%;}
.DashCol1, #SecondaryRail, #SecondaryRail .actionItems {width:240px;}
.DashCol1, #SecondaryRail {padding-right:20px;}
.DashCol2b {width:240px;padding-left:20px;}
.splitCol {width:45%;}
.splitCol15 {width:14%;}
.splitCol30 {width:25%;}
.splitCol35 {width:34%;}
.splitCol40 {width:35%;}
.splitCol60 {width:60%;}
.splitCol65 {width:64%;}
.splitCol70 {width:70%;}
.splitCol80 {width:79%;}


/***********************
Page name & breadcrumbs
************************/
.Crumbs {font-size:.6em;padding:5px 0 5px 0;}
.PageTitle {text-align:left;margin-left:260px;font-size:20px;padding-bottom:20px;}
.PageTitle h1 {display:inline;width:auto;}

/**************** 
Tabber
****************/
.Tabber {margin:10px 0 10px 0;height:40px;border-bottom:1px solid #ccc;}
.Tabber li {line-height:39px;border:1px solid #ccc;border-bottom:none;margin-bottom:1px;border-left:none;}
.Tabber li a {display:block;padding:0 10px 0 10px;}
.Tabber li.current a {background:#fff;font-weight:bold;line-height:40px;}
.widgetTabs {height:24px;font-size:80%;}
.widgetTabs li {line-height:24px;}
.widgetTabs li.current a  {line-height:24px;font-weight:normal;}

.errorMessageBubble {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #FEE9E9 none repeat scroll 0 0;
	border: 1px solid #FF0000;
	display: none;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 2px 5px 3px 3px;
	color: #FF0000;
	position: absolute;
	height:14px;
}


/************
Site Search
*************/
.globalSearchBar {position:absolute;top:160px;margin:0 0 0 -150px;}
.globalSearchBar .Search input.globalsearch {width:200px;padding:5px;}
/***********************
Action Items & Icon Sizes
************************/
.UI-icon {display:inline-block;}
.UI-icon-container {display:block;}
/*
.icon-16 .UI-icon {width:16px;height:16px;}
.icon-24 .UI-icon {width:24px;height:24px;}
.icon-36 .UI-icon {width:36px;height:36px;}
*/
.actionItems {font-size:1.1em;margin-bottom:20px;}
.actionItems li a.UI-icon-container {display:block;line-height:36px;}
.actionItems .UI-icon, .welcomeFlag .UI-icon  {height:36px;width:36px;float:left;}

.welcomeFlag .iconText {display:block;clear:both;line-height:normal;}
.notext {width:16px;}
.notext {display:block;text-indent:-9999px;}

/**********************************
Grid Filters Utitlities, Pagination, etc
************************************/
.GridFilters {padding:10px;border-bottom:none;}
.GridFilters .FL {margin:4px 8px 0 0;}
.GridFilters .FL label {display:block;}
.GridFilters .RunFilter {margin-top:10px;}

.GridUtility {padding:3px;margin:2px 0 2px 0;}
.GridUtility .UI-icon-container span {line-height:24px;float:left;display:block;}
.GridUtility .pipe {display:none;}
.GridUtility a {display:inline-block;margin-right:5px;}


.Pagination .previousPage {float:left;}
.Pagination .nextPage {float:right;background-position:0px -226px;*margin-top:-28px;}
body.IE7 .Pagination .nextPage {margin-top:-28px;}
.PageSize {float:right;}
.Pagination .pages {display:inline-block;}
/**************
Breaking News 
**************/
#BreakingNews {background-position:0 -300px;height:50px;}

/*******************
Tables
*******************/
table {display:table;width:100%;border-collapse:separate;border-spacing:1px;border:none;}
td {vertical-align:top;font-size:11px;}

.DataGrid {margin-bottom:20px;}
.DataGrid thead {background-position:0 -165px;}
.DataGrid thead th {padding:5px 3px 5px 3px;font-size:11px;text-shadow:0 1px 0 #fff;}
.DataGrid td, .DataGrid th {padding:3px;}
.DataGrid tbody tr td {border-bottom:1px dotted #c0c0c0;}
.DataGrid tbody tr.GuestTotal td {border:none;}
.ClickableDataGrid tr{cursor:pointer;}
.cell-hovered {cursor:pointer;}
.IconCol {width:24px;text-align:center;}
.FauxTable {display:table;width:100%;margin-bottom:20px;}
.FauxTable .FRow {display:table-row;}
.FauxTable .FRow label, .FauxTable .FRow p {display:table-cell;padding:2px 0px 2px 0px;vertical-align:top;text-align:left;}
.FauxTable .FRow label {width:120px;font-weight:bold;}
table.ContactActivity {padding:0 10px 0 10px;}
td.ContactActivityColumn {width:60%;}
td.ContactInfoColumn {width:40%;padding-right:20px;}
.ContactInfoColumn .infoList li {padding:5px;}
.ContactInfoColumn .infoList li label {float:left;width:100px;padding-right:5px;}
.ContactInfoColumn .infoList li div {float:left;width:150px;}
.ContactInfoColumn .infoList li br {clear:both;}
/*tbody .trHover:hover {background-color:#BFEEF9;color:#000;}*/
tbody .trHover td.clickable {cursor:pointer;}
body.IE7 th .SortColumn {margin-top:-17px;}
th .SortColumn {*margin-top:-17px;}
table.Itemized td {border-bottom:1px dotted #c0c0c0;}
table.Itemized th {border-bottom:1px solid #333;text-align:left;}
.FormRow br, .FRow br {height:2px;line-height:2px;}
.FormTable label, .FormContainer label {font-weight:bold;}
.TabOrdersOverview td a {display:block;max-width:100px;overflow:hidden;text-overflow:ellipsis;}
th#OrderNumber {width:110px;}
/****************
Resources
*****************/
#ResourcesThumbs {padding:10px;}
.Resource {float:left;width:222px;height:200px;padding:2px;margin:0px 0px 20px 10px;font-size:11px;}
.Rwrapper {display:block;width:150px;height:150px;background:#fff;}
.Rwrapper img {width:150px;height:150px;}
.Rtitle {font-weight:bold;display:block;}
.Rdesc {height:200px;width:135px;overflow:hidden;margin-left:8px;}
.Resource .Updated {position:absolute;background:#000;color:#fff;padding:1px;font-size:10px;z-index:1;width:100px;}
.tooltip {display:none;background:#333;color:#fff;padding:5px;width:auto;z-index:10000;} 
.Resource .FileType {display:block;width:16px;height:16px;float:right;}
.PDF {background: url(../images/page_white_acrobat.gif) no-repeat}
.Img {background: url(../images/page_white_picture.gif) no-repeat}
.Swf {background: url(../images/page_white_flash.gif) no-repeat}

/****************
form inputs
*****************/
#creditCardEntry #billZipcode {width:100px;}



/*************
FORMS and INPUTS
*************/
.DatePicker, .TimePicker {width:75px;}
.partyName {width:80%;}
textarea.fullWidth {width:100%;}
input.fullWidth {width:96%;}
.firstNameField {width:85px;}
input.quantity {width:25px;text-align:center;}
input.ccvInput {width:30px;}
textarea.composeEmail {height:200px;}
.fancyInput iput.TextInput {border:1px solid #000;}
.productLookUp{width:200px;}
textarea.ticketDescription {height:200px;}
input.myURLInput {border-right:none;padding-right:0px;}
input.myURLDomainDisplay {border-left:none;background:#fff;width:auto;padding-left:0px;}
/*************
Widgets
*************/
.WidgetContainer {margin-bottom:5px;}
.WidgetContainer .loadingWrap {display:block;text-align:center;padding:10px;}
.Widget {padding:0px 1px 1px 1px;overflow:hidden;}
.WidgetTitle {height:45px;color:#fff;overflow:hidden;background-position:0 -505px;}	
.WidgetTitle .Txt, .SavedReports .WidgetTitle span {padding-left:20px;line-height:45px;display:block;background-position:right -549px;}
.WidgetUtility, .WidgetBody, .widgetDrillLinks {margin:0 10px 2px 10px;}
.WidgetUtility select {width:150px;}

.WidgetTitle span.WTright  {background-position:right -559px;display:block;float:left;padding:0;text-indent:20px;}
.WidgetControls {margin-right:20px;display:none;}
.WidgetWrap.Performance .listNav span.FL, .WidgetWrap.Performance .listNav span.FR {width:50%;}

#siteWidgets li label {float:left;font-weight:bold;}
#siteWidgets li div {float:right;}
#siteWidgets li br {display:block;clear:both;}
#siteWidgets li {border-bottom:1px dotted #c0c0c0;padding:3px;}

.welcomeFlag {background-color:#E0E0E0;background-repeat:no-repeat;margin-bottom:15px;}
.welcomeFlag .inlineNav li {width:49%;}
.welcomeFlag .inlineNav {margin:0 auto;width:90%;padding:20px 0 15px 0;}
.WidgetWrap.Resources .WidgetBody {text-align:center;margin-top:10px;}
.ResourcePreview {margin:0 auto;width:168px;text-align:left;}
.ResourcePreview .ImgWrapper, .ResourcePreview .scrollable {float:left;width:126px;height:126px;overflow:hidden;border:1px solid #88806B;}
#documentScroller {width:126px;}
.ResourcePreviewInfo #documentScroller {width:138px;}
.ResourcePreview .ImgWrapper .items {width:1500em;}
.ResourcePreview .ImgWrapper .items div {float:left;}
.ResourcePreview a.IconLink {margin-top:50px;}	
.ResourcePreview span {display:block;}
.WidgetWrap.Resources .Details {clear:both;padding:0 20px 0 20px;}

.ResourcePreviewInfo .ScrollerItemContainer {position:relative;}
.ResourcePreviewInfo {margin:0 auto;width:225px;text-align:left;}
.ResourcePreviewInfo .ImgWrapper {float:left;width:135px;height:170px;overflow:hidden;}
.ResourcePreviewInfo .ImgWrapper .items {width:1500em;}
.ResourcePreviewInfo .ImgWrapper .items div {float:left; width:136px;}
.ResourcePreviewInfo .UI-icon {margin-top:50px;}	
.ResourcePreviewInfo span, .ResourcePreviewInfo a {display:block;}
.ResourcePreviewInfo .scrollable img {border:none;border-radius:0;-moz-border-radius:0;-webkit-border-radiu:0;background:transparent;margin:0;width:auto;height:auto;}
.ResourcePreviewInfo .resourceInfoText {display:block;bottom:0;background:#fff;opacity:.9;-moz-opacity:.9;background:#656565;color:#fff;height:70px;text-align:center;}
.ResourcePreviewInfo .resourceInfoText a {color:#EAEFE0;padding:2px;}
.ResourcePreviewInfo .resourceInfoText a.downloadNow {bottom:0;}
.ResourcePreviewInfo .resourceInfoText span.ResourceName {display:block;width:130px;word-wrap:break-word;padding:2px;}
.ResourcePreviewInfo .scrollable .thumbWrapper {width:100%;height:100px;overflow:hidden;border-bottom:1px solid #333;}
.WidgetContainer .Account #autoshipOverview div.autoship  {margin:0;float:none;}
.WidgetContainer .Performance ul.listNav li {padding:5px;}

.ordersDrillLinks .UI-icon-container {line-height:24px;}
body.IE7 .Performance .WidgetUtility .next {margin:-27px 3px 0 0;}

.WidgetContainer{display:inline-block;width:100%;}

/**************
Campaigns Scroller
**************/
#emailsContainer .EditContainer {overflow:hidden;width:400px;}
#emailsContainer .EditContainer .usage {}
.CampaignEmailSlider {border-top:none;margin-bottom:5px;}


/************
News Page Layout
*************/
#News .news {padding:10px;}
#News .news .newsInfo {width:70%;border-bottom:1px dotted #ccc;}
#News .news .newsInfo a {display:block;}
#News .news  span {display:block;}
#News .news .newsInfo .title {font-size:14px;padding:5px 5px 2px 5px;font-weight:bold;}
#News .news .newsInfo .caption {color:#000;padding:0px 5px 10px 5px;}
#News .news .newsDate {margin-right:5px;text-align:center;}


/**********
Newsletter
**********/
.newsLetterStats {border-top:none;}
.newsLetterCountDown {margin-bottom:10px;font-size:16px;}
.contentOption {width:140px;}
.personalizedContent {height:150px;}
.newsletterImgWrap {display:inline-block;width:100px;height:100px;overflow:hidden;margin:5px 0 5px 0;}
.newsletterImgWrap img {width:100px;max-width:120px;}

/***********
Evite Stats
***********/
#EviteStats {width:400px;}
#resendInviteInput {width:285px;padding:7px;}
.partyStatsList .onlineOrdersBreakdown span {display:inline-block;}
.partyStatsList .custName {font-weight:bold;width:150px;}
.partyStatsList .custOrderSum {width:75px;}


/*******************
Docked Info Card (Media Bundle, Tree View, Graphical Viewer)
********************/
.infoCardWindow {position:fixed;bottom:0;right:0;border-bottom:none;opacity:.8;-moz-opacity:0.80;}


/*******************
MediaBundle Creation
********************/
#mediaBundleContainer {width:400px;}


/***********************
Downline Tree
************************/
.TreeNodeDetails {width:500px;}
.TreeNodeDetails .GridUtility {margin-bottom:10px;}
.FlatTree {margin:0 10px 10px 10px;padding:10px 10px 0 10px;}
.FlatTree #treeContainer {background:#fff;}
.defaultProfile{font-weight:bold;}
#treeViewNodeDetails li {padding:5px;}
#treeViewNodeDetails li label {float:left; width:220px;}
#treeViewNodeDetails li div {float:left;display:block;word-wrap: break-word;width:250px;overflow:hidden;}

.available { color:Green }
.unavailable { color:Red }
.errorMessageBubble {margin-left:13px; margin-top:2px;}
.ContactInfoColumn { width:400px }
.emailRowUnread { font-weight:bold }
.emailToFullContainer {background:#FFFFFF;border: 1px soild #CBCBCB;padding:1px;}
.emailToContainer {float:left;margin-bottom:5px;}
.emailEntry {float:left;background:#F3F7FD;border: 1px #BBD8FB solid;padding:3px;margin-right:5px;}
.emailEntry span { display: inline-block; margin-left: 5px; margin-right: 5px; padding-top: 2px; vertical-align: top;}
.emailEntry img {margin-right:5px;vertical-align:middle;cursor:pointer;}
.emailToTextBox {float:left;}

.downlineColorKeys .TabColorKey li {height:15px;line-height:15px;margin-bottom:5px;padding-left:20px;overflow:hidden;}
.downlineColorKeys .accountList li {background:url(../Images/Encore/downlineKey_acctType.png) no-repeat 0 0;}
.downlineColorKeys .qualificationList li {background:url(../Images/Encore/downlineKey_acctAlerts.png) no-repeat 0 0;}
.downlineColorKeys .qualificationList .qual1 {background-position:0 0;}
.downlineColorKeys .qualificationList .qual2 {background-position:0 -34px;}
.downlineColorKeys .qualificationList .qual3 {background-position:0 -67px;}
.downlineColorKeys .accountList .acct1 {background-position:0 0;}
.downlineColorKeys .accountList .acct2 {background-position:0 -34px;}
.downlineColorKeys .accountList .acct3 {background-position:0 -67px;}
.downlineColorKeys .accountList .acct4 {background-position:0 -101px;}


/*******************
Bundle Pack Creation
*******************/
#BundlePackItems td {padding:0 20px 20px 0;}
#BundlePackItems h2 {font-size:14px;line-height:26px;margin:0 0 4px;padding:0 0 4px;}
#BundlePackItems h2.UI-Warning span, #BundlePackItems h2.UI-Complete span {height:26px;padding-left:36px;display:inline-block;}
#BundlePackItems .removeProduct span a {margin:0 0 -6px 0;}
#BundlePackItems .removeProduct span {padding-bottom:8px;margin-bottom:5px;}

.BundleOption {height:34px;line-height:32px;}
.BundleOption .icon-bundle-option {width:134px;height:34px;text-indent:11px;}
.BundleOption .optionText {line-height:34px;font-size:12px;}

.bundlePackItemList {padding:10px 0 0;}

/*******************
Customer Cart
*******************/
.CustomerCart .DataGrid {table-layout:fixed;margin-bottom:0;}
.CustomerCart .DataGrid .first-child {width:20px !important;}
.customerCartHeader * {zoom:1;}
.customerCartHeader {position:relative;}

/***************
My Account Area
***************/
.acctSnapShot .infoList li {padding:5px 0 5px 0;}
.acctSnapShot .infoList li ul li {border:none;}
.acctSnapShot .infoList label.FL {width:20%;}
.acctSnapShot .infoList .data {width:70%;word-wrap:break-word;overflow:hidden;}
.acctSnapShot .infoList li ul li .dropDown li a {border-bottom:1px solid #ccc;}
.acctSnapShot .infoList li ul li .dropDown li {padding:2px;margin:0;}

.disbursementOptions label {cursor:pointer;padding:11px 10px 11px 5px;line-height:34px;}
.disbursementOptions li {margin:10px 5px 10px 0;}
.disbursementContent h3 {margin: 0 3px;}
.disbursementContent #txtPropayAccount {width:220px;}

/**************
Address Verification
**************/
#UnverifiedAddress .suggestedAddressContainer:hover {cursor:pointer;}
#UnverifiedAddress .suggestedAddressList {height:335px;overflow:auto;}
#UnverifiedAddress .icon-label {display:inline-block;}
#UnverifiedAddress .FormContainer .FLabel {float:left;width:9.2em;}

/**************
Performance Tab
**************/
.PerfKPI.advancedTitleProgress {width:100%;}


/*************
Tooltip plugin
*************/
.has-tooltip .tooltip {  position: absolute;  display: none;}
.has-tooltip:hover .tooltip {   display: block; }