table {display:table;border-collapse:separate;border-spacing:1px;width:100%;border:none;}
td {vertical-align:top;}

.DataGrid {margin-bottom:20px;}
.DataGrid th, .Pagination {background:#454545;color:#fff;}
.DataGrid td, .DataGrid th {padding:3px;}

.DataGrid th a {color:#fff;}

.Alt {background:#EDEFE0;}

.IconCol {width:24px;text-align:center;}

.FauxTable {display:table;width:100%;margin-bottom:20px;}
.FauxTable .FRow {display:table-row;}
.FauxTable .FRow label, .FauxTable .FRow p {display:table-cell;padding:2px 0px 2px 0px;vertical-align:top;text-align:left;}
.FauxTable .FRow label {width:120px;font-weight:bold;}