/***************************
Color Scheming & Branding
***************************/
body  {font:normal .7em/1.25em "Lucida Sans Unicode", "Lucida Grande", sans-serif;background:url(../Images/Encore/siteBG2.png) repeat-x top; }

#LogoContain {text-align:center;padding:20px 0 20px 0;max-height:70px;overflow:hidden;} /*** configure logo position, surrounding space, etc ****/

a {color:#0065A4;}
a:hover {  }
a:visited {  }
a.UI-linkAlt, .UI-linkAlt a  {color:#333;}
a.UI-linkAlt:hover, .UI-linkAlt a:hover  {color:#0065A4;}
a.UI-linkAlt:visited, .UI-linkAlt a:visited {  }
.DataGrid th a {color:#333;}

.listNav a:hover, .listNav a.current, #News .news .newsInfo a:hover {background-color:#F5FFEF;}
.listNav a.UI-icon-container:hover {background-color:transparent;}
.userInfo .dropDown a {color:#fff;display:block;padding:2px 10px 2px 10px;}
.userInfo .dropDown a:hover {background-color:#F5FFEF;color:#333;}

.UI-siteNav a, .UI-Alert a {color:#fff;}

.UI-mainBg {background-color:#454545;color:#fff;}
.UI-mainTxt {color:#454545;}
.UI-mainBg a {color:#EFEFEF;}
.UI-mainBg a:hover {color:#fff;}
.UI-mainBg .pipe {background-color:#000;}
.UI-mainBg .UI-icon-container:hover, .UI-mainBg .current {}
.UI-secBg {background-color:#0065A4;color:#fff;}
.UI-secTxt {color:#0065A4}
.UI-secBg a {color:#fff;}
.UI-lightBg, .DataGrid tr.hover {background-color:#EAEFE0;color:#333;}
.UI-lightTxt {color:#333;}
.UI-whiteBg {background-color:#fff;color:#000;}
.Alt {background-color:#efefef;}

.UI-Alert {background: url("../Images/Encore/alertsquare1.png") no-repeat scroll left top #FF0831;font-size: 14px;font-weight: bold;height: 41px;line-height: 41px;margin:0 0 5px 0;text-transform: uppercase;text-align:center;color:#fff;-moz-border-radius:5px;border-radius:5px;}
.UI-Success {}
.BalanceCovered {background: no-repeat scroll left top Green !important;}

.userGreeting {background-color:#68AE3A;color:#fff;}

.UI-header {background-color:#d6d6d6;color:#333;text-shadow:0 1px 0 #fff;background-position:0 -165px;background-repeat:repeat-x;line-height:24px;font-size:1em;}
tr.UI-header  {height:auto;line-height:16px;}
.cell-hovered {background:#EFF9FF;}

.listNav li, .brdrBottom {border-bottom:1px dotted #ccc;}
#emailsContainer .EditContainer .item:hover .titlecontent {background-color:#F5FFEF;}
.qq-upload-button {background-color:#ECFFDF;padding:10px;font-size:14px;font-weight:bold;margin:10px 0 10px 0;cursor:pointer;display:block}
.qq-upload-button-hover {background-color:#6BB13E;color:#fff;cursor:pointer;}

.PageTitle h1 {color:#454545;font:normal 1.5em Georgia,"Times New Roman",serif;}

.Block {background-color:#fff;}
.NotActive {background-color:#efefef;}
.active {border-color:#6DB33F !important;}
.jqmWindow  h1 {text-align:left;color:#fff;padding:3px;}

.IE7 .DataGrid th, .IE7 .DataGrid td {border-right:solid 1px #fff;}

.requiredMarker {color:red;}

/************************
Image Sprites
************************/
.UI-bg {background-image: url(../Images/Encore/UI-backgrounds.png);}
.UI-icon {background-image: url(../Images/Encore/UI-icons-general.png);display:inline-block;overflow:hidden;background-repeat:no-repeat;}
.GridUtility .UI-icon {background-image: url(../Images/Encore/UI-icons-utilityBar.png);display:inline-block;overflow:hidden;background-repeat:no-repeat;}
.actionItems .UI-icon {background-image: url(../Images/Encore/UI-icons-actionBar.png);display:inline-block;overflow:hidden;background-repeat:no-repeat;}
.UI-btn, .Button {background-image: url(../Images/Encore/UI-buttons.png);}
.UI-siteNav, ul.mainNav li a {background-image: url(../Images/Encore/UI-siteNav.png);}
.UI-bundle {background:url(../Images/Encore/bundlecarrot.png) no-repeat;}


/************************
Site Navigation
************************/
.UI-siteNav {height:60px;background-position:0 0;background-repeat:no-repeat;overflow:hidden;}
.UI-siteNav .inlineNav {}
.UI-siteNav .inner {background-position:right -61px;overflow:hidden;}

ul.mainNav {height:40px;margin:10px 0 0 11px;}
ul.mainNav li {margin-right:1px;}
ul.mainNav li a {overflow:hidden;display:block;text-decoration:none;height:40px;background-position:0 -305px;text-shadow:-1px -1px 0 #5F5F5F;}
ul.mainNav li a span {display:block;padding:0;line-height:40px;padding:0 5px 0 5px;}

ul.mainNav li.current a, ul.mainNav li a:hover {background-position:-200px -217px;text-shadow:0 1px 0 #000;}
ul.mainNav li.current a span {}

ul.mainNav li.current.first a, ul.mainNav li.first a:hover {background-position:0 -217px;}
ul.mainNav li.first a span {padding:0;}
ul.mainNav li.onNext a {}
ul.mainNav li.last a span {}
ul.mainNav li.current.last a span {}

/** some fancy customization stuff for the ENCORE skin **/
#SiteNav ul.mainNav li.first a {text-align:center;padding:0 5px 0 5px;}
#SiteNav ul.mainNav li.first span {background:url(../Images/Encore/UI-icons-utilityBar.png);width:36px;height:36px; background-position:-246px -876px;text-indent:-300px;}
#SiteNav ul.mainNav li.first a:hover span, #SiteNav ul.mainNav li.current span { background-position:-246px -750px;}



.globalSearch .UI-icon {width:37px;height:22px;margin:19px 10px 0 0;}
.globalSearch .iconText {display:none;padding:0;}

/*******************************
Containers & Columns Decoration
********************************/
#PageContain {background:transparent url(../Images/Encore/containTop3.png) no-repeat top center;}
#Container {background-color:#fff;border:none;-moz-border-radius:5px;border-radius:5px;padding:5px;}
.DashCol1, #SecondaryRail {}



/************************
Logged In User Pulldown
************************/
.userInfo {padding:0;width:auto;height:24px;text-align:left;font-size:11px;cursor:pointer;background-position:0 -122px;margin:18px 20px 0 0;}
.userInfo .name {float:left;margin:0;line-height:22px;padding:0 26px 0 15px;background-position:right -122px;color:#fff;text-shadow:0 1px 0 #000;}
.userInfo .UserID {padding-right:3px;}
.userInfo li {list-style-type:none;float:none;clear:both;margin:1px;}
.userInfo .dropDown {clear:both;margin:23px 0 0 0;z-index:88788;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-color:#333;padding:5px 0 5px 0;*margin-top:-37px}
body.IE7 .userInfo .dropDown {margin-top:-37px;}


/****************************
Breaking News Ticker & Dashboard Alerts
*****************************/
#BreakingNews {background:url(../Images/Encore/breakingnewsbg.png) repeat-x;height:68px;margin-bottom:15px;}
#BreakingNews h1 {float:left;color:#fff;font-weight:bold;font-size:1.2em;text-transform:uppercase;margin-bottom:10px;height:68px;overflow:hidden;background:url(../Images/Encore/breakingnewsleft.png) no-repeat 0px -76px;}
#BreakingNews h1 span {background:url(../Images/Encore/breakingnewscarrot.png) no-repeat right -76px;display:block;padding:0px 50px 0px 20px;line-height:60px;overflow:hidden;text-shadow:0 -1px 0 #467F1F;}
#BreakingNews .News {background:url(../Images/Encore/breakingnewsright.png) no-repeat top right;}
#SnippetWrapper {float:left;width:50%;overflow:hidden;height:30px;margin-top:18px;}
#SnippetWrapper .Snippet {width:100%;margin-bottom:50px;font-size:1.2em;}



/****************************
Newsletter Management & Stats
*****************************/
.NewsletterStatisticsNav {margin:20px 0px 0px 0px;padding:0px;height:60px;}
.NewsletterStatisticsNav ul {display:block;width:100%;margin:0px;padding:0px;min-width:600px;}
.NewsletterStatisticsNav li {display:block;float:left;width:95px;background:#fff;font-weight:normal;}
.NewsletterStatisticsNav li, .NewsletterStatisticsNav li a, .NewsletterStatisticsNav li.current a {line-height:normal;}
.NewsletterStatisticsNav a {display:block;padding:2px;height:60px;}
.NewsletterStatisticsNav .current a:hover {cursor:default;}
.NewsletterStatisticsNav .current {font-weight:bold;}

.NewsletterStatisticsNav span {display:block;}
.NewsletterStatisticsNav .label {width:50px;}
.NewsletterStatisticsNav .statValue {font:normal 18px Georgia, "Times New Roman",serif;}
.NewsletterStatisticsNav a.NewsletterStatisticsTabNotClickable,
.NewsletterStatisticsNav li.current a.NewsletterStatisticsTabNotClickable  {background-color:#efefef;color:#ccc;cursor:text;}
.NewsletterStatisticsNav a.NewsletterStatisticsTabNotClickable:hover {}

.personalPhoto {background:url(../Images/Encore/newsletterImgBlank.png) no-repeat;}
.newsLetterPreview {background:url(../Images/Encore/newsletterPreview.png) no-repeat;}

/************
News Page Article Listing Style
*************/
#News .news .newsDate {background:url(../Images/Encore/calpage.png) no-repeat;width:62px;height:72px;overflow:hidden;}
#News .news .newsDate .newsMonth {padding:3px;}
#News .news .newsDate .newsDay {font:bold 18px Georgia,"Times New Roman",serif;color:#62A436;}
#News .news .newsDate .newsYear {font-size:10px;color:#333;}

/************
Party Entry
************/
.paymentTypeList label {cursor:pointer;}
.partyAppliedHeader {border-right:1px solid #c0c0c0;}
.custAppliedHeader {border-left:1px solid #efefef;}
.partyPaymentsColumn {border-right:1px solid #c0c0c0;}
.customerCartHeader {border-bottom:1px solid #0065A4;line-height:22px;font-size:1.1em;height:24px;}
.customerCartHeader .guestName span {display:block;float:left;padding-right:5px;font-weight:bold;color:#333;}
.collapsedCart {background:#DFDFDF;border:none;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin-bottom:1px;height:24px;}
.collapsedCart .guestName span, .collapsedCart a {color:#7F7F7F;}
/************
Fixed Info Card (media bundle, node viewer, etc)
************/
.infoCardWindow {opacity:.90;-khtml-opacity:.9;-moz-opacity:.90;}

/***********
Widgets
***********/
.Resources .ImgWrapper {background-color:#fff;}


/***********
Pagination
***********/
.Pagination {text-align:center;margin-left:1px;padding:3px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;}
.Pagination .Bar {margin:0 auto;text-align:center;width:200px;float:left;background:url(../Images/Encore/UI-buttons.png) repeat-x 0px -170px;height:28px;line-height:28px;color:#454545;}
.Pagination a {display:block;width:33px;height:28px;overflow:hidden;background:url(../Images/Encore/UI-buttons.png) no-repeat 0px -198px;}
.Pagination a span {display:block;margin-top:-300px;}

/************************
Performance Tab KPIs
***********************/
.PerfKPIHold {width:700px;overflow:hidden;margin-top:20px;}
.PerfKPI {width:226px;margin-right:10px;}
.PerfKPIHold .last {margin-right:0;}
.PerfKPIHold .kpiVolume .Title {font-size:14px;color:#494242;margin:0;padding:0 0 10px 0;}
.PerfKPIHold .kpiVolume .Indicator {height:55px;overflow:hidden;display:inline-block;color:#fff;margin:0 0 20px 0;width:50%;}
.PerfKPIHold .kpiVolume .Indicator .Number {font:30px Georgia, "Times New Roman", Times, serif;line-height:52px;padding:0 30px 0 30px;color:#fff;display:block;}

.PerfKPIHold .kpiVolume .Indicator.Alert .Number {padding-left:40px;}
.PerfKPIHold .kpiVolume .Indicator.Good {background:#50B948;}
.PerfKPIHold .kpiVolume .Indicator.Warn {background:#EFDD1D;}
.PerfKPIHold .kpiVolume .Indicator.Alert {background:#A80F0F;}
.PerfKPIHold .kpiVolume .body, .PerfKPIHold .kpiNameValue .body, .kpiVolumeCompare .body  {margin:0 5px 0 5px;height:210px;overflow:auto;}
.PSLIV a.Button {position:absolute;margin:-32px 0 0 33px;}
.PSLIV .Inner {margin:0 5px 0 5px;border-top:none;}
.PSLIV  #visualization {margin:0 0 0 25px}
.PSLIV .Lawyer {padding:0 5px 0 5px;}
/**** Title Progress *****/
.Thermometer {margin-right:15px;height:162px;border-top:none;margin-left:3px;}
#Gauge {height:162px;width:217px;overflow:hidden;background-image:url(../Images/Encore/gaugepaid.png);background-repeat:no-repeat;}
/*#Gauge .GoalProgress {background:#fff;height:100%;}*/
#Gauge .GoalColor {background:url(../Images/Encore/gauge-progressColor.png);height:162px;}
#Gauge .GoalReached {background:#269F00;}
#Gauge img {position:absolute;z-index:21212;}
.DonorGoalDisplays {color:#125379;margin:40px 0px 0px 0px;width:130px;font-weight:bold;}
.PerfKPI .WidgetTitle {width:226px;}
.Thermometer .ProgressIndicator, .Thermometer .ProgressIndicator:hover {background:url(../Images/Encore/gauge-progressIndicator.png) no-repeat top right;height:23px;display:block;overflow:hidden;text-align:center;position:absolute;margin-left:45px;z-index:87878;width:130px;color:#fff;font-size:10px;}
.Thermometer .ProgressIndicator span {line-height:19px;padding:0;}
.OrgTitles {border-top:none;margin:0 4px 0 3px;font-size:11px;padding:10px 30px 10px 30px;*padding:6px 30px 7px 30px;}
body.IE7 .OrgTitles {padding:6px 30px 7px 30px;}

/* Seg = Segment of the graph. Background position is for an image that represents the goal */
/* LV = actual current progress */
.Seg1 {background-position:0 146px;} .LV1 .GoalProgress {height:86%}
.Seg2 {background-position:0 116px;} .LV2 .GoalProgress {height:72%}
.Seg3 {background-position:0 93px;} .LV3 .GoalProgress {height:57%}
.Seg4 {background-position:0 70px;} .LV4 .GoalProgress {height:43%}
.Seg5 {background-position:0 47px;} .LV5 .GoalProgress {height:29%}
.Seg6 {background-position:0 24px;} .LV6 .GoalProgress {height:0}
.Seg7 {background-position:0 1px;} .LV7 .GoalProgress {height:30%}
/*
.Seg8 {background-position:0 31px;} .LV8 .GoalProgress {height:20%}
.Seg9 {background-position:0 15px;} .LV9 .GoalProgress {height:10%}
.Seg10 {background-position:0 0;} .LV10 .GoalProgress {height:0}
*/
/* Position your indicator graphic based on the level/graphical style */
.LV1 .ProgressIndicator {margin-top:139px;}
.LV2 .ProgressIndicator {margin-top:116px;}
.LV3 .ProgressIndicator {margin-top:93px;}
.LV4 .ProgressIndicator {margin-top:70px;}
.LV5 .ProgressIndicator {margin-top:47px;}
.LV6 .ProgressIndicator {margin-top:24px;}
.LV7 .ProgressIndicator {margin-top:1px;}
/*
.LV8 .ProgressIndicator {margin-top:30px;}
.LV9 .ProgressIndicator {margin-top:14px;}
.LV10 .ProgressIndicator {margin-top:0;}
*/

.kpiNameValue .WidgetUtility, .kpiNameValue .WidgetBody {margin:2px;}
.kpiNameValue li {padding:5px;border-bottom:1px dotted #c0c0c0;}
.kpiNameValue li a {display:inline-block;padding:0;}
.kpiNameValue li span.bold {width:70px;}
.kpiNameValue li span.FR {width:100px;}

#FooterPane .FooterInner {padding:3em;color:#AFAFAF;font-size:.8em;}

/*******************
Modal Window
*******************/
.jqmWindow {}
.jqmWindow.LModal {}
.jqmWindow .mContent {}

/* Bundle Modal */
.BundleOption .bundleModal {line-height:1.5em;}
.bundleModal {position:fixed !important;min-width:250px;max-width:450px;}
.bundleModal .bundleOption a {font-size:12px;margin:4px 0;}

/************
Grd Filters
************/
.GridFilters label {font-weight:bold;}

/*******************
Bundle Pack Creation
*******************/
#BundlePackItems h2 {border-bottom:1px dotted #ccc;}
#BundlePackItems h2.UI-Warning span, #BundlePackItems h2.UI-Complete span {background-position:0 0;color:#c23724;}
#BundlePackItems h2.UI-Complete span {background-position:0 -46px;color:#6db33f;}
#BundlePackItems .removeProduct span {border-bottom:solid 1px #ddd;}

.BundleOption {background-color:#b3d88c;color:#000;}
.BundleOption .optionText a {color:#000;text-decoration:underline;}
.BundleOption .optionText a:hover {text-decoration:none;}
.BundleOption .icon-bundle-option {background-position:0 bottom;color:White;text-shadow:0 -1px 0 #000;text-transform:uppercase;}

/**************
Enroll Autoship
**************/
#ReturnSuccessMessage {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#CAFF70;border:1px solid #385E0F;display:block;font-size:14px;font-weight:bold;margin-bottom:10px;padding:7px;}
#ReturnSuccessMessage #SuccessMessage {color:#385E0F;display:block;}

/**************
Promotions
**************/
.promoNotification {background:#666;color:#fff;}