<?xml version="1.0"?>
<!--BelcorpUSA-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACore;Persist Security Info=True;Integrated Security=SSPI;Application Name=AutoShip;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSAMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=AutoShip;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=AutoShip;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<netsteps.identify environment="staging" xdt:Transform="SetAttributes" />
	<appSettings>
		<add key="EnvironmentLevelDomain" value=".staging.encore.belcorp.us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>
