<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.53.0" newVersion="2.4.53.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>