<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Data.Common" version="1.11.131" targetFramework="net40" />
  <package id="EntityFramework" version="4.3.1" targetFramework="net40" />
  <package id="Extensibility.Core" version="1.0.16115" targetFramework="net40" />
  <package id="FubuCore" version="0.9.9.149" targetFramework="net40" />
  <package id="FubuTestingSupport" version="0.9.9.149" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="NetSteps.Communication.Common" version="3.0.14870" targetFramework="net40" />
  <package id="NetSteps.Core.Cache_r1_0" version="1.4.140" targetFramework="net40" />
  <package id="NetSteps.Encore.Core_r2_3" version="2.4.133" targetFramework="net40" />
  <package id="NetSteps.Foundation.Common" version="1.2.15000" targetFramework="net40" />
  <package id="NetSteps.Foundation.Entity" version="1.0.14866" targetFramework="net40" />
  <package id="NetSteps.Locale.Common" version="1.0.15431" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="NUnit" version="2.6.1" targetFramework="net40" />
  <package id="OrderAdjustments.Common" version="2.6.45" targetFramework="net40" />
  <package id="Promotions.Common" version="2.10.343" targetFramework="net40" />
  <package id="Promotions.Plugins.Base" version="2.10.343" targetFramework="net40" />
  <package id="Promotions.Plugins.Common" version="2.10.343" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
  <package id="structuremap.automocking" version="2.6.4.1" targetFramework="net40" />
  <package id="Testing.Core" version="1.0.11314" targetFramework="net40" />
</packages>