<?xml version="1.0" encoding="UTF-8"?>
<!--Framework-->
<configuration>
  <configSections>
		<section name="netsteps.log" type="NetSteps.Encore.Core.Log.LogConfigurationSection, NetSteps.Encore.Core"/>
		<section name="netsteps.identify" type="NetSteps.Encore.Core.Process.ProcessIdentifyConfigurationSection, NetSteps.Encore.Core"/>
		<section name="netsteps.wireup" type="NetSteps.Encore.Core.Wireup.WireupConfigurationSection, NetSteps.Encore.Core"/>
		<section name="netsteps.cache" type="NetSteps.Core.Cache.Config.CacheConfigSection,NetSteps.Core.Cache" />
	</configSections>

	<netsteps.identify tenant="Encore" environment="dev" component="Mobile" />

	<netsteps.log defaultSourceLevel="Warning" defaultStackTraceThreshold="Warning">
		<namespaces>
			<!-- source levels can be overridden for each namespace; down to the nested class level -->
			<add namespace="NetSteps.Core.Cache" specialized="true" sourceLevel="Warning" />
		</namespaces>
	</netsteps.log>

	<netsteps.wireup>
		<assemblies>
			<add assembly="NetSteps.Data.Entities"/>
		</assemblies>
	</netsteps.wireup>
	<netsteps.cache>
		<namedCaches>
			<!-- Each cache is named. You can associate options with named caches as follows:
			
			cacheDepth         - Indicates the depth of the cache. Caches will evict
													 the least recently used items if the cache count 
													 exceeds this depth.
			cacheItemLifespan  - Indicates the length of time (formatted as a TimeSpan) that
													 an item is considered fresh; after which, the item is considered
													 stale/expired and will be automatically evicted from the cache.
			-->
			<add name="PostalCode" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
			<add name="GoogleGeoCode" cacheDepth="1000" cacheItemLifespan="0.04:00:00" />
			<add name="account-slim" cacheDepth="1000" cacheItemLifespan="0.00:05:00" />
			<add name="site-type-id" cacheDepth="1000" cacheItemLifespan="0.00:20:00" />
			<add name="tax-cache" cacheDepth="1000" cacheItemLifespan="0.00:05:00" />
			<add name="SiteUrlExistsCache" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
			<add name="account-email" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
			<add name="user-slim" cacheDepth="1000" cacheItemLifespan="0.00:20:00" />
			<add name="Order Search" cacheDepth="500" cacheItemLifespan="0.00:01:00" />
			<add name="qp-CampaignActionTokenValues" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
			<add name="qp-domainEventCampaigns" cacheDepth="1000" cacheItemLifespan="0.00:10:00" />
		</namedCaches>
	</netsteps.cache>
	<connectionStrings>
    <!--Dev-->
    <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=EncoreDemoCore;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=nsBackOffice;Max Pool Size=200" />
    <add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=EncoreDemoMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsBackOffice;MultipleActiveResultSets=True" />
    <add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=EncoreDemoCommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsBackOffice;MultipleActiveResultSets=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="NetSteps.WebService.Mobile.MobileService" behaviorConfiguration="IMobileService">
        <endpoint address="" binding="webHttpBinding" contract="NetSteps.WebService.Mobile.IMobileService" behaviorConfiguration="web">

        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IMobileService">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true" />-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Depth, User-Agent, X-File-Size, X-Requested-With, If-Modified-Since, X-File-Name, Cache-Control" />
        <add name="Access-Control-Allow-Methods" value="OPTIONS, GET, POST" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <appSettings>
    <add key="nsBackofficeSiteID" value="420" />
    <add key="FileUploadAbsolutePath" value="\\netsteps.local\fileupload\qa\EncoreDemo" />
    <add key="FileUploadWebPath" value="http://test.netsteps.com/FileUploads" />
  </appSettings>

  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="All" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\mobileservice\logs.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
