<p>
    @Html.Term("Enrollment_Sponsor_ContinueWarning", "Note: You will not be able to change your sponsor after the enrollment process so you will want to be sure that you have selected your intended sponsor at this time.")
</p>
<span class="clr"></span>
<!--
<a href="@Url.Action("Browse")" class="FL Button MinorButton btnSwitchSponsor">
    <span>@Html.Term("Enrollment_Sponsor_BrowseLabel", "Search for a Different Sponsor")</span>
</a>-->