@{
    Layout = "~/Areas/Enroll/Views/Shared/_EnrollLayout.cshtml";
    ViewBag.Title = Html.Term("Error");
}
<h2>
	@Html.Term("AnErrorHasOccurred", "An error has occurred")</h2>
<p>
	@Html.Term("ErrorText", "We apologize, but we are unable to handle your request at this time. Please try your request again later.")</p>
<p>
	<a href="@Url.Resolve("~/Home")">@Html.Term("ReturnToHomePage", "Return to Home page")</a></p>
