@model nsDistributor.Models.Shared.MiniShopModel 
 @{
     var order = Model.OrderItems;
     }
@foreach (var item in order)
{
    <table>
   <tr>
   <td>@item.SKU
   </td>
   <td>
   @item.ProductName
   </td>
   </tr> 
   </table>  
}
        