<?xml version="1.0"?>
<!--BelcorpUSA-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACore;Persist Security Info=True;Integrated Security=SSPI;Application Name=AutoShip;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSAMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=AutoShip;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=AutoShip;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="KnownFactorsDataWarehouse" providerName="System.Data.SqlClient" connectionString="Data Source=belcorpdwstageinternal.knownfactors.com\stage;Initial Catalog=Belcorp_DW;Persist Security Info=True;Application Name=BelcorpUSADWS;MultipleActiveResultSets=True;User Id=belcorpsvc;Password=k6ZKTG4414M9;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<netsteps.identify environment="staging" xdt:Transform="SetAttributes" />
	<appSettings>
		<add key="CorporateMailAccountID" value="6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="FileUploadAbsolutePath" value="\\BUS-IF-FIL01-E\fileuploads\Staging\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="FileUploadAbsoluteWebPath" value="http://workstation.belcorpusa.com.staging.encore.belcorp.us/FileUploads/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="IsPaymentLiveMode" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="IsPaymentTestTransaction" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EnvironmentLevelDomain" value=".staging.encore.belcorp.us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="DistributorWorkstationUrl" value="http://workstation.belcorpusa.com.staging.encore.belcorp.us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="TestEmailAccount" value="casallas902212@hotmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EmailEventTrackingUri" value="http://links.belcorpusa.com.staging.encore.belcorp.us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="UploadFolder" value="\\BUS-IF-FIL01-E\fileuploads\Staging\Attachments\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>
