<?xml version="1.0"?>
<!--BelcorpUSA-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<netsteps.identify environment="testing" xdt:Transform="SetAttributes" />
	<appSettings>
		<add key="FileUploadAbsolutePath" value="\\netsteps.local\fileupload\QA\BelcorpUSA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="FileUploadAbsoluteWebPath" value="http://workstation.belcorpusa.com.belcorpusa.qa.netsteps.us/FileUploads/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="IsPaymentLiveMode" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="IsPaymentTestTransaction" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EnvironmentLevelDomain" value=".belcorpusa.qa.netsteps.us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="DistributorWorkstationUrl" value="https://workstation.belcorpusa.com.belcorpusa.qa.netsteps.us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SmtpServer" value="10.0.4.235" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SmtpPort" value="26" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="UseSmtpAuthentication" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SmtpUserName" value="netstepstest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SmtpPassword" value="dWN0MTBu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="TestEmailAccount" value="belcorpusa@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="HurricaneAccountId" value="1001" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EmailEventTrackingUri" value="http://links.mybelcorpusa.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="UploadFolder" value="\\bus-qa-app01-e.netsteps.local\FileUploads\Attachments" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="CorporateAccountID" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="CorporateMailAccountID" value="6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>
