<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Core" connectionString="Data Source=192.168.2.250;Initial Catalog=EncoreCore;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;Max Pool Size=200;MultipleActiveResultSets=True;Application Name=NetSteps.Foundation.Common.Tests" providerName="System.Data.SqlClient" />
    <add name="NetStepsEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=EncoreCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=NetSteps.Foundation.Common.Tests&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>