<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="netSteps">
			<sectionGroup name="core">
				<sectionGroup name="tests">
					<section name="genericConfigurationElementCollectionTestsTest" type="NetSteps.Configuration.Core.Tests.GenericConfigurationElementCollectionTestsTestConfigurationSection, NetSteps.Configuration.Core.Tests"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<netSteps>
		<core>
			<tests>
				<genericConfigurationElementCollectionTestsTest>
					<collection>
						<add key="fileKey1" value="fileValue1" />
						<add key="fileKey2" value="fileValue2" />
					</collection>
				</genericConfigurationElementCollectionTestsTest>
			</tests>
		</core>
	</netSteps>
</configuration>