<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AddressValidator.Common" version="1.1.5.29860" targetFramework="net40" />
  <package id="Data.Common" version="1.0.15520" targetFramework="net40" />
  <package id="Extensibility.Core" version="1.0.16115" targetFramework="net40" />
  <package id="NetSteps.Core.Cache_r1_0" version="1.0.102.18" targetFramework="net40" />
  <package id="NetSteps.Encore.Core_r2_3" version="2.4.34.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.8" targetFramework="net40" />
</packages>