<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>

		<sectionGroup name="PaymentGateways" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
			<section name="AuthorizeNet" type="NetSteps.Common.Configuration.PaymentGatewaySection, NetSteps.Common"/>
			<!--<section name="Port1" type="NetSteps.Common.Configuration.PaymentGatewayConfiguration"></section>-->
		</sectionGroup>

	</configSections>

	<castle>
		<components>
			<!--<component id="ProductRepository"
								service="NetSteps.Data.Entities.Repositories.IProductRepository, NetSteps.Data.Entities"
								type="NetSteps.Data.Entities.Repositories.FakeProductRepository, NetSteps.Data.Entities">
								<parameters>
										<connectionString>your connection string goes here</connectionString>
								</parameters>
						</component>-->
			<component id="GeoCodeProvider" service="NetSteps.Common.Globalization.IGeoCodeProvider, NetSteps.Common" type="NetSteps.Common.Globalization.GoogleGeoCodeProvider, NetSteps.Common">
			</component>
		</components>
	</castle>

	<appSettings>
		<add key="ISOConfiguration" value="C:\Users\dstafford\Documents\Source\Framework\Websites\nsCore\ISOConfiguration.xml"/>
		<add key="CurrentClient" value="Framework"/>
		<add key="ApplicationSourceID" value="8"/>
		<add key="LogErrors" value="True"/>

		<add key="Domains" value="netsteps.com"/>
		<add key="OverviewDays" value="30"/>
		<add key="CorporateAccountID" value="2"/>
		<add key="NSCoreSiteID" value="420"/>

		<add key="ImagesWebPath" value="http://localhost:40000/Images"/>
		<!--<add key="ImagesWebPath" value="C:\inetpub\wwwroot\images\"/>-->
	</appSettings>

	<connectionStrings>

		<add name="NetStepsEntitiesLive" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.0.57;Initial Catalog=EncoreCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=ErrorLogViewer;Max Pool Size=200&quot;" providerName="System.Data.EntityClient"/>
		<!--<add name="NetStepsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CJEGBERT;Initial Catalog=EncoreCore;User ID=sa;Password=n3tst3ps;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
		<add name="NetStepsEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=EncoreCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=ErrorLogViewer;Max Pool Size=200&quot;" providerName="System.Data.EntityClient"/>
		<add name="MailEntities" connectionString="metadata=res://*/EntityModels.Mail.MailDB.csdl|res://*/EntityModels.Mail.MailDB.ssdl|res://*/EntityModels.Mail.MailDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=EncoreMail;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;Application Name=ErrorLogViewer;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<add name="CommissionsEntities" connectionString="metadata=res://*/EntityModels.Commissions.CommissionsDB.csdl|res://*/EntityModels.Commissions.CommissionsDB.ssdl|res://*/EntityModels.Commissions.CommissionsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=EncoreCommissions;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;Application Name=ErrorLogViewer;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>

		<add name="MailDB_LOCAL_Framework" connectionString="Data Source=192.168.2.250;Initial Catalog=EncoreMail;User ID=siteuser;Password=q3T0urn3y;Application Name=ErrorLogViewer;" providerName="System.Data.SqlClient"/>

	</connectionStrings>

	<!--<castle>
        <components>
            <component id="ProdsRepository" 
                service="NetSteps.Data.Entities.Repositories.IProductRepository, DomainModel"
                type="NetSteps.Data.Entities.Repositories.ProductRepository, DomainModel"
                lifestyle="Singleton">
                <parameters>
                    <connectionString>your connection string goes here</connectionString>
                </parameters>
            </component>

        </components>
    </castle>-->

	<startup>

		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
