<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="netsteps.wireup" type="NetSteps.Encore.Core.Wireup.WireupConfigurationSection, NetSteps.Encore.Core" />
	</configSections>
	<connectionStrings>
		<add name="NetStepsEntities" connectionString="metadata=res://*/DataEntities.NetStepsDB.csdl|res://*/DataEntities.NetStepsDB.ssdl|res://*/DataEntities.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACore;Persist Security Info=True;Integrated Security=SSPI;Pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="NetStepsCommissionsDBContainer" connectionString="metadata=res://*/DataEntities.Commissions.NetStepsCommissionsDB.csdl|res://*/DataEntities.Commissions.NetStepsCommissionsDB.ssdl|res://*/DataEntities.Commissions.NetStepsCommissionsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BelcorpUSADatabase;initial catalog=BelcorpUSACommissions;Persist Security Info=True;Integrated Security=SSPI;Pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--Local-->
    <!--<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=CSTI-CO-LT003;Initial Catalog=BelcorpBRACore;Persist Security Info=True;Integrated Security=true;Application Name=GMP;MultipleActiveResultSets=True" />
    <add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=CSTI-CO-LT003;Initial Catalog=BelcorpBRAMail;Persist Security Info=True;Integrated Security=true;Application Name=GMP;MultipleActiveResultSets=True" />
    <add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=CSTI-CO-LT003;Initial Catalog=BelcorpBRACommissions;Persist Security Info=True;Integrated Security=true;Application Name=GMP;MultipleActiveResultSets=True" />-->
    
    <!--Servidor-->
    <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=10.12.6.187;Initial Catalog=BelcorpBRACore;Persist Security Info=True;Integrated Security=false;Application Name=GMP;MultipleActiveResultSets=True;uid=usrencorebrasilqas;pwd=Belcorp2014" />
    <add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=10.12.6.187;Initial Catalog=BelcorpBRAMail;Persist Security Info=True;Integrated Security=false;Application Name=GMP;MultipleActiveResultSets=True;uid=usrencorebrasilqas;pwd=Belcorp2014" />
    <add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=10.12.6.187;Initial Catalog=BelcorpBRACommissions;Persist Security Info=True;Integrated Security=false;Application Name=GMP;MultipleActiveResultSets=True;uid=usrencorebrasilqas;pwd=Belcorp2014" />
	</connectionStrings>
	<appSettings>
    
    <add key="SendMailOrderComplete" value="0" />
    
		<!--<add key="dbconn" value="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACore;Persist Security Info=True;Integrated Security=SSPI;Pooling=False" />-->
    <add key="dbconn" value="Data Source=10.12.6.187;Initial Catalog=BelcorpBRACore;Persist Security Info=True;Integrated Security=false;Application Name=GMP;MultipleActiveResultSets=True;uid=usrencorebrasilqas;pwd=Belcorp2014" />
		<add key="ClientUserName" value="belcorpUSA4ds537" />
		<add key="ClientPassword" value="s$!*aXEnA9" />
    
		<add key="modifiedByUserID" value="186" />
		<add key="IsInDebugMode" value="true" />
		<add key="GeneralTimeoutWarning" value="120" />
		<add key="GetOrdersToFulfillTimeoutWarning" value="60" />
		<add key="SendOrderFulfillmentAcknowledgmentTimeoutWarning" value="60" />
		<add key="SendOrderShippingInformationTimeoutWarning" value="60" />
		<add key="NewRelic.AppName" value="BUS.WCF" />
    
    <!--SAP Integration-->
    <!--<add key="FileUploadAbsolutePath" value="\\netsteps.local\fileupload\Staging\BelcorpUSA"/>-->
    <add key="FileUploadAbsolutePath" value="\\10.12.6.183\ftp_qas" />
    <add key="TemplatesXML_Path" value="~\FileUploads\XmlTemplates\" />
    
    <add key="FileUploadPath_B200_Hist" value="\B200\Hist\" />
    <add key="FileUploadPath_B200_Int" value="\B200\Int\" />
    <add key="FileUploadPath_B200_Log" value="\B200\Log\" /> 
    
    <add key="FileUploadPath_B020_Log" value="\B020\Log\" /> 

    <add key="FileUploadPath_B150_Hist" value="\B150\Hist\" />
    <add key="FileUploadPath_B150_Int" value="\B150\Int\" />
    <add key="FileUploadPath_B150_Log" value="\B150\Log\" />
    
    <add key="FileUploadPath_B070_Hist" value="\B070\Hist\" />
    <add key="FileUploadPath_B070_Int" value="\B070\Int\" />
    <add key="FileUploadPath_B070_Log" value="\B070\Log\" />

    <add key="FileUploadPath_E020_Hist" value="\E020\Hist\" />
    <add key="FileUploadPath_E020_Int" value="\E020\Int\" />
    <add key="FileUploadPath_E020_Log" value="\E020\Log\" />

    <add key="FileUploadPath_E030_Hist" value="\E030\Hist\" />
    <add key="FileUploadPath_E030_Int" value="\E030\Int\" />
    <add key="FileUploadPath_E030_Log" value="\E030\Log\" />
    <add key="DecimalSeparator" value="," />
    
    <!--<add key="TemplatesXML_Path" value="~/FileUploads/XmlTemplates/"/>-->
    <!--<add key="TemplatesXML_Path" value=" http://api4.belcorpbra.qas.draftbrasil.com/FileUploads/XmlTemplates/"/> -->
	</appSettings>
	<netsteps.wireup wireupAllRunningAssemblies="false">
		<assemblies>
			<add assembly="NetSteps.Data.Entities" ordinal="0" />
		</assemblies>
	</netsteps.wireup>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<bindings>
			<basicHttpBinding>
				<binding name="IntegrationsBindingConfigurationBasicHttpBinding" maxReceivedMessageSize="2147483647" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="NetSteps.Integrations.Service.IntegrationsService" behaviorConfiguration="Service.Behavior">
				<endpoint contract="NetSteps.Integrations.Service.Interfaces.IIntegrationsService" binding="basicHttpBinding" bindingConfiguration="IntegrationsBindingConfigurationBasicHttpBinding" />
			</service>
			<service name="NetSteps.Integrations.Service.SalesAPI" behaviorConfiguration="Service.Behavior">
				<endpoint contract="NetSteps.Integrations.Service.Interfaces.ISalesAPI" binding="basicHttpBinding" bindingConfiguration="IntegrationsBindingConfigurationBasicHttpBinding" />
			</service>
			<service name="NetSteps.Integrations.Service.InventoryAPI" behaviorConfiguration="Service.Behavior">
				<endpoint contract="NetSteps.Integrations.Service.Interfaces.IInventoryAPI" binding="basicHttpBinding" bindingConfiguration="IntegrationsBindingConfigurationBasicHttpBinding" />
			</service>
			<service name="NetSteps.Integrations.Service.CommissionAPI" behaviorConfiguration="Service.Behavior">
				<endpoint contract="NetSteps.Integrations.Service.Interfaces.ICommissionAPI" binding="basicHttpBinding" bindingConfiguration="IntegrationsBindingConfigurationBasicHttpBinding" />
			</service>
      <service name="NetSteps.Integrations.Service.AccountAPI" behaviorConfiguration="Service.Behavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="IntegrationsBindingConfigurationBasicHttpBinding" contract="NetSteps.Integrations.Service.Interfaces.IAccount" />
      </service>


      <!--SAP Integration-->
      <service name="NetSteps.Integrations.Service.SAPIntegration" behaviorConfiguration="Service.Behavior">
        <endpoint contract="NetSteps.Integrations.Service.Interfaces.ISAPIntegration" binding="basicHttpBinding" bindingConfiguration="IntegrationsBindingConfigurationBasicHttpBinding" />
      </service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Service.Behavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4" />
		<switches>
			<add name="NetSteps" value="All" />
		</switches>
		<sources>
			<source name="BelcorpUSA" switchName="NetSteps" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="EventLog" />
				</listeners>
			</source>
			<source name="NetSteps" switchName="NetSteps" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="EventLog" />
				</listeners>
			</source>
			<source name="WCFAPI" switchName="NetSteps" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="EventLog" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add type="NetSteps.Diagnostics.Utilities.Listeners.CustomEventLogTraceListener, NetSteps.Diagnostics.Utilities" name="EventLog" />
		</sharedListeners>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Fasterflect" publicKeyToken="38d18473284c1ca7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0" newVersion="2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FlitBit.Emit" publicKeyToken="38f03d0878531ff3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.8.6.0" newVersion="2.8.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FlitBit.Wireup" publicKeyToken="38f03d0878531ff3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.5.6.0" newVersion="2.5.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FlitBit.Core" publicKeyToken="38f03d0878531ff3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.11.4.0" newVersion="2.11.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>