<?xml version="1.0"?>
<!--Miche-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<netsteps.identify tenant="Miche" environment="dev" component="ncCore" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
  <connectionStrings xdt:Transform="Replace">
    <add name="NetStepsEntities" connectionString="metadata=res://*/DataEntities.NetStepsDB.csdl|res://*/DataEntities.NetStepsDB.ssdl|res://*/DataEntities.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACore;Persist Security Info=True;Integrated Security=SSPI;Application Name=WCF;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="NetStepsCommissionsDBContainer" connectionString="metadata=res://*/DataEntities.Commissions.NetStepsCommissionsDB.csdl|res://*/DataEntities.Commissions.NetStepsCommissionsDB.ssdl|res://*/DataEntities.Commissions.NetStepsCommissionsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=WCF;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACore;Persist Security Info=True;Integrated Security=SSPI;Application Name=WCF;MultipleActiveResultSets=True" />
    <add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSAMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=WCF;MultipleActiveResultSets=True" />
    <add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=WCF;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="dbconn" value="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACore;Persist Security Info=True;Integrated Security=SSPI;Pooling=False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
