<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="netSteps">
      <sectionGroup name="web">
        <sectionGroup name="validation">
          <section name="htmlValidation" type="NetSteps.Web.Validation.Configuration.HtmlValidationConfigurationSection, NetSteps.Web.Validation" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <netSteps>
    <web>
      <validation>
        <htmlValidation validateHtml="true" validateScripts="true" scriptRegex="" />
      </validation>
    </web>
  </netSteps>
</configuration>