@model DistributorBackOffice.Areas.Orders.Models.Fundraisers.PhoneNumber

<div class="data" id="phone">(@Html.TextBoxFor(m => m.AreaCode, new {maxlength = 3, size=3, style="width: 30px;", id="txtAreaCode"}))&nbsp; @Html.TextBoxFor(m => m.FirstThree, new { maxlength = 3, size = 3, id="txtFirstThree", style = "width: 30px;" })&nbsp;-&nbsp; @Html.TextBoxFor(m => m.LastFour, new { maxlength = 4, size = 4, style = "width: 40px;", id="txtLastFour" })</div>