<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="netStepsAuthorization" type="NetSteps.Authorization.Common.Configuration.AuthorizationConfiguration, NetSteps.Authorization.Common" />
  </configSections>
  <netStepsAuthorization>
    <disabledFunctions>
      <add name="ToBeBlockedByConfig" />
    </disabledFunctions>
  </netStepsAuthorization>
</configuration>