<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="netStepsAuthorization" type="NetSteps.Authorization.Common.Configuration.AuthorizationConfiguration, NetSteps.Authorization.Common" />
  </configSections>
  <netStepsAuthorization>
    <disabledFunctions>
      <add name="Commissions" />
      <add name="Commissions-Run Commissions" />
      <add name="Commissions-Publish Commissions" />
      <add name="Performance-Performance Overview" />
      <add name="Performance-Flat Downline" />
      <add name="Performance-Export Excel" />
      <add name="Performance-Email Downline" />
      <add name="Performance-Email All Downline" />
      <add name="Performance-Graphical Downline" />
      <add name="Performance-Sponsor Search" />
      <add name="Accounts-Commission Ledger" />
      <add name="Accounts-Add Commission Ledger Entry" />
      <add name="Accounts-Title Overrides" />
      <add name="Accounts-Add Product Credit Ledger Entry" />
      <add name="Accounts-Product Credit Ledger" />
    </disabledFunctions>
  </netStepsAuthorization>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.106.0" newVersion="2.4.106.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fasterflect" publicKeyToken="38d18473284c1ca7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>