<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <sectionGroup name="PaymentGateways" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <!--<section name="AuthorizeNet" type="NetSteps.Common.Configuration.PaymentGatewaySection, NetSteps.Common" />-->
      <section name="ProPayPaymentGateway" type="NetSteps.Common.Configuration.PaymentGatewaySection, NetSteps.Common" />
      <section name="ProPayPaymentGatewayCanada" type="NetSteps.Common.Configuration.PaymentGatewaySection, NetSteps.Common" />
      <!--<section name="Port1" type="NetSteps.Common.Configuration.PaymentGatewayConfiguration"></section>-->
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <castle>
    <components>
      <!--<component id="ProductRepository"
								service="NetSteps.Data.Entities.Repositories.IProductRepository, NetSteps.Data.Entities"
								type="NetSteps.Data.Entities.Repositories.FakeProductRepository, NetSteps.Data.Entities">
								<parameters>
										<connectionString>your connection string goes here</connectionString>
								</parameters>
						</component>-->
      <component id="AutoshipProcessor" service="NetSteps.Data.Entities.Interfaces.IAutoshipProcessor, NetSteps.Data.Entities" type="NetSteps.Data.Entities.Processors.AutoshipProcessor, NetSteps.Data.Entities" />
      <component id="GeoCodeProvider" service="NetSteps.Common.Globalization.IGeoCodeProvider, NetSteps.Common" type="NetSteps.Common.Globalization.GoogleGeoCodeProvider, NetSteps.Common"></component>
    </components>
  </castle>
  <!--<PaymentGateways>
		<AuthorizeNet configProtectionProvider="DataProtectionConfigurationProvider">
			<EncryptedData>
				<CipherData>
					<CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA3zuifC18Q0OR1Q/VhBD5wgQAAAACAAAAAAADZgAAwAAAABAAAADXA4cBiTkbjXelbFqS1En6AAAAAASAAACgAAAAEAAAAIvjaZdCN0fCmS2MiueBW7s4AQAAOpVJg3ttp5dhT1mmjK9X4b/Er+AT0E3Gx/AQUeeoDEO7GXM+xcV8Z+pSisUr2CO/V4xkwPJeFNEIGz3xJAauRRbHUC3wYptl5Kaxae0bBP07nsBwCvLBwbvy34gUXNS9tvjm85ANQARFGkwefv0gJqcXy/sIwvEYsywbJWpgpH44BlzrVJajH7hg6d4D7Xuyeb4BPbIB0ehNFM2NGRn8WtALG634FmI0Asz+umBCfM+ZEaY5O6DH4YQN2pndD847EmIOkhOK031hYMHGtLyCdb6SqAm3NKwrPcL7jos9FbLb0UJabPeDFx+HfgVx6wmVW8TkRxaGwnpQCf1Z8rv1vlItHbnyFa2z9vXHCa7PWiNzvLi9yiSiPo5QnzQl+KPoRIIluJCMARK8d81X/sTNQOhdszxjdBRSFAAAAFa9hKycRvbIkMnWAcSrUnNj6W1s</CipherValue>
				</CipherData>
			</EncryptedData>
		</AuthorizeNet>
		-->
  <!--<PaymentGateway1 key="Financial_department" serial="9427" />-->
  <!--
	</PaymentGateways>-->
  <appSettings>
    <add key="ISOConfiguration" value="C:\Users\dstafford\Documents\Source\Framework\Websites\nsCore\ISOConfiguration.xml" />
    <add key="CurrentClient" value="Framework" />
    <add key="ApplicationSourceID" value="1" />
    <add key="LogErrors" value="True" />
    <add key="Domains" value="netsteps.com" />
    <add key="OverviewDays" value="30" />
    <add key="CorporateAccountID" value="30" />
    <add key="NSCoreSiteID" value="1" />
    <add key="StoreFrontID" value="1" />
    <add key="ImagesWebPath" value="http://localhost:40000/Images" />
    <!--<add key="ImagesWebPath" value="C:\inetpub\wwwroot\images\"/>-->
    <add key="HurricaneAccountId" value="1001" />
    <add key="EmailEventTrackingUri" value="http://links.netstepsdemo.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=ns-dev-sql01-n;Initial Catalog=EncoreCore;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=nsCore4;Max Pool Size=200" />
    <add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=ns-dev-sql01-n;Initial Catalog=EncoreMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsCore4;MultipleActiveResultSets=True" />
    <add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=ns-dev-sql01-n;Initial Catalog=EncoreCommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsCore4;MultipleActiveResultSets=True" />
  </connectionStrings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Debug" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="LogFile.log" footer="" formatter="Text Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="10000" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="DateTime" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Rolling Flat File Trace Listener" />
    </listeners>
    <formatters>
      <add template="{timestamp}, {win32ThreadId}, {category}, {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
    </formatters>
    <logFilters>
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category Filter">
        <categoryFilters>
          <add name="Debug" />
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Info">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <system.data>
    <DbProviderFactories>
      <add name="EF Caching Data Provider" invariant="EFCachingProvider" description="Caching Provider Wrapper" type="EFCachingProvider.EFCachingProviderFactory, EFCachingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fasterflect" publicKeyToken="38d18473284c1ca7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.0" newVersion="2.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FlitBit.Core" publicKeyToken="38f03d0878531ff3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.4.0" newVersion="2.11.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FlitBit.Wireup" publicKeyToken="38f03d0878531ff3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.6.0" newVersion="2.5.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FlitBit.Emit" publicKeyToken="38f03d0878531ff3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.6.0" newVersion="2.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>