/*Base Font Settings*/
/*Site Color Settings*/
/*Site Text Color Settings*/
/*Site Link Color Settings*/
/*Theme, BE SURE TO SET TO '0' if you want to control each color variable in the Color Settings*/
/*BorderSettings*/
/*Site Layout Settings*/
/*Visual Effects Settings*/
/*Alerts*/
/***********************************************/
/*$IconColor: $BodyLink;*/
/**********************************************************
* Mixins
**********************************************************/
/*.colorCheck(@c) when (lightness(@c) >= 50%) { background: darken(@c, 20%);
}
.colorCheck(@c) when (lightness(@c) < 50%) { background: lighten(@c, 15%);
}*/
/****************** Do Not Override This File, OR Make Any Client-Specific Customizations 
******************/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\000036}}
.NS-FL { float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\000037}}
.NS-FR { float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\000038}}
.NS-clr { display: block; clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\000039}}
.NS-inlineNav, .NS-flatList, .NS-flatUL, .NS-WidgetBody ul { margin: 0; padding: 0; list-style-type: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000310}}
.NS-inlineNav li { float: left; margin-right: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000311}}
.NS-inlineNav li a { display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000312}}
.NS-listNav li a { display: block; padding: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000313}}
.NS-dropDown { display: none; position: absolute; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000314}}
.NS-center { text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000315}}
.NS-bold { font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000316}}
.NS-pad10 { padding: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000317}}
.NS-pad5 { padding: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000318}}
.NS-pad2 { padding: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000319}}
.NS-mr10 { margin-right: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000320}}
.NS-ml10 { margin-left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000321}}
.NS-mb10 { margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000322}}
.NS-mt10 { margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000323}}
hr { border: none; border-bottom: 1px dotted silver; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000324}}
.splitCol40 { width: 38%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000325}}
.splitCol60 { width: 58%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000327}}
.WelcomeBlock.SectionHeader { margin-bottom: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000328}}
.WelcomeBlock.SectionHeader a { font-weight: bold; text-decoration: underline; }

/******************
PWS Admin Dashboard
******************/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000333}}
.NS-editablePwsWidgets { width: 75%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000336}}
.NS-editablePwsWidgets .section-MyPhoto { float: left; width: 200px; height: 230px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000340}}
.NS-editablePwsWidgets .section-MyPhoto .imagewrapper { text-align: center; padding: 10px; height: 180px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000346}}
.NS-editablePwsWidgets .section-MyStory { float: right; width: 70%; height: 230px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000348}}
.NS-editablePwsWidgets .section-MyStory .body { padding: 10px; height: 180px; overflow: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000354}}
.NS-editablePwsWidgets .section-Module { clear: both; height: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000357}}
.NS-editablePwsWidgets .section-Module .body { padding: 6px; height: 258px; overflow: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000363}}
.NS-editablePwsWidgets .section-Ad1, .NS-editablePwsWidgets .section-Ad2 { float: left; width: 47%; height: 241px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000368}}
.NS-editablePwsWidgets .section-Ad2 { float: right; margin-left: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000372}}
.NS-editablePwsWidgets .section-Ad1 .body, .NS-editablePwsWidgets .section-Ad2 .body { padding: 6px; height: 199px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000377}}
.NS-editablePwsWidgets .section-GoogleAnalyticTrackerID { clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000379}}
.NS-editablePwsWidgets .section-GoogleAnalyticTrackerID .body { text-align: center; padding: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000389}}
.section-WebsiteName .siteNameCurrent { text-align: center; font-weight: bold; padding: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\0000399}}
.section-DisplayInfo { height: 795px; margin-right: 15px; float: left; margin-bottom: 0 !important; width: 23%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003105}}
.section-DisplayInfo .GridUtility { margin: 0 5px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003107}}
.section-DisplayInfo .GridUtility .FormSubmit { padding: 0; overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003111}}
.section-DisplayInfo .FormContainer { border: 0; background: transparent; padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003114}}
.section-DisplayInfo .FRow { margin: 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003116}}
.section-DisplayInfo .FRow.displayText { margin-bottom: 15px; padding: 5px 5px 0; border: 1px solid #d1d3d4; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003120}}
.section-DisplayInfo .FRow.displayText .FLabel { font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003123}}
.section-DisplayInfo .FRow.displayText input[type="text"] { margin: 5px 0; width: 97%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003127}}
.section-DisplayInfo .FRow.displayText .FInput { overflow: hidden; margin-bottom: 0; float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003131}}
.section-DisplayInfo .FRow.displayText .FInput input[type="checkbox"] { margin: 5px 5px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003136}}
.section-DisplayInfo .FRow.showHide { line-height: 24px; font-size: 90%; padding: 1px 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003140}}
.section-DisplayInfo .FRow.showHide .FLabel { width: auto; margin-right: 5px; font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003145}}
.section-DisplayInfo .FRow.showHide.hidden { background: #999999; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003156}}
#EditSectionDisplayInfo.section-DisplayInfo { position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003158}}
#EditSectionDisplayInfo.section-DisplayInfo .FLabel { float: none; display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003164}}
#EditSectionDisplayInfo.section-DisplayInfo .FRow.showHide .FInput { float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003171}}
#EditSectionDisplayInfo.section-DisplayInfo .UI-secBg.GridUtility a#btnSave { margin-right: 5px; }

/* Generated in _Site.cshtml */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003181}}
#ThemePreview { background-color: #fff; width: 100%; height: 180px; border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; }

/******************
Content Library
******************/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003186}}
#myLibrary .libraryTitle a#btnAdd { line-height: 26px; height: 26px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003187}}
#library .item { cursor: pointer; padding: 5px; margin: 0 10px 10px 0; float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003188}}
#library .item .titlecontent { display: block; height: 75px; width: 75px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003189}}
.contentPreviewTitle { background: url(../Images/EditMode/bottomcarrot.gif) no-repeat bottom left; margin-top: 5px; padding: 10px; background: #e7e7e7; border: solid #d1d3d4; border-width: 1px 1px 0; border-radius: 5px 5px 0 0; -mox-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003199}}
#previewContainer { padding-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003200}}
#previewContainer .body { overflow: auto; padding: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003201}}
#previewContainer .imagewrapper { text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003202}}
#previewContainer .body .imagewrapper { text-align: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003203}}
.contentUtility a span { float: left; padding: 0px; line-height: 24px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003204}}
#preview { padding: 2px; border: solid #d1d3d4; border-width: 0 1px 1px; border-radius: 0 0 5px 5px; -mox-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; }

/******************
Content Control Widgets
******************/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003209}}
.emBreadCrumbs { padding-bottom: 10px; text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003210}}
.emWidget { border: 1px solid #cdcdcd; margin-bottom: 10px; background-color: #fff; text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003211}}
.emWidget .body { overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003212}}
.emWidget .Inner { padding: 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003214}}
.emWidgetTitle { background: white; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */ background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, white 0%, #d6d6d6 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d6d6d6)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, white 0%, #d6d6d6 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, white 0%, #d6d6d6 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, white 0%, #d6d6d6 100%); /* IE10+ */ background: linear-gradient(top, #ffffff 0%, #d6d6d6 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-8 */ height: 30px; overflow: hidden; color: #000; text-shadow: 0 1px 0 white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003227}}
.emWidgetTitle span, .emWidgetTitle a { display: block; line-height: 30px; padding: 0 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003228}}
.emWidget li a { color: #0079BA; }

/******************
New Content Window 
******************/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Development\/BeautyCounter\/branches\/1\.9\.PWS\/framework\/Websites\/nsDistributor\/Content\/SASS\/Edit\.scss}line{font-family:\00003233}}
.ContentChoiceName input.TextInput { width: 98%; padding: 5px; }
