
body {margin:0; padding:0; line-height: 1.4em; word-spacing:1px; letter-spacing:0.2px; color: #000;background:#fff;font: 12px Arial, Helvetica,"Lucida Grande", serif;}
#SiteContain, #PageContain, #TopPane {background:none;}

#TopPane .TopInner, #TopPane {height:95px;}

#Footer, .checkOutSteps, .btnPrintReceipt, .btnContinueShopping, .CartThumb img, .TagLine, #SiteUserUtilities, #SiteNav, .steps, h2.step, .enrollmentContentPane a.Button.MinorButton, #DistributorInfo  {display:none;}

.UI-mainBg {background-color:#ffffff;color:#000000;}

#Logo {float:right;}
#Logo img {max-width:150px;max-height:80px;}

.checkoutContentPane {width:100%;}
.enrollmentContentPane {padding-left:0;}

.TablePane {margin-top:20px;border-top:1px solid #000000;}
.TablePane h3 {font-size:1.25em;font-weight:bold;padding:10px 0 10px 0;}

.receiptOrderNumber h3 {font-weight:bold;}

.finalOrderTotals {padding:20px;border-top:1px solid #000000;border-bottom:1px solid #000000;border-radius:0;-webkit-border-radius:0;font-weight:bold;}

