/***************
Home Page Template 2B
***************/

.Home #ColumnCms1 {float:left;}
.Home #ColumnCms2 {float:right;}
.LeftContentColumn, .RightContentColumn {width:480px;}
.LeftContentColumn .copy, .RightContentColumn .copy {margin:10px 20px 0 70px}

.homeCol_a {float:left;width:215px;}
.homeCol_b {}
.SideColumn, .LeftColumn {float:left;width:220px;overflow:hidden;margin-right:20px;}


.homeCol_a  {float:none;width:auto;}
.homeCol_b  {float:none;width:100%;}
.enrollmentCol_a {display:block;}
.enrollmentCol_b {display:block;}
.enrollmentCol_a .enrollCTA {float:left;width:445px;}



.block1, .columnCmsBlocks  {overflow:hidden;clear:both;}
.block1, .block4, .block5 {}
.block2, .block3 { float: none;}
.block2 {text-align:left;}
.columnCmsBlocks .columnCms {overflow:hidden;}
.NewsTickerWrapper {margin:0;padding:0;}


/*********
News Block
**********/
.NewsTickerWrapper .UI-cycle-icon {margin-top:60px;cursor:pointer;}
.NewsTickerWrapper {height:200px;}
#NewsTicker {width:640px;height:140px;margin-left:20px;position:relative;margin-top:20px;}
#NewsTicker #NewsList {height:100%;margin:0;padding:0;overflow:visible !important;}
#NewsTicker #NewsList li {margin:0 20px;overflow:hidden;width:95% !important;height:140px;}
#NewsTicker #NewsList li img {width:116px;max-height:133px;}
#NewsTicker #NewsList li div {width:81%;overflow:hidden;}


/*********
News Roll
**********/
.NewsRollWrapper .icon-arrowUp, .NewsRollWrapper .icon-arrowDown {cursor:pointer;display:block;}
.NewsRollWrapper, #NewsRoller {width:200px;}
#NewsRoller {margin:10px 0;}
#NewsRoller .slide {height:370px;}
#NewsRoller .slide p {margin:0 0 10px;padding:0 0 10px;}

#SlideshowContainer {z-index:1000;}
#SlideshowContainer #SlideshowNav {position:absolute;z-index:20;}
#SlideshowContainer #SlideshowNav a {margin:0 12px 10px 0;width:71px;height:44px;overflow:hidden;opacity:.25;-moz-opacity:.25;}
#SlideshowContainer #SlideshowNav a:hover, #SlideshowContainer #SlideshowNav a.activeSlide {opacity:100;-moz-opacity:100;-webkit-opacity:100;}
#SlideshowContainer #xSlideshowNav a.activeSlide, #SlideshowContainer #xSlideshowNav a:hover {background:url(../Images/Slideshow/UI-slideshow-bullets.png) no-repeat right 0;}

.icon-slideshow-bullet.activeSlide, .icon-slideshow-bullet:hover {opacity:100;-moz-opacity:100;} 
.icon-slideshow-bullet { background-position: 0 -858px; width: 17px; height: 18px; } 

#Slideshow, #Slideshow li {width:960px; height:351px;list-style-type:none;}
#Slideshow h2 {font-size:40px;}
#Slideshow ul.flatList {margin-top:20px;width:400px;}
#Slideshow ul.flatList li {float:none;width:auto;height:auto;list-style-type:disc;line-height:20px;margin:5px 0 0;}

#Slide1 .Button {margin:40px 0 0 40px;}

#Slide2 h2 {margin:70px 0 0 170px;}
#Slide2 ul.flatList {margin-left:185px;}
#Slide2 .Button {margin:20px 0 0 170px;}

#Slide3 h2 {margin:70px 0 0 430px;}
#Slide3 ul.flatList {margin-left:445px;}
#Slide3 .Button {margin:20px 0 0 430px;}

.smallTextBlock, .largeTextBlock {color:White;letter-spacing:3px;}
.smallTextBlock {font-size:26px;}
.largeTextBlock {font-size:60px;}

.slide .smallTextBlock, .slide .largeTextBlock {display:block;}
.slide .smallTextBlock.top {margin:30px 0 0 80px;}
.slide .smallTextBlock.bottom {margin:0 0 0 225px;}
.slide .largeTextBlock {margin:0 0 0 40px;line-height:55px;}