@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
    <title>Error</title>
</head>
<body>
    <div>
        Ooops, somethin' broke!&nbsp;&nbsp;:,&gt;
    </div>
</body>
</html>
