.jasmine_reporter
{
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.jasmine_reporter.inactive
{
	height: 98px;
	opacity: .8;
}

.jasmine_reporter.active
{
	height: 70%;
}

.jasmine_reporter .exceptions 
{
	display: none;
}

.DataGrid
{
    width: 75%;
    margin-left: 150px;
    margin-right: 150px;
}

thead
{
    color: white;
    background-color: black;
}


#CartItems td
{
    padding: 0px;
    
}

.Totals
{
    margin-left: 400px;    
}

#totals 
{
    float: right;
    text-decoration: underline;
}