<?xml version="1.0"?>
<!--Framework-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <customSettings xdt:Transform="Replace">
        <!--Testing / Staging-->
        <hurricaneMailClients>
            <add
                name="FrameworkDemo"
                hurricaneAccountId="1001"
                databaseVersion="5.0"
                connectionString="Data Source=10.100.0.57;Initial Catalog=NSFramework_Mail_Test;User ID=siteuser;Password=q3T0urn3y;"
                enableLocalDelivery="true"
                attachmentFolderPath="C:\inetpub\wwwroot\FileUploads\Attachments"
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
            <add
                name="FrameworkTest"
                hurricaneAccountId="1004"
                attachmentFolderPath="C:\inetpub\wwwroot\FileUploads\Attachments"/>
            <add
                name="micheqa"
                hurricaneAccountId="1005"
                databaseVersion="5.0"
                connectionString="Data Source=10.130.0.50\qa_miche;Initial Catalog=MicheMail;User ID=siteuser;Password=q3T0urn3y;"
                enableLocalDelivery="true"
                attachmentFolderPath="\\cluster1fs\Miche\Testing\FileUploads\Attachments"
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
            <add
                name="itworksqa"
                hurricaneAccountId="1006"
                databaseVersion="5.0"
                connectionString="Data Source=10.130.0.50\qa_itworks;Initial Catalog=ItWorksMail;User ID=siteuser;Password=q3T0urn3y;"
                enableLocalDelivery="true"
                attachmentFolderPath="\\cluster1fs\ItWorks\Testing\FileUploads\Attachments"
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
            <add
                name="EncoreTesting"
                hurricaneAccountId="1009"
                databaseVersion="5.0"
                connectionString="Data Source=10.130.0.50\encore;Initial Catalog=NSFramework_Mail_Test;User ID=siteuser;Password=q3T0urn3y;"
                enableLocalDelivery="true"
                attachmentFolderPath="\\cluster1fs\Clients\Encore\Testing\FileUplaods\Attachments"
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
            <add
                name="SavviTesting"
                hurricaneAccountId="1010"
                databaseVersion="5.0"
                connectionString="Data Source=10.130.0.50\qa_savvi;Initial Catalog=SavviMail;User ID=siteuser;Password=q3T0urn3y;"
                enableLocalDelivery="true"
                attachmentFolderPath="\\cluster1fs\Savvi\Testing\FileUploads\Attachments"
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
            <add
                name="michestaging"
                hurricaneAccountId="1012"
                databaseVersion="5.0"
                connectionString="Data Source=10.100.0.57\staging_miche;Initial Catalog=MicheMail;User ID=siteuser;Password=q3T0urn3y;"
                enableLocalDelivery="true"
                attachmentFolderPath="\\cluster1fs\Miche\Staging\FileUploads\Attachments"
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
            <add 
                name="JewelKadeStaging" 
                hurricaneAccountId="1013" 
                databaseVersion="5.0"
                connectionString="Data Source=10.100.0.57\jewelkade;Initial Catalog=JewelKadeMail;User ID=siteuser;Password=q3T0urn3y;"
                enableLocalDelivery="true" 
                attachmentFolderPath="\\cluster1fs\JewelKade\Staging\FileUploads\Attachments" 
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
        </hurricaneMailClients>
    </customSettings>
</configuration>