<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="customSettings" type="NetSteps.Hurricane.Plugin.CustomSettings, NetSteps.Hurricane.Plugin" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- This is a comma separated list of IPs that are allowed to relay through the server.
             This should be the IPs where the QueueProcessor is running. A star is valid at the end. -->
    <add key="LocalIPList" value="127.0.0.1,192.168.*,10.100.0.*,10.130.0.*" />
  </appSettings>
  <customSettings>
    <hurricaneMailClients>
      <add name="ZriiTesting" databaseVersion="4.0" connectionString="Data Source=192.168.2.250;Initial Catalog=Zrii_Test_Mail;User ID=zrii_sql;Password=W3lcome-7;" enableLocalDelivery="true" attachmentFolderPath="\\192.168.2.39\WebSites\nsCore5FileUploads\Attachments" enableAutoForward="true" autoForwardAccountTypeId="1" autoForwardDisclaimerSiteId="421" autoForwardDisclaimerSectionNameHtml="Forwarded Email HTML" autoForwardDisclaimerSectionNameText="Forwarded Email Text" />
      <add name="NaturaStaging" hurricaneAccountId="1001" overrideMailFrom="noreply@naturastaging.fr" overrideSender="noreply@naturastaging.fr" />
      <add name="EncoreDebug" hurricaneAccountId="1004" databaseVersion="5.0" connectionString="Data Source=192.168.2.250;Initial Catalog=EncoreMail;User ID=siteuser;Password=q3T0urn3y;" enableLocalDelivery="true" attachmentFolderPath="\\192.168.2.16\Shared Applications\Encore\Debug\FileUploads\Attachments" enableRecipientStatusUpdates="true" enableMessageTracking="true" />
    </hurricaneMailClients>
  </customSettings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Debug">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\Plugin.log" footer="" formatter="Text Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" timeStampPattern="yyyy-MM-dd" maxArchivedFiles="30" traceOutputOptions="DateTime" />
    </listeners>
    <formatters>
      <add name="Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp}, {win32ThreadId}, {category}, {message}" />
    </formatters>
    <logFilters>
      <add name="Category Filter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <categoryFilters>
          <!-- Uncomment to exclude debug messages from the log -->
          <!--<add name="Debug" />-->
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Warning">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Info">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.53.0" newVersion="2.4.53.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>