<?xml version="1.0"?>
<!--Framework-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <customSettings xdt:Transform="Replace">
      <!--Release-->
      <hurricaneMailClients>
          <!--C7 clients
            <add
                name="micherelease"
                hurricaneAccountId="1001"
                databaseVersion="5.0"
                connectionString="Data Source=cluster2sql\clients01;Initial Catalog=MicheMail;User ID=michesiteuser;Password=kaRUfr8T92;"
                enableLocalDelivery="true"
                attachmentFolderPath="\\cluster1fs\Clients\Miche\Release\FileUploads\Attachments"
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
            <add
                name="itworksrelease"
                hurricaneAccountId="1002"
                databaseVersion="5.0"
                connectionString="Data Source=cluster2sql\clients01;Initial Catalog=ItWorksMail;User ID=itworkssiteuser;Password=u23kH89q;"
                enableLocalDelivery="true"
                attachmentFolderPath="\\cluster1fs\Clients\ItWorks\Release\FileUploads\Attachments"
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
            <add
                name="JewelKadeRelease"
                hurricaneAccountId="1003"
                databaseVersion="5.0"
                connectionString="Data Source=10.0.1.115\PRD_ENCORE01;Initial Catalog=JewelKadeMail;User ID=jewelkadesiteuser;Password=Y3nnd82553;"
                enableLocalDelivery="true"
                attachmentFolderPath="\\NS-COR-FS01-E\Clients\JewelKade\Release\FileUploads\Attachments"
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
            <add
                name="SavviProduction"
                hurricaneAccountId="1004"
                databaseVersion="5.0"
                connectionString="Data Source=cluster2sql\clients01;Initial Catalog=SavviMail;User ID=savvisiteuser;Password=ujF48138t0;"
                enableLocalDelivery="true"
                attachmentFolderPath="\\cluster1fs\Clients\Savvi\Release\FileUploads\Attachments"
                enableRecipientStatusUpdates="true"
                enableMessageTracking="true"/>
            <add
                name="natura"
                hurricaneAccountId="1006"
                databaseVersion="4.0"
                overrideMailFrom="noreply@naturabrasil.fr"
                overrideSender="noreply@naturabrasil.fr"/>
            <add
                name="NetStepsMail"
                hurricaneAccountId="1008"
                databaseVersion="5.0"/>
          -->
          <!--AWS clients
          <add
              name="avellaprod"
              hurricaneAccountId="1001"
              databaseVersion="5.0"
              connectionString="Data Source=AvellaProdENCORE01;Initial Catalog=AvellaMail;User ID=avellasiteuser;Password=g37XL5rM;"
              enableLocalDelivery="true"
              attachmentFolderPath="\\ns-cor-fs01-e.nslindon.com\Clients\Avella\Release\FileUploads\Attachments"
              enableRecipientStatusUpdates="true"
              enableMessageTracking="true"/>
          <add
              name="lbristaging"
              hurricaneAccountId="1002"
              databaseVersion="5.0"
              connectionString="Data Source=10.0.42.71\LBRI;Initial Catalog=LBriMail;User ID=siteuser;Password=q3T0urn3y;"
              enableLocalDelivery="true"
              attachmentFolderPath="\\ns-cor-fs01-e.nslindon.com\Clients\LBri\Staging\FileUploads\Attachments"
              enableRecipientStatusUpdates="true"
              enableMessageTracking="true"/>
          <add
              name="luluavenueprod"
              hurricaneAccountId="1003"
              databaseVersion="5.0"
              connectionString="Data Source=CCDProdEncore01;Initial Catalog=CCDMail;User ID=ccdsiteuser;Password=g37XL5rM;"
              enableLocalDelivery="true"
              attachmentFolderPath="\\ns-cor-fs01-e.nslindon.com\Clients\CharlesColvard\Release\FileUploads\Attachments"
              enableRecipientStatusUpdates="true"
              enableMessageTracking="true"/>
          <add
              name="jewelkadeprod"
              hurricaneAccountId="1005"
              databaseVersion="5.0"
              connectionString="Data Source=JewelKadeProdENCORE01;Initial Catalog=JewelKadeMail;User ID=jewelkadesiteuser;Password=Y3nnd82553"
              enableLocalDelivery="true"
              attachmentFolderPath="\\ns-cor-fs01-e.nslindon.com\Clients\JewelKade\Release\FileUploads\Attachments"
              enableRecipientStatusUpdates="true"
              enableMessageTracking="true"/>
          <add
              name="rendiprod"
              hurricaneAccountId="1006"
              databaseVersion="5.0"
              connectionString="Data Source=10.0.254.178\PRD_ENCORE04;Initial Catalog=RendiMail;User ID=rendisiteuser;Password=g37XL5rM"
              enableLocalDelivery="true"
              attachmentFolderPath="\\PTY-PRD-APP01-E.netsteps.local\FileUploads\Attachments"
              enableRecipientStatusUpdates="true"
              enableMessageTracking="true"/>
          <add
              name="lbriprod"
              hurricaneAccountId="1007"
              databaseVersion="5.0"
              connectionString="Data Source=LbriProdENCORE01;Initial Catalog=LBriMail;User ID=LBrisiteuser;Password=g37XL5rM"
              enableLocalDelivery="true"
              attachmentFolderPath="\\ns-cor-fs01-e.nslindon.com\Clients\LBri\Release\FileUploads\Attachments"
              enableRecipientStatusUpdates="true"
              enableMessageTracking="true"/>
          <add
              name="partyliteprod"
              hurricaneAccountId="1009"
              databaseVersion="5.0"
              connectionString="Data Source=CLS-PRD-SQL01-E.netsteps.local\PRD_ENCORE04;Initial Catalog=PartyLite20Mail;User ID=partylite20siteuser;Password=g37XL5rM;"
              enableLocalDelivery="true"
              attachmentFolderPath="\\ns-cor-fs01-e.nslindon.com\Clients\PartyLite\Prod\FileUploads"
              enableRecipientStatusUpdates="true"
              enableMessageTracking="true"/>
          <add
              name="goldcanyonprod"
              hurricaneAccountId="1013"
              databaseVersion="5.0"
              connectionString="Data Source=CLS-STG-SQL01-E.netsteps.local\GoldCanyon;Initial Catalog=GoldCanyonMail;User ID=siteuser;Password=q3T0urn3y;"
              enableLocalDelivery="true"
              attachmentFolderPath="\\GCY-STG-APP01-E.netsteps.local\FileUploads\Attachments"
              enableRecipientStatusUpdates="true"
              enableMessageTracking="true"/>
          -->
      </hurricaneMailClients>
  </customSettings>
</configuration>