<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <sectionGroup name="Netsteps">
            <section name="Configuration" type="NetSteps.Common.CustomConfigurationHandler, NetSteps.Common" restartOnExternalChanges="false" allowLocation="true"/>
        </sectionGroup>
    </configSections>

    <appSettings>
        <!-- This where attachments will be saved -->
        <add key="UploadFolder" value="C:\Development\ZriiMailBranch\Zrii\Websites\Zrii.DistTools.Web\App_Data"/>

        <!-- This is a comma separated list of IPs that are allowed to relay through the server. This should be the IPs where the QueueProcessor is running 
         a star is valid at the end
    -->
        <add key="LocalIPList" value="192.168.2.*"/>
    </appSettings>
    <!-- This is a list of different MailDBs that are handled by this hurricane server. The plugin will loop through all connection strings
       that are listed here and then load the domainnames from them-->
    <connectionStrings>
        <add name="MailDB1" connectionString="Data Source=192.168.2.167;Initial Catalog=Zrii_Mail;User ID=zrii;Password=zrii;" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Debug" logWarningsWhenNoCategoriesMatch="true">
        <listeners>
            <add fileName="c:\HurricanePluginLog\logFile.log" footer="" formatter="Text Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="10000" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="DateTime" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Rolling Flat File Trace Listener"/>
        </listeners>
        <formatters>
            <add template="{timestamp}, {win32ThreadId}, {category}, {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
        </formatters>
        <logFilters>
            <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Category Filter">
                <categoryFilters>
                    <add name="Debug"/>
                </categoryFilters>
            </add>
        </logFilters>
        <categorySources>
            <add switchValue="All" name="Error">
                <listeners>
                    <add name="Rolling Flat File Trace Listener"/>
                </listeners>
            </add>
            <add switchValue="All" name="Info">
                <listeners>
                    <add name="Rolling Flat File Trace Listener"/>
                </listeners>
            </add>
            <add switchValue="All" name="Debug">
                <listeners>
                    <add name="Rolling Flat File Trace Listener"/>
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events"/>
            <notProcessed switchValue="All" name="Unprocessed Category"/>
            <errors switchValue="All" name="Logging Errors &amp; Warnings"/>
        </specialSources>
    </loggingConfiguration>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
