@model NetSteps.Communication.UI.Common.IAccountAlertModalModel
<div style="width: 450px; z-index: 3000; display: none;" class="LModal jqmWindow jqmWindowAlert" data-accountAlertId="@Model.AccountAlertId">
    <h1 class="FL">@Model.PartialTitle</h1>
    <a href="javascript:void(0);" class="FR jqmClose" title="@Html.Term("Close")"><span>X</span></a>
    <span class="clr"></span>
    <div class="mContent">
        @Html.Partial(Model.PartialName)
    </div>
</div>
