<?xml version="1.0"?>
<!--Framework Release Configuration-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings xdt:Transform="Replace">
        <!--Savvi Release-->
        <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=10.100.0.7\savvi;Initial Catalog=SavviCore;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=nsCore5;Max Pool Size=200" />
        <add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=10.100.0.7\savvi;Initial Catalog=SavviMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsCore5;MultipleActiveResultSets=True" />
        <add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=10.100.0.7\savvi;Initial Catalog=SavviCommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsCore5;MultipleActiveResultSets=True" />
    </connectionStrings>
    <appSettings>
        <add key="Domains" value="savviqa.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="FileUploadAbsolutePath" value="\\cluster1fs\Clients\Savvi\Release\FileUploads" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="FileUploadWebPath" value="http://workstation.savvi.com/FileUploads" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="ServerIPs" value="10.100.0.143,10.100.0.144" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="DistributorWorkstationUrl" value="http://workstation.savviqa.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="SmtpServer" value="10.100.0.58" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="UseSmtpAuthentication" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="SmtpUserName" value="SavviProduction" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="SmtpPassword" value="savv1pr0duct10n" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="TestEmailAccount" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="SendAttempts" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="UploadFolder" value="\\cluster1fs\Clients\Savvi\Release\FileUploads\Attachments" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="HurricaneAccountId" value="1005" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="EmailEventTrackingUri" value="http://links.netstepsdemo.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
</configuration>