<?xml version="1.0" encoding="utf-8"?>
<!--Framework-->
<configuration>
	<configSections>
		<section name="netsteps.queueprocessor" type="NetSteps.QueueProcessing.Common.Configuration.QueueProcessingConfigurationSection, NetSteps.QueueProcessing.Common" />
		<section name="netsteps.wireup" type="NetSteps.Encore.Core.Wireup.WireupConfigurationSection, NetSteps.Encore.Core" />
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
		<sectionGroup name="PaymentGateways" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
			<section name="AuthorizeNet" type="NetSteps.Common.Configuration.PaymentGatewaySection, NetSteps.Common" />
			<!--<section name="Port1" type="NetSteps.Common.Configuration.PaymentGatewayConfiguration"></section>-->
		</sectionGroup>
		<!--<sectionGroup name="Netsteps">
	  <section name="Configuration" type="NetSteps.Common.CustomConfigurationHandler, NetSteps.Common" restartOnExternalChanges="false" allowLocation="true"/>
	</sectionGroup>-->
	</configSections>
	<netsteps.wireup>
		<assemblies>
			<add assembly="NetSteps.QueueProcessing.Service" />
			<add assembly="NetSteps.QueueProcessing.Modules.AutoshipReminder" />
			<add assembly="NetSteps.QueueProcessing.Modules.CampaignAction" />
			<add assembly="NetSteps.QueueProcessing.Modules.CampaignActionQueueItem" />
			<add assembly="NetSteps.QueueProcessing.Modules.CampaignAlert" />
			<add assembly="NetSteps.QueueProcessing.Modules.CampaignEmail" />
			<add assembly="NetSteps.QueueProcessing.Modules.DeviceNotification" />
			<add assembly="NetSteps.QueueProcessing.Modules.DomainEvent" />
			<add assembly="NetSteps.QueueProcessing.Modules.PartyGuestReminder" />
			<add assembly="NetSteps.QueueProcessing.Modules.SendMail" />
		</assemblies>
	</netsteps.wireup>
	<netsteps.queueprocessor>
		<processors>
			<add name="AutoshipReminderQueueProcessor" workerThreads="1" pollingIntervalMs="43200000" maxNumberToPoll="1" />
			<add name="CampaignActionQueueProcessor" workerThreads="1" pollingIntervalMs="60000" maxNumberToPoll="5000" />
			<add name="CampaignActionQueueItemQueueProcessor" workerThreads="1" pollingIntervalMs="60000" maxNumberToPoll="5000" />
			<add name="CampaignAlertQueueProcessor" workerThreads="10" pollingIntervalMs="15000" maxNumberToPoll="5000" />
			<add name="CampaignEmailQueueProcessor" workerThreads="10" pollingIntervalMs="15000" maxNumberToPoll="5000" />
			<add name="DeviceNotificationQueueProcessor" workerThreads="50" pollingIntervalMs="60000" maxNumberToPoll="5" />
			<add name="DomainEventQueueProcessor" workerThreads="50" pollingIntervalMs="15000" maxNumberToPoll="50" />
			<add name="PartyGuestReminderQueueProcessor" workerThreads="50" pollingIntervalMs="15000" maxNumberToPoll="43200000" />
			<add name="SendMailQueueProcessor" workerThreads="50" pollingIntervalMs="15000" maxNumberToPoll="5000" />
		</processors>
	</netsteps.queueprocessor>
	<castle>
		<components>
			<!--<component id="ProductRepository"
								service="NetSteps.Data.Entities.Repositories.IProductRepository, NetSteps.Data.Entities"
								type="NetSteps.Data.Entities.Repositories.FakeProductRepository, NetSteps.Data.Entities">
								<parameters>
										<connectionString>your connection string goes here</connectionString>
								</parameters>
						</component>-->
			<component id="GeoCodeProvider" service="NetSteps.Common.Globalization.IGeoCodeProvider, NetSteps.Common" type="NetSteps.Common.Globalization.GoogleGeoCodeProvider, NetSteps.Common"></component>
		</components>
	</castle>
	<appSettings>
		<add key="CurrentClient" value="Framework" />
		<add key="ApplicationSourceID" value="7" />
		<add key="LogErrors" value="True" />
		<add key="Domains" value="netsteps.com" />
		<add key="OverviewDays" value="30" />
		<add key="CorporateAccountID" value="2" />
		<add key="NSCoreSiteID" value="420" />
		<add key="StoreFrontID" value="1" />
		<add key="FileUploadAbsolutePath" value="\\netsteps.local\fileupload\qa\EncoreDemo" />
		<add key="FileUploadWebPath" value="http://test.netsteps.com/FileUploads" />
		<add key="DistributorWorkstationUrl" value="http://workstation.netstepsdemo.com" />
		<!--<add key="ImagesWebPath" value="C:\inetpub\wwwroot\images\"/>-->
		<add key="AccountNumbersEqualIdentity" value="true" />
		<add key="AccountNumbersAreNumeric" value="true" />
		<add key="OrderNumbersEqualIdentity" value="true" />
		<add key="OrderNumbersAreNumeric" value="true" />
		<add key="ServerIPs" value="" />
		<!--Semicolon separated list of ips in a farm environment-->
		<add key="PayForSites" value="true" />
		<!--Email Settings-->
		<add key="SmtpServer" value="10.130.0.66" />
		<add key="UseSmtpAuthentication" value="true" />
		<add key="SmtpUserName" value="frameworktest" />
		<add key="SmtpPassword" value="fram3worktest" />
		<add key="TestEmailAccount" value="nstestacct@gmail.com" />
		<!-- password: n3tst3ps -->
		<add key="SendAttempts" value="5" />
		<add key="UploadFolder" value="\\192.168.2.39\WebSites\nsCore5FileUploads\Attachments" />
		<!--<add key="ControlLibraries" value="NetSteps.Web.Mvc.Controls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="HurricaneAccountId" value="1004" />
		<add key="EmailEventTrackingUri" value="http://links.netstepsdemo.com" />
		<add key="MobileNewsNotificationUrl" value="http://mobile.netsteps.com/news/{0}" />
		<add key="MobileNewsNotification_MaxNumberToPoll" value="10000" />
	</appSettings>
	<connectionStrings>
		<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=EncoreDemoCore;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=nsCore5;Max Pool Size=200" />
		<add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=EncoreDemoMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsCore5;MultipleActiveResultSets=True" />
		<add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=EncoreDemoCommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsCore5;MultipleActiveResultSets=True" />
	</connectionStrings>
	<!--<Netsteps>
		<Configuration>
			<General AutoUpdateClientSchemaMode="Off" AutoUpdateSchemaMode="Off" LogLevel="1"/>
			<Database
				Sites="Data Source=10.100.0.57;Initial Catalog=EncoreCore;Integrated Security=SSPI;Application Name=nsCore5;"
				MailDB="Data Source=10.100.0.57;Initial Catalog=EncoreMail;Integrated Security=SSPI;Application Name=nsCore5;"
				Commissions="Data Source=10.100.0.57;Initial Catalog=EncoreCommissions;Integrated Security=SSPI;Application Name=nsCore5;"
				ReportsServer=""/>
			<FilePaths
				ImagesWebPath="http://www.randftesting.com/images/"
				ImagesRelativePath="http://localhost:8000/Image.ashx?cid={0}"
				AttachmentsAbsolutePath="C:\Inetpub\wwwroot\uploads\attachments"
				AttachmentsRelativePath="http://localhost/uploads/attachments"
				LogFilePath="C:\Development\NS3\Common\Tools\AutoEmailer\bin\Debug\SendMailQueue.log"/>
			<Urls WebsiteURL="http://test.netsteps.com/"/>
			-->
	<!-- Shane's test hurricane server-->
	<!--
			<Mail
				EmailDomainName="netsteps.com"
				SMTPServer="192.41.85.145"
				UseSMTPAuthentication="false"
				SMTPUserName="email_processor@netsteps.com"
				SMTPPassword="netmail"
				TestEmailAccount=""
				ThreadThreshold="50"
				SendAttempts="5"/>
			<Exceptions LogErrors="true" ApplicationName="AutoEmailer"/>
			<Debug IsDeveloperEnvironment="true" DevEmail="johnegbert@yahoo.com"/>
			<IDs NSCoreSiteID="421"/>
		</Configuration>
	</Netsteps>-->
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Debug" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add fileName="LogFile.log" footer="" formatter="Text Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="10000" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="DateTime" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Rolling Flat File Trace Listener" />
		</listeners>
		<formatters>
			<add template="{timestamp}, {win32ThreadId}, {category}, {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
		</formatters>
		<logFilters>
			<add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category Filter">
				<categoryFilters>
					<add name="Debug" />
				</categoryFilters>
			</add>
		</logFilters>
		<categorySources>
			<add switchValue="All" name="Error">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="Info">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="Debug">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings" />
		</specialSources>
	</loggingConfiguration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>