@import	"base";
@import	"mediaLibraryRules";
hr { border: none; border-bottom: 1px dotted #c0c0c0; }
.brALL { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.brYYNN { border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; }
.brNNYY { border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; }

.EditModeToolColumn { float: right; width: 290px; }
.EditModeContentColumn { float: left; width: 68%; }

.emBreadCrumbs { color: #999; }

.emFileURL { width: 150px; background-color: #E8E8E8; }


a.emButton { background: url(../images/EditMode/btns.png) no-repeat 0px -239px; color: #fff; height: 30px; display: -moz-inline-box; display: inline-block; overflow: hidden; font-weight: bold; font-size: 13px; border: 1px solid #0080BC; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; text-decoration: none; }
a.emButton:hover { background-position: 0px bottom; color: #fff; }
a.emSB { height: 19px; background-position: 0 -218px; font-weight: normal; font-size: 11px; color: #868686; border-color: #ababab; }
a.emSB span { line-height: 19px; padding: 0 5px 0 5px; }
a.emSB:hover { background-position: 0px -198px; color: #000; border-color: #868686; }

.emIconLink, .emIconText, .emIconLink.Delete { background: url(../Images/EditMode/iconset.png) no-repeat scroll left top transparent; display: block; height: 18px; overflow: hidden; width: 18px; }
.emIconLink span { display: block; margin-top: -500px; }

.emGrid { display: table; border-collapse: separate; border-spacing: 0; width: 100%; margin: 10px 0 10px 0; }
.emGrid > div {float:left;}
.emGrid.UI-secBg {background:#474749;border-bottom:1px solid #fff;}
.emGrid.UI-secBg div {padding-bottom:100px;margin-bottom:-94px;}
.NS-qq-upload {padding:15px 8px;line-height:normal;}

.emMediaLibrary { }
.emLibraryFolders, #uploadNewFile { width: 20%;text-align: center; }
.emLibraryBrowser { width: 60%; }
.emLibraryFolders ul { margin-bottom: 10px; text-align: left; }
.emLibraryFolders li { border-bottom: 1px dotted #b4b4b4;margin-left:5px; }
.emLibraryFolders li.current {@include BoxShadow2(0 0 3px rgba(0,0,0,.3), standard);}
.emLibraryFolders li a { display: block; color: #000; padding: 3px 5px 3px 5px;outline:none; }
.emLibraryFolders li a:hover, .emLibraryFolders li.current a { background: #fff; }
.emLibraryContent { display: block; }
.emMediaThumb { width: 150px; height: 100px; border-right: 1px dotted #c0c0c0; }
.emMediaUploader .uploadedFile { width: 200px; }
.NS-delete-hover {background:rgba(255,0,0,.1) !important;}
.changeViewIcon.active {background:#fff;}