@model nsCore.Areas.Enrollment.Models.Shared.EnrollMenuOptionsModel
@*@Html.Raw(Html.DropDownNavigation(Html.Term("EnrollaNewAccount", "Enroll a new account"), "~/Enrollment", Model.NavItems))*@
<li class="SubTab">
<a href="/Enrollment"><span>Criar Cadastro Pessoa</span></a>
<div class="DropDown" style="display: none;">
<ul>
<li><a href="/Admin/Users/Edit"><span>Colaborador</span></a></li>
</ul>
</span>
</div></li>