@font-face {
     font-family: 'MrsEavesRoman';
    src: url('/Content/usa/font/mrseavita-080413005EmigreWebOnly.eot');
    src: url('/Content/usa/font/mrseavita-080413005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('/Content/usa/font/mrseavita-080413005EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesRoman';
    src: url('/Content/usa/font/mrseavromlin-071211001EmigreWebOnly.eot');
    src: url('/Content/usa/font/mrseavromlin-071211001EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('/Content/usa/font/mrseavromlin-071211001EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@-moz-document url-prefix() { 
.ProductThumbBox .ProductInfo .imagewrapper {height: 17em;}
.ProductThumbBox .ProductInfo .productName {top: 19em;}
}/*@-moz-document*/


a{
color: #633A89;
}

.DataGrid th a {
color: #000;
text-decoration: none;
}
#fixed_nav {
z-index: 99999!important;
}
#DistributorInfo {
right: 0;
}
.ProductThumbBox .listingAddToCart {
padding: 0 3em!important;
width: 80%;
}
.productPrice{
width:58%;
}
.ProductThumbBox {
width: 17em;
}
.logInHeader h2 {
font-size: 1.3em;
padding-top: .5em;
font-family: 'MrsEavesRoman';
}
.signUpActionTitle h3 {
padding-bottom: 1%;
font-family: 'MrsEavesRoman';
}
#signUp h1 {
color: #633A89!important;
font-family: 'Noto Sans'!important;
}
.loginForm a.qmark_trigger{
display:none;
}
.signupBA span{
font-size: 125%;
font-weight: bold;
}
.signUpPane {
background: url(/Content/usa/images/loginbackground.jpg) no-repeat bottom right;
background-size: 56%;
}
#global-icon-wrapper{
border-top: 1px solid #E7E7E7;
}
#ContentWrap{
padding: 20px 0 0px 0!important;
}
.home-content {
border-bottom: 0!important;
}

#CartPreviewBody table.policy td, th {
border: 1px solid #CFCFCF;
text-align: center;
border-left: 0px;
border-right: 0px;
}
.UserPhoto {
margin-top: 6em;
margin-left: -6em;
}
.enrollmentCol_a h1{
font-family: 'lbel_script'!important;
font-size: 4em;
}
.enrollmentPane h2{
font-family: 'Noto Sans';
font-size:1.3em;
text-transform:initial;
}
.enrollmentPane p{
font-family: 'Noto Sans';
color: #585858;
}
.enrollmentCol_a label[for=CountryID], label[for=LanguageID] {
font-size: 1em;
top: -1em;
}
.enrollmentCol_a h2 {
font-size: 1.2em;
}
#SignUpActionList .actionItems {
font-family: 'Noto Sans'!important;
}
.FormContainer .FLabel {
margin-bottom: .2em;
font-family: 'Noto Sans';
}
.btnSignUp {
font-family: 'Noto Sans_900';
}
#btnExistingLogin {
font-family: 'Noto Sans_900'!important;
bottom: -9.5em!important;
}
#SignUpActionList {
margin-left: 3em;
}
.jqmClose {
padding: 0.6em;
text-transform:uppercase;
}
h1 {
color: #633A89;
font-family: 'Noto Sans'!important;
}
.activeCheckoutStep {
background: transparent;
color: red!important;
}
#btnSelectedShipping {
color: #633A89!important;
float:left;
margin-left: -1em;
}
.MainProfile {
border-right: 1px solid #E7E7E7;
width: 30%;
padding: 0;
}
.OtherProfiles {
margin-top: -1.1em;
margin-left: 1.5em;
}
.otherProfilesHeader {
padding: 0;
text-transform: uppercase;
text-transform:capitalize;
}
.otherProfilesHeader h2{
color: #5e5e5e;
font-size: 1.8em;
}
.profilesListWrap{
border:0;
}
.EditShippingProfile{
text-transform: uppercase;
font-family: 'Noto Sans_700';
float:left;
}
.shipMethodList .inlineNav li {
margin-bottom: 1em;
width:50%;
display: block;
clear:both;
}
.shipMethodList {
padding: 0;
border: 0;
padding-top: 1em;
}
.shipMethodInstruction{
display:none;
}
#applyPaymentColumn{
width:100%;
}
.sectionHeader{
font-family: 'Noto Sans'!important;
color: #633A89;
}
.Tabber.paymentsTabber li.current {
width: 12em;
}
.shipMethodList label, .paymentsTabber li label {
width: 12em;
}
.Tabber.paymentsTabber {
border: 0;
}
.Tabber.paymentsTabber, .Tabber.paymentsTabber li.current, .PaymentEntry, .applyPaymentBox, .customerPaymentsColumn .appliedPaymentsTable, .customerPaymentsColumn p, .BalanceDueContainer {
border: 0;
}
#creditCardEntry{
padding: 0;
width: 59%;
}
.amtApplyTitle{
text-align: left;
width: auto;
float: left;
}
a.ButtonInactive, a.ButtonInactive:hover{
display:none;
}
.receiptEnd{
margin-bottom: 3em;
}
.ContentInner h1 {
color: #633A89;
font-family: 'Noto Sans'!important;
}

 .kits {
background: white;
cursor: pointer;
height: 450px;
}

.kits input {
float: left;
margin: 2px 5px 0 0;
width: 2em;
height: 2em;
float: left;
}

.kits h2{
width: 100%;
display: block!important;
clear: both;
margin-top: 2em;
color: #633a89;
}

.kits p {
height: 100px;
overflow: hidden;
}

.kits select {
width: 95%;
}

.websiteReqGoBack, .websiteReqUskip{
text-decoration: underline;

}

.websiteReqUmsg{
color:black!important;
font-size: 14px!important;
}
 
 .FormContainer {
 font-size: 1.2em;
 }
 .AutoshipDetails ul {
list-style-type: decimal;
}
 .AutoshipDetails ul li {
margin-bottom: .4em;
border-bottom: 1px solid #ddd;
font-weight: bold;
}

.AutoshipDetails ul li a{
float:right;
}
.fullVolume{
margin: 2em 0
}
.FormContainer, .personalInfoForm  {
font-size:16px;
}
.pis {
margin: 0px 0px 20px;
}


















