<?xml version="1.0"?>
<!--BelcorpUSA-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
	<connectionStrings>
		<add name="KnownFactorsDataWarehouse" providerName="System.Data.SqlClient" connectionString="Data Source=belcorpdwstageinternal.knownfactors.com\stage;Initial Catalog=Belcorp_DW;Persist Security Info=True;Application Name=BelcorpUSADWS;MultipleActiveResultSets=True;User Id=belcorpsvc;Password=k6ZKTG4414M9;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<netsteps.identify environment="staging" xdt:Transform="SetAttributes" />
	<appSettings>
		<add key="FileUploadAbsolutePath" value="\\netsteps.local\fileupload\Staging\BelcorpUSA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="FileUploadAbsoluteWebPath" value="http://base.belcorpusa.com.staging.encore.belcorp.us/FileUploads/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EnvironmentLevelDomain" value=".staging.encore.belcorp.us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="BackOfficeUrl" value="http://workstation.belcorpusa.com.staging.encore.belcorp.us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RutaLogo" value="\\BUS-IF-FIL01-E\fileuploads\Staging\Logo\CompanyLogo.jpg" />
  </appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<sessionState mode="StateServer" timeout="120" cookieless="UseCookies" stateConnectionString="tcpip=BUS-STG-APP02-E:42424" xdt:Transform="SetAttributes"/>
	</system.web>
</configuration>