<?xml version="1.0"?>
<!--BelcorpUSA-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACore;Persist Security Info=True;Integrated Security=SSPI;Application Name=AutoShip;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSAMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=AutoShip;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Initial Catalog=BelcorpUSACommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=AutoShip;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<netsteps.identify environment="release" xdt:Transform="SetAttributes" />
	<appSettings>
		<add key="IsPaymentLiveMode" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="IsPaymentTestTransaction" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EnvironmentLevelDomain" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<AvataxConfig xdt:Transform="Replace">
		<add key="Url" value="https://avatax.avalara.net"/>
		<add key="ViaUrl" value=""/>
		<add key="RequestTimeout" value=""/>
		<add key="Account" value="1100136897"/>
		<add key="License" value="E902CD99B647B9EF"/>
		<add key="CompanyCode" value="VenturaInc"/>
		<add key="OriginAddressLine1" value="101 California St."/>
		<add key="OriginAddressLine2" value="Suite 800"/>
		<add key="OriginAddressLine3" value=""/>
		<add key="OriginAddressCity" value="San Francisco"/>
		<add key="OriginAddressRegion" value="CALIFORNIA"/>
		<add key="OriginAddressPostalCode" value="94111"/>
		<add key="OriginAddressCountry" value="US"/>
		<add key="ClientProfile" value="Encore,1.0"/>
		<add key="ShippingTaxCode" value="FR020100" />
		<add key="HandlingTaxCode" value="OH010000" />
	</AvataxConfig>
</configuration>
