@{
    Layout = "~/Views/Shared/_Site.cshtml";
}
@section head {
    @RenderSection("head", false)
}

<div class="accountColumn">
    <div class="ContentInner">
        @RenderBody()
    </div>
</div>
