<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="netsteps.wireup" type="NetSteps.Encore.Core.Wireup.WireupConfigurationSection, NetSteps.Encore.Core" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<netsteps.wireup>
		<assemblies>
			<add assembly="NetSteps.Data.Entities" />
			<add assembly="NetSteps.QueueProcessing.Service" />
		</assemblies>
	</netsteps.wireup>

	<connectionStrings>
		<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=CLS-STG-SQL01-E.netsteps.local\GoldCanyon;Initial Catalog=GoldCanyonCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=QueueProcessingService;Max Pool Size=200" />
		<add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=CLS-STG-SQL01-E.netsteps.local\GoldCanyon;Initial Catalog=GoldCanyonMail;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;Application Name=QueueProcessingService;MultipleActiveResultSets=True" />
		<add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=CLS-STG-SQL01-E.netsteps.local\GoldCanyon;Initial Catalog=GoldCanyonCommissions;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;Application Name=QueueProcessingService;MultipleActiveResultSets=True" />

		<add name="NetStepsEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=EncoreCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=nsCore4;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
		<add name="MailEntities" connectionString="metadata=res://*/EntityModels.Mail.MailDB.csdl|res://*/EntityModels.Mail.MailDB.ssdl|res://*/EntityModels.Mail.MailDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=EncoreMail;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;Application Name=nsCore4;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="CommissionsEntities" connectionString="metadata=res://*/EntityModels.Commissions.CommissionsDB.csdl|res://*/EntityModels.Commissions.CommissionsDB.ssdl|res://*/EntityModels.Commissions.CommissionsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=EncoreCommissions;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;Application Name=nsCore4;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=APPSERVER3\DEV_ENCORE01;Initial Catalog=GoldCanyonCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=AutoshipProcessorConsole;Max Pool Size=200" />
		<add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.2.250;Initial Catalog=EncoreMail;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;Application Name=nsCore4;MultipleActiveResultSets=True" />
		<add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.2.250;Initial Catalog=EncoreCommissions;Persist Security Info=True;User ID=siteuser;Password=q3T0urn3y;Application Name=nsCore4;MultipleActiveResultSets=True" />-->
		<!-- Client DBs for ConstantsGeneratedTests -->
		<add name="AvellaCoreEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250\DEV_ENCORE01;Initial Catalog=AvellaCoreDev;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=AutoshipProcessor;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
		<add name="CharlesColvardCoreEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=CCDCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=nsCore5;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
		<add name="GoldCanyonCoreEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=APPSERVER3\DEV_ENCORE01;Initial Catalog=GoldCanyonCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=AutoshipProcessorConsole;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
		<add name="ItWorksCoreEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=ItWorksCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=AutoshipProcessorConsole;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
		<add name="JewelKadeCoreEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=JewelKadeCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=AutoshipProcessorConsole;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
		<add name="LBriCoreEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=APPSERVER3\DEV_ENCORE01;Initial Catalog=LBriCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=AutoshipProcessorConsole;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
		<add name="MicheCoreEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=MicheCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=AutoshipProcessorConsole;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
		<add name="NaturaMexicoCoreEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=NaturaMexicoCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=AutoshipProcessorConsole;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
		<add name="NetStepsCorpCoreEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=NSCorpCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=nsBackOffice;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
		<add name="PartyLiteCoreEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=PartyLiteCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=nsCore5;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
		<add name="RendiCoreEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250\Dev_ENCORE01;Initial Catalog=RendiCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=nsCore5;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
		<add name="SavviCoreEntities" connectionString="metadata=res://*/EntityModels.Main.NetStepsDB.csdl|res://*/EntityModels.Main.NetStepsDB.ssdl|res://*/EntityModels.Main.NetStepsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.2.250;Initial Catalog=SavviCore;User ID=siteuser;Password=q3T0urn3y;MultipleActiveResultSets=True;Application Name=nsCore5;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.106.0" newVersion="2.4.106.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>