<table class="FormTable Section" width="100%">
	<tr>
		<td>
			<div id="outOfStockMessage" style="background: none repeat scroll 0pt 0pt rgb(254, 233, 233); border: 1px solid rgb(255, 0, 0); color: rgb(255, 0, 0); display: none;">
				@Html.Term("ProductsAreOutOfStock", "The following product(s) that you tried to add to your order are out of stock:")
				<ul id="outOfStockProducts">
				</ul>
			</div>
		</td>
	</tr>
</table>
