

<div id="savePendingChanges" class="UI-header">
    <div id="PendingChangesContainer">
        <div id="PendingChangesLeft">
        <a id="savePartyButton" href="javascript:void(0);" class="Button Cancel">@Html.JavascriptTerm("DWSPartySaveButtonText", "Save Party")</a>
        </div>
          <div id="PendingChangesRight">
              <h3>
                <div id="partyChangesMessage"></div>
              </h3>
         </div>
    </div>
</div>
