<!-- name/value Widget -->
<div class="FL PerfKPI kpiNameValue last">
    <div class="UI-secBg brdrAll pad5">
        <span>@Html.Term("PerformanceOverview", "Performance Overview")</span>
    </div>
    <div class="brdr1 body" id="">
        <div class="WidgetBody flatList" id="nameValueBody">
        </div>
    </div>
</div>
