<!-- Volume Widget -->
<div class="FL PerfKPI kpiVolume" id="kpiSV">
    <div class="UI-secBg brdrAll pad5">
        <span>@Html.Term("Sales Volume", "Sales Volume")</span>
    </div>
    <div class="brdr1 body">
        <div class="pad10 center">
            <div id="SalesIndicator" class="brdrAll pad10 Indicator Warn">
                <span class="Number"><span id="Volume"></span></span>
            </div>
            <p class="lawyer pad10">
                <span id="VolumeDescription">@Html.Term("RequiredVolumeWithAsterik", "* Your total sales volume must be a minimum of {0} in order to maintain your title", 150)</span></p>
        </div>
    </div>
</div>
