<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=BelcorpUSADatabase;Integrated Security=True;Connect Timeout=30;Pooling=False;Initial Catalog=BelcorpUSACommissions" />
		<add name="KnownFactorsDataWarehouse" providerName="System.Data.SqlClient" connectionString="Data Source=dw.knownfactors.com\prod;Initial Catalog=Belcorp_DW;Persist Security Info=True;Application Name=BelcorpUSAGMP;MultipleActiveResultSets=True;User Id=belcorpsvc;Password=G2QyBi0tjZ;" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>