<?xml version="1.0"?>
<!--Framework-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings xdt:Transform="Replace">
        <!--Testing-->
        <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=10.130.0.50\encore;Initial Catalog=NSFramework_Test;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=nsBackOffice;Max Pool Size=200" />
        <add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=10.130.0.50\encore;Initial Catalog=NSFramework_Mail_Test;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsBackOffice;MultipleActiveResultSets=True" />
        <add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=10.130.0.50\encore;Initial Catalog=NSFramework_Commissions_Test;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsBackOffice;MultipleActiveResultSets=True" />
    </connectionStrings>
    <appSettings>
        <add key="ISOConfiguration" value="C:\WebSites\ItWorks\nsCore\ISOConfiguration.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Domains" value="encoreqa.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
</configuration>