<?xml version="1.0"?>
<!--Framework CONFIG-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <!--Release-->
    <add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=10.100.0.57;Initial Catalog=NetStepsDemoCore;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=nsBackOffice;Max Pool Size=200" />
    <add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=10.100.0.57;Initial Catalog=NetStepsDemoMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsBackOffice;MultipleActiveResultSets=True" />
    <add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=10.100.0.57;Initial Catalog=NetStepsDemoCommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=nsBackOffice;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="Domains" value="netstepsdemo.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BackOfficeUrl" value="http://workstation.netstepsdemo.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FileUploadAbsolutePath" value="\\cluster1fs\Clients\NetStepsDemo\Release\FileUploads" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FileUploadWebPath" value="http://base.netstepsdemo.com/FileUploads" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerIPs" value="10.130.0.65" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UseSqlDependencyCache" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MvcMiniProfilerEnabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes" />
  </system.web>

  <location path="fileuploads" xdt:Transform="Remove" xdt:Locator="Match(path)"/>
  
</configuration>