<?xml version="1.0"?>
<!--Framework CONFIG-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings xdt:Transform="Replace">
		<!--Testing-->
		<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=CLS-QA-SQL01-E.netsteps.local\encore;Initial Catalog=EncoreCore;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=PWS;Max Pool Size=200" />
		<add name="Mail" providerName="System.Data.SqlClient" connectionString="Data Source=CLS-QA-SQL01-E.netsteps.local\encore;Initial Catalog=EncoreMail;Persist Security Info=True;Integrated Security=SSPI;Application Name=PWS;MultipleActiveResultSets=True" />
		<add name="Commissions" providerName="System.Data.SqlClient" connectionString="Data Source=CLS-QA-SQL01-E.netsteps.local\encore;Initial Catalog=EncoreCommissions;Persist Security Info=True;Integrated Security=SSPI;Application Name=PWS;MultipleActiveResultSets=True" />
	</connectionStrings>
	<appSettings>
		<add key="Domains" value="encoreqa.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="BackOfficeUrl" value="http://workstation.encore.com.encore.qa.netsteps.us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="FileUploadAbsolutePath" value="\\ENC-QA-APP01-E.netsteps.local\FileUploads" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="FileUploadWebPath" value="/FileUploads" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="FileUploadAbsoluteWebPath" value ="http://base.encore.com.encore.qa.netsteps.us/FileUploads" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ServerIPs" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="UseSqlDependencyCache" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="EnvironmentLevelDomain" value=".encore.qa.netsteps.us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.web>
		<customErrors mode="Off" xdt:Transform="SetAttributes" />
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>

  <location path="fileuploads" xdt:Transform="Remove" xdt:Locator="Match(path)"/>
  
</configuration>