<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="analytics" type="NetSteps.Sites.Service.Configuration.AnalyticsConfigurationSection, NetSteps.Sites.Service" />
    <section name="netsteps.sites" type="NetSteps.Sites.Service.Configuration.SitesConfigurationSection, NetSteps.Sites.Service" />
  </configSections>
  <analytics debug="true">
    <propertyIds>
      <add propertyId="test1" />
      <add propertyId="test2" />
    </propertyIds>
  </analytics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.109.0" newVersion="2.4.109.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>