<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DataModel.Entities.csdl|res://*/DataModel.Entities.ssdl|res://*/DataModel.Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CLS-STG-SQL01-E\STAGING_MICHE;initial catalog=MicheCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>