<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="netStepsAuthentication" type="NetSteps.Auth.Common.Configuration.AuthenticationConfiguration, NetSteps.Auth.Common" />
    <section name="netStepsAuthentication1" type="NetSteps.Auth.Common.Configuration.AuthenticationConfiguration, NetSteps.Auth.Common" />
    <section name="netStepsAuthentication2" type="NetSteps.Auth.Common.Configuration.AuthenticationConfiguration, NetSteps.Auth.Common" />
    <section name="netStepsAuthentication3" type="NetSteps.Auth.Common.Configuration.AuthenticationConfiguration, NetSteps.Auth.Common" />
  </configSections>
  <netStepsAuthentication>
    <providers>
      <addProvider name="NetSteps_AccountIDAuthenticationProvider" />
      <addProvider name="NetSteps_CorporateUsernameAuthenticationProvider" />
      <addProvider name="NetSteps_EmailAddressAuthenticationProvider" />
      <addProvider name="NetSteps_UsernameAuthenticationProvider" />
    </providers>
    <adminSettings>
      <addSetting name="enableForgotPassword" value="true" />
      <addSetting name="enableAdminUsernameField" value="false" />
    </adminSettings>
  </netStepsAuthentication>
  <netStepsAuthentication1>
    <providers>
      <addProvider name="NetSteps_AccountIDAuthenticationProvider" />
      <addProvider name="NetSteps_CorporateUsernameAuthenticationProvider" />
      <addProvider name="NetSteps_EmailAddressAuthenticationProvider" />
      <addProvider name="NetSteps_UsernameAuthenticationProvider" />
    </providers>
    <adminSettings>
      <addSetting name="enableForgotPassword" value="true" />
      <addSetting name="enableAdminUsernameField" value="false" />
    </adminSettings>
  </netStepsAuthentication1>
  <netStepsAuthentication2>
    <providers>
      <addProvider name="NetSteps_EmailAddressAuthenticationProvider" />
      <addProvider name="NetSteps_AccountIDAuthenticationProvider" />
      <addProvider name="NetSteps_CorporateUsernameAuthenticationProvider" />
    </providers>
    <adminSettings>
      <addSetting name="enableAdminUsernameField" value="true" />
    </adminSettings>
  </netStepsAuthentication2>
  <netStepsAuthentication3>
    <providers>
      <addProvider name="NetSteps_AccountIDAuthenticationProvider" />
      <addProvider name="NetSteps_EmailAddressAuthenticationProvider" />
    </providers>
  </netStepsAuthentication3>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NetSteps.Encore.Core" publicKeyToken="d116fce376e37d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.143.0" newVersion="2.4.143.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fasterflect" publicKeyToken="38d18473284c1ca7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>