<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- QAS configuration example -->
	<configSections>
		<section name="qasAddressValidator" type="AddressValidator.Qas.Config.QasAddressValidatorConfig" />
	</configSections>
	<qasAddressValidator endpointUrl ="https://ws2.ondemand.qas.com/ProOnDemand/V3/ProOnDemandService.asmx?WSDL" userName="9002b944-384" password="Iwg#2012" />
</configuration>